DEBUG=0
SECRET_KEY=insecure-production-secret-key
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] 0.0.0.0

DATABASE=postgres
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db-prod
SQL_PORT=5432

STATIC_ROOT=/opt/cavesapp/staticfiles
