{% extends "staff/_base.html" %}

{% block main %}
  <h1 class="title-underline">
    Statistics
  </h1>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Model</th>
          <th>Metric</th>
          <th>Day</th>
          <th>Week</th>
          <th>Month</th>
          <th>Year</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        {% for stats in statistics %}
          {% if stats.filesize %}
            <tr>
              <th>{{ stats.model_name|capfirst }}</th>
              <td>{{ stats.metric }}</td>
              <td>{{ stats.day|filesizeformat }}</td>
              <td>{{ stats.week|filesizeformat }}</td>
              <td>{{ stats.month|filesizeformat }}</td>
              <td>{{ stats.year|filesizeformat }}</td>
              <td>{{ stats.total|filesizeformat }}</td>
            </tr>
          {% else %}
            <tr>
              <th>{{ stats.model_name|capfirst }}</th>
              <td>{{ stats.metric }}</td>
              <td>{{ stats.day }}</td>
              <td>{{ stats.week }}</td>
              <td>{{ stats.month }}</td>
              <td>{{ stats.year }}</td>
              <td>{{ stats.total }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
