export PYTHONPATH="$(pwd):$(pwd)/app/"

if [ -f "$(pwd)/local.dev.env" ]; then
    source "$(pwd)/local.dev.env"
elif [ -f "$(pwd)/caves.app.env" ]; then
    export COMPOSE_FILE="compose.prod.yml"
    source "$(pwd)/caves.app.env"
fi