Django==4.1.7
django-htmx==1.14.0
django-timezone-field==5.0
django-widget-tweaks==1.4.12
django-countries==7.5.1
django-active-link==0.1.8
django-mailer==2.2
django-distance-field==1.2.5
django-markdownify==0.9.3
django-tinymce==3.6.1
django_debug_toolbar
itsdangerous==2.1.2
humanize==4.6.0
psycopg2==2.9.5
gunicorn==20.1.0
coverage
sentry-sdk
python-dotenv
pre-commit
tzdata
