Django==4.1.7
django-timezone-field==5.0
django-widget-tweaks==1.4.12
django-countries==7.5.1
django-active-link==0.1.8
django_debug_toolbar==3.8.1
pre-commit==3.1.0
itsdangerous==2.1.2
humanize==4.6.0
psycopg2==2.9.5
tzdata==2022.7
