<p>
  Hi {{ name }},
</p>

<br />

<p>
  Just a quick email to let you know that {{ commenter_name }} has left
  a new comment on a trip to {{ trip.cave_name }} on {{ trip.start|date }}.
</p>

<p>
  They said:
</p>

<p>
  {{ comment_content }}
</p>

<p>
  <a href="{{ SITE_ROOT }}{{ trip.get_absolute_url }}">
    <strong>
      Click here to view the trip
    </strong>
  </a>
</p>

<p>
  If you'd like to disable email notifications for this trip you can do so
  by clicking 'Unfollow' on the trip page. Alternatively, you can disable all
  email notifications of new comments by visiting the
  <a href="{{ SITE_ROOT }}{% url 'users:account_settings' %}">account settings</a> page.
</p>

<br />

<p>
  Thanks for using caves.app!
</p>

<br />

<p>
  Cheers,
</p>

<p>
  Andrew Northall<br/>
  admin@caves.app<br/>
</p>
