{% load active_link_tags %}

<div class="d-none d-lg-flex flex-column align-items-center text-center mb-4">
  {% if trip %}
    <div class="mb-4">
      {% if trip.user.avatar %}
        {% include "users/_profile_picture.html" with photo_user=trip.user %}
      {% else %}
        {% include "users/_profile_picture.html" %}
      {% endif %}
    </div>

    <strong>{{ trip.user.name }}</strong>
    <span class="text-muted mb-2">@{{ trip.user.username }}</span>
  {% endif %}
</div>

{% if user.is_authenticated %}
  {% if trip and user == object_owner %}
    <span class="nav-item sidebar-header mt-4">This trip</span>
    <a class="nav-link sidebar-nav-link {% active_link 'log:trip_detail' uuid=trip.uuid %}" href="{{ trip.get_absolute_url }}">
      <i class="bi bi-info-circle"></i> View trip
    </a>

    <a class="nav-link sidebar-nav-link {% active_link 'log:trip_update' uuid=trip.uuid %}" href="{% url 'log:trip_update' trip.uuid %}">
      <i class="bi bi-pencil"></i> Edit trip
    </a>

    <a class="nav-link sidebar-nav-link" data-bs-toggle="modal" data-bs-target="#deleteTripModal">
      <i class="bi bi-x-lg"></i> Delete trip
    </a>

    <a class="nav-link sidebar-nav-link {% active_link 'log:trip_photos' uuid=trip.uuid %}" href="{% url 'log:trip_photos' trip.uuid %}">
      <i class="bi bi-images"></i> Photos
    </a>
  {% elif trip and user != object_owner %}
    <span class="nav-item sidebar-header mt-4">{{ object_owner.username }}</span>
    {% if can_view_profile %}
      <a class="nav-link sidebar-nav-link" href="{% url 'log:user' username=object_owner.username %}">
        <i class="bi bi-person-fill"></i> User profile
      </a>
    {% endif %}

    <a class="nav-link sidebar-nav-link {% active_link 'log:trip_detail' uuid=trip.uuid %}" href="{{ trip.get_absolute_url }}">
      <i class="bi bi-card-text"></i> View trip
    </a>

    {% if can_add_friend and user.is_authenticated %}
      <a class="nav-link sidebar-nav-link" href="{% url 'users:friends' %}?u={{ object_owner.username }}">
        <i class="bi bi-plus-lg"></i> Add as friend
      </a>
    {% endif %}
  {% endif %}
{% endif %}
