{% load static %}
{% if photo_user.avatar %}
  <a href="{{ photo_user.avatar.url }}">
      <img class="align-self-center justify-self-center img-fluid rounded-circle border border-2 shadow"
           src="{{ photo_user.avatar_profile.url }}"
           alt="{{ photo_user.name }}'s profile picture">
  </a>
{% else %}
  <img class="align-self-center justify-self-center img-fluid rounded-circle"
        src="{% static 'images/blank_profile_picture.svg' %}"
        alt="Default profile picture">
{% endif %}
