{% load active_link_tags %}

<div class="d-none d-lg-flex mb-5">
  {% if user.avatar %}
    {% include "users/_profile_picture.html" with photo_user=user %}
  {% else %}
    {% include "users/_profile_picture.html" %}
  {% endif %}
</div>

<a class="nav-link {% active_link 'users:account_detail' %}" href="{% url 'users:account_detail' %}">
  <i class="bi bi-info-circle-fill"></i> Overview
</a>

<a class="nav-link {% active_link 'users:profile_update' %}" href="{% url 'users:profile_update' %}">
  <i class="bi bi-person-fill"></i> Profile
</a>

<a class="nav-link {% active_link 'users:profile_photo_update' %}" href="{% url 'users:profile_photo_update' %}">
  <i class="bi bi-camera-fill"></i> Photo
</a>

<a class="nav-link {% active_link 'users:friends' %}" href="{% url 'users:friends' %}">
  <i class="bi bi-people-fill"></i> Friends
</a>

<a class="nav-link {% active_link 'users:custom_fields_update' %}" href="{% url 'users:custom_fields_update' %}">
  <i class="bi bi-ui-checks"></i> Trip fields
</a>

<a class="nav-link {% active_link 'import:index' %}" href="{% url 'import:index' %}">
  <i class="bi bi-cloud-arrow-up-fill"></i> Import
</a>

<a class="nav-link {% active_link 'export:index' %}" href="{% url 'export:index' %}">
  <i class="bi bi-file-earmark-arrow-down-fill"></i> Export
</a>

<a class="nav-link {% active_link 'users:account_update' %}" href="{% url 'users:account_settings' %}">
  <i class="bi bi-gear-fill"></i> Settings
</a>

<form>
  {% csrf_token %}
  <button formmethod="post" formaction="{% url 'users:logout' %}" class="nav-link">
    <i class="bi bi-x-octagon-fill"></i> Sign out
  </button>
</form>
