{% extends "base_account.html" %}
{% load crispy_forms_tags %}

{% block title %}Custom fields{% endblock %}

{% block main %}
  <h3 class="subtitle">
    Custom fields
  </h3>

  <p class="mw-45">
    It is not possible to create a set of trip attributes which will satisfy the needs
    of everyone who uses caves.app. Therefore, it is possible to create custom fields
    which can be added to trips. These fields are defined by you and, once
    created, will be available to add to any of your trips.
  </p>

  <p class="mw-45">
    To get started, simply specify a label for one of the fields below &mdash; this
    is what will appear above the data when displayed on a trip page. Once this form
    has been saved, your new field will appear when you are adding or editing a trip.
  </p>

  <p class="mw-45">
    An example of an appropriate label might be <code>State ID number</code> or
    <code>Bolts placed</code>. Labels can be up to 25 characters long, and the data
    in your custom field can be up to 200 characters long.
  </p>

  <p class="mw-45">
    Once you have set a label, and added data to at least one trip using this field,
    you will not be able to edit the label. This is to prevent confusion when viewing
    trips which have already been created using this field. If you need to change the
    the label you must first delete all data for this field from all trips.
  </p>

  <p class="mw-45">
    If you would like to rename a custom field which is already in use, you can
    email <code>admin@caves.app</code> with your request.
  </p>

  <hr class="my-4">

  {% crispy form %}
{% endblock %}
