<div x-data="{ open: false }">
  <a class="nav-link text-white" href="#">
    <span class="icon-badge-container" x-on:click="open = !open">
      {% if notifications.unread %}
        <i class="bi bi-bell-fill icon-badge-icon"></i>
        <span class="icon-badge">{{ notifications.unread }}</span>
      {% else %}
        <i class="bi bi-bell-fill"></i>
      {% endif %}
    </span>
  </a>
  <div class="notification-dropdown border border-2 bg-light" x-show="open" @click.outside="open = false" x-cloak x-transition>
    <div class="item title my-0">
      Notifications
    </div>

    {% if notifications.list %}
      {% for notification in notifications.list %}
        <div class="item text-primary"><a href="{% url 'users:notification' pk=notification.pk %}" class="stretched-link"></a>
          <span{% if not notification.read %} class="fw-bold"{% endif %}>{{ notification.get_message }}</span>
          <br />
          <small class="text-muted">
            {{ notification.updated|timesince }} ago
          </small>
        </div>
      {% endfor %}

      <div data-href="{% url 'users:notifications' %}" class="item text-primary">
        <a href="{% url 'users:notifications' %}"
           class="btn btn-primary">
          See all notifications
        </a>
      </div>
    {% else %}
      <div class="item title fw-normal text-primary">
        <span>You do not have any notifications. Oh well!</span>
      </div>
    {% endif %}
  </div>
</div>
