{% extends "_unregistered.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign in to caves.app{% endblock %}
{% block banner_subtitle %}Welcome back!{% endblock %}

{% block content %}
  <div class="mw-35">
    <p class="lead">
      Enter your account details below to sign in.
    </p>

    <p class="text-muted mb-5">
      You may wish to <a class="text-decoration-none" href="{% url 'users:register' %}">create an account</a>
      or <a class="text-decoration-none" href="{% url 'users:password_reset' %}">reset your password</a> instead.
    </p>

    {% crispy form %}
  </div>
{% endblock %}
