{% extends "base_center.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}
{% block display_title %}Reset your password{% endblock %}

{% block main %}
  <div class="mw-35 mx-auto">
    {% if validlink %}
      {% crispy form %}
    {% else %}
      <p class="lead">
        I'm afraid the link you have followed is invalid or expired.
      </p>

      <p>
        Would you like to <a href="{% url 'users:password_reset' %}">start again?</a>
      </p>
    {% endif %}
  </div>
{% endblock %}
