{% extends "users/crispy_form.html" %}

{% block title %}Verify email change{% endblock %}
{% block form_class %}mw-45{% endblock %}

{% block text %}
  <div class="mw-45 mb-4">
    <h3 class="subtitle">
      Verify email change
    </h3>

    <p class="lead">
      You're almost there! Just one more thing - you need to verify your
      new email address before it is updated on your account.
    </p>

    <p>
      Please check your email for a unique link that can be used to verify
      your new email address. Alternatively, if you only receive text based
      emails, you can copy and paste the code you received into the field below.
      If you did not receive the email, and it is not in your spam folder, please
      submit the <a href="{% url 'users:account_settings' %}">email change</a>
      form again to resend it.
    </p>
  </div>
{% endblock %}
