{% extends "base_center.html" %}
{% load crispy_forms_tags %}
{% block title %}Complete your registration{% endblock %}
{% block display_title %}Complete your registration{% endblock %}

{% block main %}
<div class="mw-45 mb-3">
  <p class="lead">
    You're almost there! Just one more thing - you need to verify your
    email address before you can sign in. You have 24 hours to confirm
    your account.
  </p>

  <p>
    Please check your
    email for a unique code which has been sent to you. You can then click
    the link in the email, or enter the code into the box below. If you
    did not receive the code, and it isn't in your email spam folder, you
    can <a href="{% url 'users:verify_resend' %}">
      attempt to resend it</a>.
  </p>

  <br />

  {% crispy form %}
</div>
{% endblock %}
