{% load widget_tweaks %}

<!-- Hidden fields -->
{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}


<!-- Non-field errors -->
{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    <strong>Please correct the following errors:</strong>
    {% for error in form.non_field_errors %}
      <br />{{ error }}
    {% endfor %}
  </div>
{% endif %}


<!-- Cave details title -->
<div class="bg-light border rounded fs-5 p-2 mb-3">
  Cave details
</div>

<!-- Cave name -->
<div class="row mb-3 px-2">
  <div class="col">
    <label class="form-label" for="{{ form.cave_name.auto_id }}">
      Name
    </label>
    {% if form.is_bound %}
      {% if form.cave_name.errors %}
        {% render_field form.cave_name class="form-control is-invalid" %}
        {% for e in form.cave_name.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.cave_name class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.cave_name class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.cave_name.help_text }}
    </div>
  </div>
</div>

<!-- Cave region/country block -->
<div class="row mb-3 px-2">
  <div class="col-xl-6 mb-3 mb-xl-0">
    <!-- Cave region -->
    <label class="form-label" for="{{ form.cave_region.auto_id }}">
      Region
    </label>
    {% if form.is_bound %}
      {% if form.cave_region.errors %}
        {% render_field form.cave_region class="form-control is-invalid" %}
        {% for e in form.cave_region.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.cave_region class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.cave_region class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.cave_region.help_text }}
    </div>
  </div>

  <div class="col-xl-6">
    <!-- Cave country -->
    <label class="form-label" for="{{ form.cave_country.auto_id }}">
      Country
    </label>
    {% if form.is_bound %}
      {% if form.cave_country.errors %}
        {% render_field form.cave_country class="form-control is-invalid" %}
        {% for e in form.cave_country.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.cave_country class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.cave_country class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.cave_country.help_text }}
    </div>
  </div>
</div>

<!-- Cave website -->
<div class="row mb-3 px-2">
  <div class="col">
    <label class="form-label" for="{{ form.cave_url.auto_id }}">
      Cave website
    </label>
    {% if form.is_bound %}
      {% if form.cave_url.errors %}
        {% render_field form.cave_url class="form-control is-invalid" %}
        {% for e in form.cave_url.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.cave_url class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.cave_url class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.cave_url.help_text }}
    </div>
  </div>
</div>


<!-- Trip details title -->
<div class="bg-light border rounded fs-5 p-2 mb-3 mt-5">
  Trip details
</div>

<!-- Start/end time block-->
<div class="row mb-3 px-2">
  <div class="col-xl-6 mb-3 mb-xl-0">
    <!-- Start time -->
    <label class="form-label" for="{{ form.start.auto_id }}">
      Start
    </label>
    {% if form.is_bound %}
      {% if form.start.errors %}
        {% render_field form.start class="form-control is-invalid" %}
        {% for e in form.start.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.start class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.start class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.start.help_text }}
    </div>
  </div>

  <div class="col-xl-6">
    <!-- End time -->
    <label class="form-label" for="{{ form.end.auto_id }}">
      End
    </label>
    {% if form.is_bound %}
      {% if form.end.errors %}
        {% render_field form.end class="form-control is-invalid" %}
        {% for e in form.end.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.end class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.end class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.end.help_text }}
    </div>
  </div>
</div>

<!-- Trip type/privacy block -->
<div class="row mb-3 px-2">
  <div class="col-xl-6 mb-3 mb-xl-0">
    <!-- Trip type -->
    <label class="form-label" for="{{ form.type.auto_id }}">
      Type
    </label>
    {% if form.is_bound %}
      {% if form.type.errors %}
        {% render_field form.type class="form-select is-invalid" %}
        {% for e in form.type.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.type class="form-select is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.type class="form-select" %}
    {% endif %}
    <div class="form-text">
      {{ form.type.help_text }}
    </div>
  </div>

  <div class="col-xl-6">
    <!-- Privacy -->
    <label class="form-label" for="{{ form.privacy.auto_id }}">
      Privacy
    </label>
    {% if form.is_bound %}
      {% if form.privacy.errors %}
        {% render_field form.privacy class="form-select is-invalid" %}
        {% for e in form.privacy.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.privacy class="form-select is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.privacy class="form-select" %}
    {% endif %}
    <div class="form-text">
      {{ form.privacy.help_text }}
    </div>
  </div>
</div>

<!-- Club/Expedition block -->
<div class="row mb-3 px-2">
  <div class="col-xl-6 mb-3 mb-xl-0">
    <!-- Club -->
    <label class="form-label" for="{{ form.club.auto_id }}">
      Club(s)
    </label>
    {% if form.is_bound %}
      {% if form.club.errors %}
        {% render_field form.club class="form-control is-invalid" %}
        {% for e in form.club.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.club class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.club class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.club.help_text }}
    </div>
  </div>

  <div class="col-xl-6">
    <!-- Expedition -->
    <label class="form-label" for="{{ form.expedition.auto_id }}">
      Expedition
    </label>
    {% if form.is_bound %}
      {% if form.expedition.errors %}
        {% render_field form.expedition class="form-control is-invalid" %}
        {% for e in form.expedition.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.expedition class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.expedition class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.expedition.help_text }}
    </div>
  </div>
</div>

<!-- Cavers -->
<div class="row mb-3 px-2">
  <div class="col">
    <label class="form-label" for="{{ form.cavers.auto_id }}">
      Cavers
    </label>
    {% if form.is_bound %}
      {% if form.cavers.errors %}
        {% render_field form.cavers class="form-control is-invalid" %}
        {% for e in form.cavers.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.cavers class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.cavers class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.cavers.help_text }}
    </div>
  </div>
</div>

<!-- Trip report -->
<div class="row mb-3 px-2">
  <div class="col">
    <label class="form-label" for="{{ form.report_url.auto_id }}">
      Trip report
    </label>
    {% if form.is_bound %}
      {% if form.report_url.errors %}
        {% render_field form.report_url class="form-control is-invalid" %}
        {% for e in form.report_url.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.report_url class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.report_url class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.report_url.help_text }}
    </div>
  </div>
</div>


<!-- Distances title -->
<div class="bg-light border rounded fs-5 p-2 mb-3 mt-5">
  Distances
</div>

<!-- Horizontal/vertical distance block -->
<div class="row mb-3 px-2">
  <div class="col-xl-4 mb-3 mb-xl-0">
    <!-- Horizontal -->
    <label class="form-label" for="{{ form.horizontal_dist.auto_id }}">
      Horizontal
    </label>
    {% if form.is_bound %}
      {% if form.horizontal_dist.errors %}
        {% render_field form.horizontal_dist class="form-control is-invalid" %}
        {% for e in form.horizontal_dist.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.horizontal_dist class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.horizontal_dist class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.horizontal_dist.help_text }}
    </div>
  </div>

  <div class="col-xl-4 mb-3 mb-xl-0">
    <!-- Vertical down -->
    <label class="form-label" for="{{ form.vert_dist_down.auto_id }}">
      Down
    </label>
    {% if form.is_bound %}
      {% if form.vert_dist_down.errors %}
        {% render_field form.vert_dist_down class="form-control is-invalid" %}
        {% for e in form.vert_dist_down.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.vert_dist_down class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.vert_dist_down class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.vert_dist_down.help_text }}
    </div>
  </div>

  <div class="col-xl-4">
    <!-- Vertical up -->
    <label class="form-label" for="{{ form.vert_dist_up.auto_id }}">
      Up
    </label>
    {% if form.is_bound %}
      {% if form.vert_dist_up.errors %}
        {% render_field form.vert_dist_up class="form-control is-invalid" %}
        {% for e in form.vert_dist_up.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.vert_dist_up class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.vert_dist_up class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.vert_dist_up.help_text }}
    </div>
  </div>
</div>

<!-- Survey/aid climbing distance block -->
<div class="row mb-3 px-2">
  <div class="col-xl-6 mb-3 mb-xl-0">
    <!-- Survey dist -->
    <label class="form-label" for="{{ form.surveyed_dist.auto_id }}">
      Surveyed
    </label>
    {% if form.is_bound %}
      {% if form.surveyed_dist.errors %}
        {% render_field form.surveyed_dist class="form-control is-invalid" %}
        {% for e in form.surveyed_dist.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.surveyed_dist class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.surveyed_dist class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.surveyed_dist.help_text }}
    </div>
  </div>

  <div class="col-xl-6">
    <!-- Aid climbing dist -->
    <label class="form-label" for="{{ form.aid_dist.auto_id }}">
      Aid climbed
    </label>
    {% if form.is_bound %}
      {% if form.aid_dist.errors %}
        {% render_field form.aid_dist class="form-control is-invalid" %}
        {% for e in form.aid_dist.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.aid_dist class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.aid_dist class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.aid_dist.help_text }}
    </div>
  </div>
</div>


<!-- Notes title -->
<div class="bg-light border rounded fs-5 p-2 mb-3 mt-5">
  Notes
</div>

<!-- Notes -->
{% if form.is_bound %}
  {% if form.notes.errors %}
    {% render_field form.notes class="form-control is-invalid" %}
    {% for e in form.notes.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
  {% else %}
    {% render_field form.notes class="form-control is-valid" %}
  {% endif %}
{% else %}
  {% render_field form.notes class="form-control" %}
{% endif %}

<div class="mb-3"></div>
