#
# Development environment for caves.app
#

DEBUG=1
SECRET_KEY=django-insecure-c3+z5mi8bc3ah4@_eb11ure9l(6nip1mfri!_vgbe0k-8_*1_l

DJANGO_ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://127.0.0.1 https://127.0.0.1

DATABASE=postgres
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db-dev
SQL_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=admin@caves.app

# Set to yes to run migrations on load
RUN_MIGRATIONS=yes

# Site root URL with protocol
SITE_ROOT=http://127.0.0.1:8000

# Tests
RUN_TESTS=no
