<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-3" aria-label="navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Caving Log</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto">

          {% comment %}
          {% url 'db:index' as current_page %}
          <li class="nav-item">
            <a class="nav-link{% if request.get_full_path == current_page %} active{% endif %}" aria-current="page" href="{% url 'db:index' %}">Region List</a>
          </li>
          {% endcomment %}

        </ul>
      </div>
    </div>
  </nav>
</header>
