{% extends "base_public.html" %}
{% block title %}Trip to {{ trip.cave_name }}{% endblock %}
{% block description %}{{ trip.user.name }}'s trip to {{ trip.cave_name }} on caves.app.{% endblock %}
{% block main %}

<div class="container">
  <div class="row border-bottom border-3 border-primary mt-4">
    <h1 class="fs-1 trip-header">Trip to {{ trip.cave_name }}</h1>
    <small class="text-muted mb-1" style="margin-left: 4px;">
      {{ trip.start|date }} &middot; {{ trip.duration_str }}
    </small>
  </div>

  {% if trip.has_report and trip.report.is_public %}
    <div class="alert alert-primary fs-5 mx-auto my-3">
      Would you like to view the <a class="text-white" href="{% url 'public:report' user.username trip.report.slug %}">trip report</a>
      for this trip?
    </div>
  {% endif %}

  <!-- Data blocks -->
  <div class="row g-2 mt-3">
    <!-- User -->
    <div class="col-6 col-lg-4">
      <small class="text-muted">Trip by</small><br />
      {% if trip.user.is_public %}
        <a class="text-decoration-none" href="{% url 'public:user' user.username %}">{{ trip.user.name }}</a>
      {% else %}
        {{ trip.user.name }}
      {% endif %}
    </div>

    <!-- Added on -->
    <div class="col-6 col-lg-4">
      <small class="text-muted ">Trip added on</small><br />
      {{ trip.added|date:"d M Y" }}
    </div>

    <!-- Last updated -->
    <div class="col-6 col-lg-4">
      <small class="text-muted">Trip last updated</small><br />
      {{ trip.updated|date:"d M Y" }}
    </div>
  </div>

  <div class="row g-2 mt-1">
    {% if trip.cave_region %}
      <!-- Cave region -->
      <div class="col-6 col-lg-4">
        <small class="text-muted">Cave region</small><br />
        {{ trip.cave_region }}
      </div>
    {% endif %}

    {% if trip.cave_country %}
      <!-- Cave country -->
      <div class="col-6 col-lg-4">
        <small class="text-muted">Cave country</small><br />
        {{ trip.cave_country }}
      </div>
    {% endif %}
  </div>

  <hr />

  <div class="row g-2">
    <!-- Start time-->
    <div class="col-6 col-lg-4">
      <small class="text-muted">Date/time entered</small><br />
      {{ trip.start|time:"H:i" }} on {{ trip.start|date:"d M Y" }}
    </div>

    {% if trip.end %}
      <!-- End time -->
      <div class="col-6 col-lg-4">
        <small class="text-muted">Date/time exited</small><br />
        {{ trip.end|time:"H:i" }} on {{ trip.end|date:"d M Y" }}
      </div>

      <!-- Duration -->
      <div class="col-6 col-lg-4">
        <small class="text-muted">Trip duration</small><br />
        {{ trip.duration_str }}
      </div>
    {% endif %}

    <!-- Trip type -->
    <div class="col-6 col-lg-4">
      <small class="text-muted">Trip type</small><br />
      {{ trip.type }}
    </div>

    {% if trip.clubs %}
    <!-- Clubs -->
      <div class="col-6 col-lg-4">
        <small class="text-muted">Clubs</small><br />
        {{ trip.clubs }}
      </div>
    {% endif %}

    {% if trip.expedition %}
      <!-- Expedition -->
      <div class="col-6 col-lg-4">
        <small class="text-muted">Expedition</small><br />
        {{ trip.expedition }}
      </div>
    {% endif %}
  </div>

  {% if trip.has_distances %}
    <hr />

    <div class="row g-2">
      {% if trip.horizontal_dist %}
        <!-- Horizontal dist -->
        <div class="col-6 col-lg-4">
          <small class="text-muted">Horizontal distance</small><br />
          {{ trip.horizontal_dist }}
        </div>
      {% endif %}

      {% if trip.vert_dist_down %}
        <!-- Vertical distance descended -->
        <div class="col-6 col-lg-4">
          <small class="text-muted">Distance descended</small><br />
          {{ trip.vert_dist_down }}
        </div>
      {% endif %}

      {% if trip.vert_dist_up %}
        <!-- Vertical distance ascended -->
        <div class="col-6 col-lg-4">
          <small class="text-muted">Distance ascended</small><br />
          {{ trip.vert_dist_up }}
        </div>
      {% endif %}

      {% if trip.surveyed_dist %}
        <!-- Surveyed distance -->
        <div class="col-6 col-lg-4">
          <small class="text-muted">Surveyed distance</small><br />
          {{ trip.surveyed_dist }}
        </div>
      {% endif %}

      {% if trip.aid_dist %}
        <!-- Aid climbing distance -->
        <div class="col-6 col-lg-4">
          <small class="text-muted">Aid climbing distance</small><br />
          {{ trip.aid_dist }}
        </div>
      {% endif %}
    </div>
  {% endif %}


  {% if trip.cavers %}
    <hr />

    <!-- Cavers -->
    <div class="row g-2 mb-3">
      <div class="col-12">
        <small class="text-muted">Cavers on trip</small><br />
        {{ trip.cavers }}
      </div>
    </div>
  {% endif %}

  {% if trip.notes and trip.user.private_notes is False %}
    <hr />

    <!-- Notes -->
    <div class="row g-2 mb-3">
      <div class="col-12 notes-display">
        <small class="text-muted">Notes</small><br />
        {{ trip.notes|linebreaks }}
      </div>
    </div>
  {% endif %}

  {% if trip.report_url or trip.cave_url %}
    <hr />

    <!-- External Resources -->
    <div class="row g-2">
      <div class="col-12">
        <small class="text-muted">External resources</small>
        <ol class="mb-0">
          {% if trip.report_url %}<li><a href="{{ trip.report_url }}" target="_blank">Trip report</a></li>{% endif %}
          {% if trip.cave_url %}<li><a href="{{ trip.cave_url }}" target="_blank">Website for {{ trip.cave_name }}</a></li>{% endif %}
        </ol>
      </div>
    </div>
  {% endif %}
</div>

{% endblock main %}
