/*
  Account info
*/

.account-info-label {
  color: var(--bs-gray-700);
}


/*
  Text
*/

.account-subtitle, form fieldset legend {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}
