@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --caves-navbar-rgb: 44, 62, 80;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .fs-1, .fs-2, .fs-3, .fs-4, .fs-5, .fs-6, .site-title {
  font-family: 'Lato', sans-serif !important;
}

main {
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: calc(100% - 70px);
  width: 100%;
}

#threeColumnContainer {
  min-height: 100%;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 auto 0;
}

@media (min-width: 900px) {
  #threeColumnContainer {
    margin: 0 0 auto 1.5rem;
  }
}

@media (min-width: 1300px) {
  #threeColumnContainer {
    margin: 0 1.5rem auto 1.5rem;
  }
}

#centerColumnContainer { /* Main column in the three column layout */
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  border-top: none;
  border-bottom: none;
}

#centerColumn {
  max-width: 900px;
  margin: 1rem;
  width: 100%;
}

@media (min-width: 600px) {
  #centerColumn {
    margin: 2rem;
  }
}

.alert {
  border-radius: 0 !important;
  margin: 0 !important;
  padding: inherit 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.alert .bi {
  margin-right: 0.5rem;
}


/*
  Navbar
*/

.site-title {
  font-size: 2rem;
  margin-bottom: 4px;
}

#navbarContainer {
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid var(--bs-border-color);
  background-color: rgba(var(--caves-navbar-rgb), 1) !important;
}

#navbarContent {
  max-width: 1600px;
  flex: 1;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

@media (min-width: 600px) {
  #navbarContent {
    margin: 0 2rem 0 1.5rem;
  }
}

#navbarContainer .navbar {
  padding: 0 0 0 0 !important;
}

#navbarLinks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navbarLinks .nav-link, #navbarLinks .nav-link-text {
  display: none;
}

#navbarLinks .nav-link {
    margin: 0 0.25rem;
}

#navbarLinks .bi {
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbarLinks .bi-list {
  font-size: 24px !important;
}

#navbarAvatar {
  border-radius: 50%;
  border: 1px transparent;
}


/*
  Hamburger Menu
*/

#hamburgerMenuIcon .bi {
  font-size: 28px;
  margin-left: 0.9rem;
  align-self: center;
  justify-self: center;
  display: block;
  color: var(--bs-light);
}

@media (min-width: 1300px) {
  #hamburgerMenuIcon {
    display: none;
  }
}

.hamburger-menu-container {
  position: fixed;
  z-index: 50;
  right: 0;
  top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  border-right: none;
  border-top: none;
  padding: 1.5rem 3rem;
  min-width: 100vw;
  overflow-y: scroll;
  max-height: calc(100vh - 70px);
}

@media (min-width: 500px) {
  .hamburger-menu-container {
    min-width: 5px;
    padding: 1.5rem 5rem;
  }

  .hamburger-menu.right {
    padding-left: 5rem;
  }
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

.hamburger-menu .nav-link {
  display: block;
  margin-bottom: 0.4rem;
}

.hamburger-menu .nav-link .bi {
  margin-right: 0.3rem;
  color: var(--bs-secondary);
}

.hamburger-menu .sidebar-header {
  margin-bottom: 0.5rem;
}

@media (min-width: 650px) {
  #navbarLinks .nav-link {
    display: block;
  }
}


/*
  Notifications
*/

#notificationsContainer {
  position: relative;
}

#notificationsBellContainer {
  margin: 0 0.25rem 0 0;
  border: 1px transparent;
  border-radius: 50%;
  padding: 1px 7px;
}

#notificationsBellContainer:hover {
  cursor: pointer;
  background-color: rgba(230, 230, 230, 0.3);
}

#notificationsContainer .bi-bell-fill {
  color: var(--bs-light);
  font-size: 22px;
}

#notificationsBadgeContainer {
  position: absolute;
  z-index: 50;
  padding: 2px 8px;
  top: -9px;
  left: 26px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

.notifications-dropdown {
  position: fixed;
  right: 0;
  top: 70px;
  min-width: 100vw;
  max-height: calc(100vh - 70px);
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  overflow-y: scroll;
}

@media (min-width: 600px) {
  .notifications-dropdown {
    position: absolute;
    right: -10px;
    top: 53px;
    min-width: 400px;
    overflow: auto;
  }
}

.notifications-dropdown .notification-item {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--bs-border-color);
}

.notifications-dropdown .notification-item:first-child {
  padding: 1.5rem;
  margin: 0;
}

.notifications-dropdown .notification-item:last-child {
  border-bottom: none;
}

.notifications-dropdown .notification {
  position: relative;
}

.notifications-dropdown .notification:hover {
  background-color: rgba(240, 240, 240, 1);
  transition: background-color ease-in-out 0ms;
}

[data-bs-theme="dark"] {
  .notifications-dropdown .notification:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.notifications-dropdown .notification.read {
  opacity: 0.8;
}

.notifications-dropdown .notification time {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.8rem;
  color: var(--bs-secondary-color);
}


/*
  Sidebar
*/

#leftSidebarContainer {
  position: relative;
  display: none;
  flex: 0 0 250px;
  padding-right: 2rem;
  margin: 0 0 0 0;
}

#rightSidebarContainer {
  display: none;
  flex: 0 0 250px;
  margin: 0 0 0 2rem;
}

@media (min-width: 900px) {
  #leftSidebarContainer {
    display: block;
  }
}

@media (min-width: 1300px) {
  #rightSidebarContainer {
    display: block;
  }
}

#rightSidebarContainer .sidebar:empty {
  display: none !important;
  margin: 0 !important;
}

.sidebar {
  position: sticky;
  top: 2rem;
}

.sidebar .nav-link {
  padding: 0;
  margin: 0.3rem 0;
  color: var(--bs-body-color);
  transition: none !important;
}

.sidebar .nav-link.active {
  color: var(--bs-link-hover-color);
}

.sidebar .nav-link .bi, #mobileMenu .nav-link .bi {
  margin-right: 0.5rem;
  opacity: 0.8;
}

.sidebar-header {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  color: var(--bs-secondary-color);
}

.sidebar-header:first-child {
  margin-top: 0 !important;
}

/*
  Trip display
*/

.cave-name {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 1.6rem !important;
}

.cave-name-lg {
  font-size: 1.8rem !important;
}

.no-paragraph-mb p:last-child {
  margin-bottom: 0 !important;
}

.trip-field {
  display: block;
  font-size: 0.85rem;
  color: var(--bs-secondary-color);
  margin: 0.3rem 0 0.2rem 0;
}

.trip-field:before(p) {
  margin-bottom: 0;
}

.trip-field:first-letter {
  text-transform: capitalize;
}

.unliked-trip, .liked-count {
  color: var(--bs-body-color);
}

.liked-trip, .liked-count.liked-trip {
  color: var(--bs-emphasis-color);
}

.featured-photo-container {
  width: 100%;
  position: relative;
  border: 1px solid var(--bs-border-color);
  border-radius: 10px;
  overflow: hidden;
}

.featured-photo-container img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.featured-photo-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}

.featured-photo-overlay img {
  max-height: 100px;
}

[data-bs-theme="light"] {
  .featured-photo-overlay {
    background-color: rgba(255, 255, 255, 0.85);
  }
}

/*
  Text
*/

.comment-display > p {
  margin-bottom: 0;
}

.site-title a {
  text-decoration: none;
  color: white;
  width: 230px;
}

.subtitle, form fieldset legend {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}


/*
  Forms
*/

.asteriskField {
  display: none !important;
}

.form-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#div_id_honeypot {
  display: none;
}


/*
  JS Elements - HTMX/Alpine.js
*/

[data-bs-toggle], [hx-get], [hx-post], [hx-delete], [hx-put], .fake-link {
  cursor: pointer;
}

[x-cloak] {
  display: none !important;
}

.htmx-request {
  opacity: 0.5;
  transition: opacity 300ms linear;
}


/*
  Accounts
*/

.account-info-label {
  color: var(--bs-emphasis-color);
}

.profile-photo {
  height: 200px;
  max-width: 100vw;
}

.profile-photo-header {
  height: 65px;
  width: 65px;
  max-width: 100vw;
}

@media (min-width: 992px) {
  .profile-photo-header {
    height: 80px;
    width: 80px;
  }
}


/*
  User profile
*/

dl.user-info dt, dl.user-info dd {
  border-bottom: 1px solid var(--bs-border-color);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

dl.user-info dd {
  margin-bottom: 0;
}

dl.user-info dt:last-of-type, dl.user-info dd:last-of-type {
  border-bottom: none !important;
}

#tripsTable {
  font-size: 0.9rem;
}

#tripsTable tbody:hover td {
  background-color: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

#tripsTable tbody tr:first-child td {
  border-bottom: none;
}

#tripsTable tbody tr:last-child td, #tripsTable tbody tr:first-of-type td:first-of-type {
  border-bottom: 1px solid var(--bs-border-color);
}

#searchInput.htmx-request {
  opacity: 100% !important;
  transition: unset !important;
}


/*
  Statistics
*/

#stats-over-time-chart {
  max-height: 450px;
}

#hours-per-month-chart {
  max-height: 450px;
}

@media (min-width: 992px) {
  #stats-over-time-chart {
    height: 450px;
  }

  #hours-per-month-chart {
    height: 450px;
  }
}

@media (max-width: 992px) {
  #stats-over-time-chart {
    max-height: 350px;
  }

  #hours-per-month-chart {
    max-height: 350px;
  }

  #yearly-statistics-table {
    font-size: 0.7rem;
    white-space: nowrap;
  }
}

.annual-stats-table tbody td {
  text-align: start;
}

/*
  Import and export
*/

#trip-import-formset {
  font-size: 0.8rem;
}

#trip-import-formset .form-control, #trip-import-formset .form-select {
    min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    border-radius: var(--bs-border-radius-sm);
}


/*
  Homepage (for unregistered users)
*/

#homepage-banner {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #eaf5ff;
  background-image: var(--bs-gradient);
}

.feature-block h4 {
  color: var(--bs-primary);
}

@media (max-width: 992px) {
  #homepage-banner {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media (max-width: 768px) {
  .feature-block {
    max-width: 60% !important;
  }
}

@media (max-width: 576px) {
  .feature-block {
    max-width: 80% !important;
  }
}


/*
  Images
*/

.tripphoto-thumb {
  max-width: 200px;
  max-height: 300px;
}


/*
  Google Map
*/

#googleMap {
  border: 1px solid var(--bs-border-color);
}


/*
  Social feed
*/

.feed-card .card-header {
  padding: 0.5rem 1rem;
}

#socialFeedContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto 0 auto;
}

#socialFeedHeader {
  display: none;
}

@media (min-width: 420px) {
  #socialFeedHeader {
    display: block;
  }
}

.feed-card .trip-location {
  display: none !important;
}

@media (min-width: 500px) {
  .feed-card-byline .trip-location {
    display: none;
  }

  .feed-card .trip-location {
    display: flex !important;
  }
}


/*
  Backgrounds
*/

#blurContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  transition: ease-in-out 0.2s;
  z-index: -1;
}

#blurContainer.blur-bg {
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: ease-in-out 0.2s;
}
