/*
  Fonts
*/

@font-face {
  font-family: 'Space Mono', monospace;
  src: url("/static/fonts/SpaceMono-Regular.ttf") format("truetype");
}


/*
  Main layout options
*/

body {
  overflow-y:scroll;
}

.center-container {
  max-width: 38em;
}


/*
  Messages
*/

#messages .alert {
  border-radius: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#messages .message-title {
  margin-right: 0.5rem;
  font-weight: bold;
}


/*
  Navbar
*/

#mainNavbar .bi {
  margin-right: 0.5rem;
}

.navbar-toggler {
  border-color: transparent !important;
}

.navbar-dropdown .dropdown-item:hover {
  background-color: #f7f7f7 !important;
}

.navbar-dropdown .dropdown-item.active {
  background-color: #f7f7f7 !important;
  font-weight: bold !important;
}

.dropdown-toggle.focus, .dropdown-toggle:focus {
  outline: 0px none #fff !important;
}

@media (min-width: 992px) {
  .navbar-nav .nav-item {
    padding: 0 0.75rem;
  }
}


/*
  Sidebar
*/

#sidebarContainer {
  min-width: 250px;
  max-width: 250px;
  display: inline;
}

/* TODO: Disabled as it breaks Bootstrap modals
#sidebar {
  position: sticky;
  top: 2rem;
}
*/

#sidebar .nav-link {
  padding-left: 0.5rem;
  color: var(--bs-primary);
}

#mobileMenuContainer {
  background-color: #fafeff;
}

#mobileMenu .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--bs-primary);
  text-align: center;
}

#sidebar .nav-link .bi, #mobileMenu .nav-link .bi {
  margin-right: 0.5rem;
  opacity: 0.8;
}

#sidebar .nav-link:hover, #mobileMenu .nav-link:hover {
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
}

#sidebar .nav-link.active, #mobileMenu .nav-link.active {
  color: white;
  opacity: 100 !important;
}

.sidebar-header {
  font-family: 'Space Mono', monospace;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--bs-gray-700);
}

/*
  Trip display
*/

.cave-name {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 1.6rem !important;
}

.cave-name-lg {
  font-size: 1.8rem !important;
}

.notes-display p:last-child {
  margin-bottom: 0;
}

.trip-field {
  font-family: 'Space Mono', monospace;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


/*
  Statistics
*/

.statistics-table tbody th {
  font-weight: normal;
}


/*
  Text
*/

.page-title {
  margin-bottom: 0.5rem;
}

h1.page-title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.comment-display > p {
  margin-bottom: 0;
}

.mw-35 {
  max-width: 35rem;
}

.mw-45 {
  max-width: 45rem;
}


/*
  Forms
*/

.asteriskField {
  display: none !important;
}

.form-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle, form fieldset legend {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}


/*
  JS Elements
*/

.htmx-request {
  opacity: .5;
  transition: opacity 300ms linear;
}

[data-href], [data-bs-toggle], [hx-get] {
  cursor: pointer;
}


/*
  Notifications
*/

.icon-badge-group .icon-badge-container {
    display: inline-block;
}

.icon-badge-group .icon-badge-container:first-child {
  margin-left:0
}

.icon-badge-container {
    position:relative;
}

.icon-badge-icon {
    font-size: 1rem;
    position: relative;
}

.icon-badge {
    background-color: red;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    width:20px;
    height:20px;
    border-radius: 35%;
    position: absolute;
    top: -5px;
    left: 15px;
}


/*
  Account info
*/

.account-info-label {
  color: var(--bs-gray-700);
}
