.alert {
  text-align: center
}

body {
  overflow-y:scroll;
}

.trip-header {
  line-height: 1 !important;
}

.notes-display p:last-child {
  margin-bottom: 0;
}

.no-bottom-border {
  border-bottom: none;
}

.statistics-table tbody th {
  font-weight: normal;
}

@media (max-width: 768px) {
  .base-col {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
