/* Main layout options */
body {
  overflow-y:scroll;
}

main {
  padding-top: 85px;
}

.alert {
  text-align: center
}

/* Trip display */
.trip-header {
  line-height: 1 !important;
  letter-spacing: 0 !important;
  white-space: normal;
}

.notes-display p:last-child {
  margin-bottom: 0;
}

/* Statistics */
.statistics-table tbody th {
  font-weight: normal;
}

/* JavaScript clickable table rows */
[data-href] {
  cursor: pointer;
}

/* Navbar */
.navbar-toggler {
  border-color: transparent !important;
}

.navbar-dropdown .dropdown-item:hover {
  background-color: #f7f7f7 !important;
}

.navbar-dropdown .dropdown-item.active {
  background-color: #f7f7f7 !important;
  font-weight: bold !important;
}

.dropdown-toggle.focus, .dropdown-toggle:focus {
  outline: 0px none #fff !important;
}

/* Text */
.page-title {
  border-bottom: 2px solid #008cba !important;
  padding-bottom: 7px;
  margin-bottom: 10px;
}

h1.page-title {
  margin-bottom: 20px;
}
