{% extends "logger/_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add cave locations{% endblock %}

{% block main %}
  <h1 class="title-underline">Trip to {{ trip.cave_name }}</h1>
  <p>
    You are adding a cave location for the trip to <a href="{{ trip.get_absolute_url }}" class="link-body-emphasis">{{ trip.cave_name }}</a>
    {% if trip.cave_entrance %}<span class="fw-bold text-danger">via {{ trip.cave_entrance }}</span> {% endif %}
    on {{ trip.start|date }}.
  </p>

  <p class="mb-4 pb-3 border-bottom">
    You have <strong>{{ remaining_trips_without_location }}</strong> remaining
    trip{{ remaining_trips_without_location|pluralize }} without a location.
    Would you like to <a class="link-body-emphasis" href="{% url 'maps:add_location' %}">select a different random trip?</a>
  </p>

  {% crispy form %}
{% endblock %}
