{% extends "base_full_width.html" %}

{% block title %}Cave map{% endblock %}
{% block display_title %}Cave map{% endblock %}

{% block header_scripts %}
  <script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: "{{ google_maps_api_key }}",
      v: "weekly",
    });
  </script>
{% endblock %}

{% block content %}
  {% if not map_markers %}
    <div class="alert alert-info text-center">
      You have not added locations to any of your trips so there are no caves to display on this map!<br>
      Would you like to <a href="{% url 'maps:add_location' %}">add locations to your trips</a>?
    </div>
  {% endif %}

  <div id="googleMap"></div>
  <div class="text-muted text-center my-4">
    <small>
      Would you like to
      <a class="link-body-emphasis" href="{% url 'maps:add_location' %}">
        add locations to your trips?
      </a>
    </small>
  </div>

  <script>
    let map;

    async function initMap() {
      const { Map, InfoWindow } = await google.maps.importLibrary("maps");
      const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

      const caves = [
        {% for marker in map_markers %}
          {
            title: "{{ marker.title }}",
            position: { lat: {{ marker.lat }}, lng: {{ marker.lng }}},
            description: `
<h5 class='mt-2'>{{ marker.title }}</h5>
<p>
  You visited this location {{ marker.visits }} time{{ marker.visits|pluralize }}.<br>
  The last time you visited was <a href="{{ marker.last_trip_url }}">{{ marker.last_visit|date }}.</a>
</p>
`,
          },
        {% endfor %}
      ];

      map = new Map(document.getElementById("googleMap"), {
        center: {lat: 0, lng: 0},
        zoom: 2,
        mapId: "8b2e0b131350042a",
      });

      const infoWindow = new InfoWindow();
      const bounds = new google.maps.LatLngBounds();

      caves.forEach(({ position, title, description }) => {
        const marker = new AdvancedMarkerElement({
          position,
          map,
          title: title,
        });
        bounds.extend(new google.maps.LatLng(position.lat, position.lng));

        // Add a click listener for each marker, and set up the info window.
        marker.addListener("click", ({ domEvent, latLng }) => {
          const { target } = domEvent;
          infoWindow.close();
          infoWindow.setContent(description);
          infoWindow.open(marker.map, marker);
        });
      });

      map.fitBounds(bounds);
    }

    initMap();

  </script>
{% endblock %}
