{% extends "base_full_width.html" %}

{% block main %}
  <div class="row mb-2">
    <div class="col-12 col-lg-9 col-xl-8">
      <div class="d-flex justify-content-between">
        <h1 class="fs-5 ms-3 mb-0 align-self-center">
          You &amp; your friends &nbsp;<i class="bi bi-arrow-down"></i>
        </h1>
        <div class="d-flex flex-row text-muted">
          <form method="post" action="{% url 'log:feed_set_ordering' %}" class="me-1">
            {% csrf_token %}
            <input type="hidden" name="sort" value="-added">
            <input type="submit" value="Added" class="btn btn-sm {% if ordering == "-added" %}btn-primary{% else %}btn-secondary{% endif %}">
          </form>
          <form method="post" action="{% url 'log:feed_set_ordering' %}">
            {% csrf_token %}
            <input type="hidden" name="sort" value="-start">
            <input type="submit" value="Start" class="btn btn-sm {% if ordering == "-start" %}btn-primary{% else %}btn-secondary{% endif %}">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-9 col-xl-8">
      {% include "includes/feed.html" %}
    </div>

    <hr class="my-4 d-lg-none">

    <div class="col-12 col-lg-3 col-xl-4">
      <div class="shadow">
        {% include "includes/news.html" %}
      </div>
    </div>
  </div>
{% endblock main %}
