{% extends "base.html" %}
{% block display_title %}Recent activity{% endblock %}
{% load markdownify %}

{% block content %}
  <div class="row mb-2">
    <div class="col-12 col-xl-8">
      <div class="d-flex justify-content-between">
        <h1 class="fs-5 ms-3 mb-0 align-self-center">
          You &amp; your friends &nbsp;<i class="bi bi-arrow-down"></i>
        </h1>
        <div class="d-flex flex-row text-muted">
          <form method="post" action="{% url 'log:feed_set_ordering' %}" class="me-1">
            {% csrf_token %}
            <input type="hidden" name="sort" value="-added">
            <input type="submit" value="Added" class="btn btn-sm {% if ordering == "-added" %}btn-primary{% else %}btn-secondary{% endif %}">
          </form>
          <form method="post" action="{% url 'log:feed_set_ordering' %}">
            {% csrf_token %}
            <input type="hidden" name="sort" value="-start">
            <input type="submit" value="Start" class="btn btn-sm {% if ordering == "-start" %}btn-primary{% else %}btn-secondary{% endif %}">
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 d-none d-xl-block">
      <h1 class="fs-5 ms-3 mb-0 align-self-center">
        News &nbsp;<i class="bi bi-arrow-down"></i>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-8">
      {% include "includes/feed.html" %}
    </div>

    <hr class="my-4 d-xl-none">

    <div class="col-12 col-xl-4">
      <div class="shadow">
        {% if news %}
          <div class="card">
            <div class="card-header d-xl-none">
              News
            </div>

            <div class="card-body">
              {% for item in news %}
                <div class="mb-3">
                  <div class="d-flex flex-column border-bottom border-secondary mb-2">
                    <strong class="fs-5">{{ item.title }}</strong>
                    <small class="text-muted">
                      <i class="bi bi-person"></i> {{ item.author.name }}
                      &middot; {{ item.posted_at|timesince }} ago
                    </small>
                  </div>
                  <p>{{ item.content|markdownify }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
