<p>
  Hi {{ name }},
</p>

<br />

<p>
  You've recently requested to update the email address on your caves.app account. Please verify your new email address by
  clicking the link below. Until you click this link, your old email will remain in use as your login and notification email.
</p>

<p>
  The link below will expire 24 hours after this email was sent. To renew it, please change your email again in your user profile.
</p>

<p>
  <a href="{{ verify_url }}?verify_code={{ verify_code }}"><strong>Click here to verify your email address</strong></a>
</p>

<p>
  Alternatively, you can visit the following web address manually (copy and paste into your browser):
</p>

<p>
  <em>{{ verify_url }}?verify_code={{ verify_code }}</em>
</p>

<p>
  If you have any issues, please send me a message at <a href="mailto:andrew@northall.me.uk">andrew@northall.me.uk</a>
  and I will do my best to help.
</p>

<br />

<p>
  Cheers,
</p>

<p>
  Andrew Northall<br />
  Founder of caves.app<br />
  andrew@northall.me.uk<br />
</p>
