<p>
  Hi {{ name }},
</p>
<br />

<p>
  Please verify the email address linked to your CavingLog account. You can do so by clicking the link below:
</p>

<p>
  <a href="{{ verify_url }}?verify_code={{ verify_code }}"><strong>Click here to verify your email address</strong></a>
</p>

<p>
  Alternatively, you can visit <a href="{{ verify_url }}">{{ verify_url }}</a> and manually enter the following code:
</p>

<p>
  <em>{{ verify_code }}</em>
</p>

<p>
  If you have any issues, please send me a message at <a href="mailto:andrew@northall.me.uk">andrew@northall.me.uk</a>
  and I will do my best to help.
</p>
<br />

<p>
  Cheers,
  Andrew Northall
  Founder of CavingLog
  andrew@northall.me.uk
</p>
