<p>
  Hi {{ user.name }},
</p>

<br />

<p>
  Someone has asked for a password reset for the caves.app account {{ email }}. To reset your password please click
  the link below:
</p>

<p>
  <a href="{{ site_root }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
    <strong>Click here to reset your password</strong>
  </a>
</p>

<p>
  Alternatively, you can manually visit the following URL:
</p>

<p>
  <em>{{ site_root }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}</em>
</p>

<p>
  If you did not request this email, please ignore it. If you have any issues, please send me a message at
  <a href="mailto:admin@caves.app">admin@caves.app</a> and I will do my best to help.
</p>

<br />

<p>
  Cheers,
</p>

<p>
  Andrew Northall<br />
  Founder of caves.app<br />
  admin@caves.app<br />
</p>
