<p>
  Hi {{ name }},
</p>
<br /><br />

<p>
  Thanks for signing up to CavingLog! Your registration is almost complete. Please verify the email you used to sign up
  by clicking on the link below. Your account will remain inactive until such time you have completed the verification
  process.
</p>

<p>
  The link below will be valid for 24 hours from the time this email was sent - after that you will need to
  start the registration process again.
</p>

<p>
  <a href="{{ verify_url }}?verify_code={{ verify_code }}"><strong>Click here to verify your email address</strong></a>
</p>

<p>
  Alternatively, you can visit the following web address manually (copy and paste into your browser):
</p>

<p>
  <em>{{ verify_url }}?verify_code={{ verify_code }}</em>
</p>

<p>
  If you have any issues, please send me a message at <a href="mailto:andrew@northall.me.uk">andrew@northall.me.uk</a>
  and I will do my best to help.
</p>
<br /><br />

<p>
  Cheers,
</p>

<p>
  Andrew Northall<br />
  Founder of CavingLog<br />
  andrew@northall.me.uk<br />
</p>
