{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}caves.app - about{% endblock %}
{% block display_title %}About{% endblock %}
{% block description %}Statistics and information on caves.app{% endblock %}

{% block content %}
  <p class="lead">
    Using spreadsheets to maintain a record of caving activity is cumbersome and inconvenient &mdash; caves.app solves this problem.
  </p>

  <p>
    caves.app is easily used on any device with an internet connection, and has a minimalist interface that is designed to make
    recording data quick and easy. <strong>Your privacy and the protection of your data is my priority</strong> &mdash; all of your
    information is visible only to you (unless you opt to make it public), and other users cannot (by default) see what caves
    you have added.
  </p>

  <p>
    <strong>Your data is your property.</strong> If you do not find the website useful then you can <a href="{% url 'log:export'%}">
    export your data to a CSV file at any time</a>. I take being entrusted with your (potentially irreplaceable) data very seriously
    and best efforts are made, including regular off-site backups, to protect against any loss of recorded data.
  </p>

  <p>
    For frequently asked questions, as well as contact details for the administrator, please visit the
    <a href="{% url 'core:help' %}">help page</a>.
  </p>

  <hr class="my-4">

  <h3 class="mt-4 page-title">Statistics</h3>
  <p>
    caves.app currently has <strong>{{ user_count|intcomma }}</strong> registered users and <strong>{{ trip_count|intcomma }}</strong> trips
    stored in the database, amounting to <strong>{{ total_duration }}</strong> of underground time!
  </p>

  {% if not user.is_authenticated %}
    <hr class="my-4">

    <figure class="figure mb-4">
      <img class="figure-img img-fluid rounded" src="{% static "img/about/averages.png" %}" alt="Caving statistics on caves.app." />
      <figcaption class="text-center figure-caption">
        Just a few of the statistics available on caves.app.
      </figcaption>
    </figure>

    <figure class="figure mb-4">
      <img class="figure-img img-fluid rounded" src="{% static "img/about/chart_demo_1.png" %}" alt="Caving statistics on caves.app." />
      <figcaption class="text-center figure-caption">
        Interested in seeing your own caving graphs?
      </figcaption>
    </figure>

    <div class="text-center">
      <a href="{% url "users:register" %}" class="btn btn-lg btn-primary mb-3 w-100">Sign up for a free account</a>
    </div>
  {% endif %}
{% endblock %}
