{% extends "base_full_width.html" %}
{% load logger_tags %}
{% block title %}Admin tools{% endblock %}

{% block main %}
  <h1 class="page-title">
    Admin tools
  </h1>

  <div class="row row-cols-1 row-cols-lg-2 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-header">
          Login as a user
        </div>

        <div class="card-body">
          <p>
            Use this form to login as any user, except superusers.
          </p>

          <form method="post">
            {% csrf_token %}
            <select class="form-select" name="login_as" aria-label="Select user">
              <option selected>Select a user</option>
              {% for user_email in login_user_list  %}
                <option value="{{ user_email }}">{{ user_email }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary mt-3">Login as user</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="card-header">
          Send notification to all users
        </div>

        <div class="card-body">
          <p>
            Use this form to send a notification to all users.
          </p>

          <form method="post">
            {% csrf_token %}
            {{ notify_form }}
            <button type="submit" name="notify" value="notify" class="btn btn-primary">Send notification</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
