{% extends "base_full_width.html" %}
{% load get %}
{% block title %}Export your trips{% endblock %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block main %}
<h1 class="page-title">
  Export your trips
</h1>

<p>
  This utility allows you to download your trips to your computer so you can make your own backups or process the
  data yourself.
</p>

<p>
  Click the button below to export all of your recorded trip data as a
  <a href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV file</a>.
  This file can be opened in any spreadsheet application such as Microsoft Excel, Google Sheets, or OpenOffice.
</p>

<form method="post">
  {% csrf_token %}
  <div class="text-center">
    <button type="submit" name="download" value="download" class="btn btn-lg btn-primary w-100 mt-3">Export trips</button>
  </div>
</form>
{% endblock main %}
