{% extends "base_sidebar.html" %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block main %}
{% if recent_trips %}

<div class="row g-4">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header fs-5">
        Overall statistics
      </div>

      <div class="card-body">
        <table class="table table-borderless">
          {% for field, value in request.user.get_trip_stats.items %}
            <tr>
              <th scope="row">{{ field|capfirst }}</th>
              <td>{{ value }}{% if field != "total trips" %}m{% endif %}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header fs-5">
        Statistics for {% now "Y" %}
      </div>

      <div class="card-body">
        <table class="table table-borderless">
          {% for field, value in request.user.get_current_year_trip_stats.items %}
            <tr>
              <th scope="row">{{ field|capfirst }}</th>
              <td>{{ value }}{% if field != "total trips" %}m{% endif %}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

<hr class="my-4" />

<div class="row g-4">
  {% for trip in recent_trips %}
    <div class="col-12 col-xl-4 flex-fill flex-column">
      {% include "trip_card_small.html" %}
    </div>
  {% endfor %}
</div>

{% else %}
  {% include "index_new_user.html" %}
{% endif %}

{% endblock main %}
