{% extends "base_sidebar.html" %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header fs-4">
    Welcome, {{ request.user.first_name }}!
  </div>

  <div class="card-body">
    {% if request.user.has_trips %}
      <p class="lead">
        Why not review your <a href="{% url 'log:trip_list' %}">submitted trips</a> or
        <a href="{% url 'log:trip_create' %}">add a new one?</a>
      </p>
    {% else %}
      {% include "index_new_user.html" %}
    {% endif %}
  </div>
</div>

{% endblock main %}
