{% extends "base_sidebar.html" %}
{% block title %}Caving Log{% endblock %}
{% block description %}An online tool to log caving trips and activity.{% endblock %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header">
    <span class="fs-4">Recent trips</span>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="d-none d-md-block" scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Cave</th>
            <th class="d-none d-lg-block" scope="col">Trip type</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for trip in trips %}
            <tr>
              <th class="d-none d-md-block" scope="row">{{ forloop.revcounter }}</th>

              <td>{{ trip.start|date:"Y-m-d" }}</td>

              <td>
                {{ trip.cave_name }}
              </td>

              <td class="d-none d-lg-block">{{ trip.trip_type }}</td>

              <td class="text-end">
                <a class="link-secondary" href="{% url 'log:trip_detail' pk=trip.pk %}"><i class="bi bi-info-circle"></i></a>
                &nbsp;
                <a class="link-secondary" href="{% url 'log:trip_update' pk=trip.pk %}"><i class="bi bi-pencil"></i></a>
                &nbsp;
                <a class="link-secondary" href="{% url 'log:trip_delete' pk=trip.pk %}"><i class="bi bi-x-lg"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock main %}
