{% load active_link_tags %}
<div class="col-lg-3 mt-4 mt-lg-0">
  <div class="container mx-auto">
    <div class="card">
      <div class="card-header text-center">
        Caving Log
      </div>

      <nav class="nav nav-pills flex-column m-2">

        <a class="nav-link {% active_link 'log:index' %}" href="{% url 'log:index' %}">
          <i class="bi bi-clock"></i>&nbsp; Recent trips
        </a>

      </nav>
    </div>

    <br />

    <div class="card">
      <div class="card-header text-center">
        Account
      </div>

      <nav class="nav nav-pills flex-column m-2">

        <a class="nav-link {% active_link 'users:profile' %}" href="{% url 'users:profile' %}">
          <i class="bi bi-person-circle"></i>&nbsp; View your profile
        </a>

        <a class="nav-link {% active_link 'users:update' %}" href="{% url 'users:update' %}">
          <i class="bi bi-pencil-square"></i>&nbsp; Edit your profile
        </a>

        <a class="nav-link {% active_link 'users:email' %}" href="{% url 'users:email' %}">
          <i class="bi bi-envelope-fill"></i>&nbsp; Update your email
        </a>

        <a class="nav-link {% active_link 'users:password' %}" href="{% url 'users:password' %}">
          <i class="bi bi-key-fill"></i>&nbsp; Change your password
        </a>
      </nav>
    </div>
  </div>
</div>
