{% extends "base_sidebar.html" %}
{% load get %}
{% load distformat %}
{% block title %}Your statistics{% endblock %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block header_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
{% endblock%}

{% block main %}

{% if trips %}
  <div class="card">
    <div class="card-header">
      Distance and time
    </div>

    <div class="card-body p-0">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-borderless text-center">
            <thead>
              <tr class="border-bottom">
                <th scope="col"></th>
                <th scope="col">{{ year0 }}</th>
                <th scope="col">{{ year1 }}</th>
                <th scope="col">{{ year2 }}</th>
                <th scope="col">Total</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Rope ascent</th>
                <td>{{ trip_stats_year0.vert_up|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.vert_up|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.vert_up|distformat:dist_format }}</td>
                <td>{{ trip_stats.vert_up|distformat:dist_format }}</td>
              </tr>

              <tr>
                <th scope="row">Rope descent</th>
                <td>{{ trip_stats_year0.vert_down|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.vert_down|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.vert_down|distformat:dist_format }}</td>
                <td>{{ trip_stats.vert_down|distformat:dist_format }}</td>
              </tr>

              <tr>
                <th scope="row">Surveyed</th>
                <td>{{ trip_stats_year0.surveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.surveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.surveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats.surveyed|distformat:dist_format }}</td>
              </tr>

              <tr>
                <th scope="row">Resurveyed</th>
                <td>{{ trip_stats_year0.resurveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.resurveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.resurveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats.resurveyed|distformat:dist_format }}</td>
              </tr>

              <tr>
                <th scope="row">Horizontal</th>
                <td>{{ trip_stats_year0.horizontal|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.horizontal|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.horizontal|distformat:dist_format }}</td>
                <td>{{ trip_stats.horizontal|distformat:dist_format }}</td>
              </tr>

              <tr>
                <th scope="row">Aid climbed</th>
                <td>{{ trip_stats_year0.aided|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.aided|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.aided|distformat:dist_format }}</td>
                <td>{{ trip_stats.aided|distformat:dist_format }}</td>
              </tr>

              <tr class="border-top">
                <th scope="row">Total trips</th>
                <td>{{ trip_stats_year0.trips }}</td>
                <td>{{ trip_stats_year1.trips }}</td>
                <td>{{ trip_stats_year2.trips }}</td>
                <td>{{ trip_stats.trips }}</td>
              </tr>

              <tr>
                <th scope="row">
                  Time
                </th>
                <td>{{ trip_stats_year0.time }}</th>
                <td>{{ trip_stats_year1.time }}</th>
                <td>{{ trip_stats_year2.time }}</th>
                <td>{{ trip_stats.time }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      Most common
    </div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-12 col-lg-6">
          <h5>Most common caves</h5>
          {% if common_caves %}
            <ol>
              {% for cave in common_caves %}
                <li>
                  <strong>{{ cave.cave_name }}</strong> &mdash; {{ cave.count }} trip{{ cave.count|pluralize }}
                </li>
              {% endfor %}
            </ol>
          {% else %}
            <p>Sorry, no data for this!</p>
          {% endif %}
        </div>

        <div class="col-12 col-lg-6">
          <h5>Most common cavers</h5>
          {% if common_cavers %}
            <ol>
              {% for caver, count in common_cavers %}
                <li>
                  <strong>{{ caver }}</strong> &mdash; {{ count }} trip{{ count|pluralize }}
                </li>
              {% endfor %}
            </ol>
          {% else %}
            <p>Sorry, no data for this!</p>
          {% endif %}
        </div>

        <div class="col-12 col-lg-6">
          <h5>Most common trip types</h5>
          {% if common_types %}
            <ol>
              {% for type in common_types %}
                <li>
                  <strong>{{ type.type }}</strong> &mdash; {{ type.count }} trip{{ type.count|pluralize }}
                </li>
              {% endfor %}
            </ol>
          {% else %}
            <p>Sorry, no data for this!</p>
          {% endif %}
        </div>

        <div class="col-12 col-lg-6">
          <h5>Most common clubs</h5>
          {% if common_clubs %}
            <ol>
              {% for club, count in common_clubs %}
                <li>
                  <strong>{{ club }}</strong> &mdash; {{ count }} trip{{ count|pluralize }}
                </li>
              {% endfor %}
            </ol>
          {% else %}
            <p>Sorry, no data for this!</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      Biggest trips
    </div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-12">
          {% if most_duration %}
            <h5>Longest trips</h5>
            <div class="table-responsive">
              <table class="table table-borderless table-hover table-sm">
                <thead>
                  <th scope="col">#</th>
                  <th scope="col">Trip</th>
                  <th scope="col">Date</th>
                  <th scope="col">Duration</th>
                </thead>

                <tbody>
                  {% for trip, duration in most_duration %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        <a href="{% url 'log:trip_detail' trip.pk %}">
                          {{ trip.cave_name }}
                        </a>
                      </td>
                      <td>{{ trip.start|date }}</td>
                      <td>{{ duration }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
          {% else %}
            <p class="m-0">Sorry, no data for this!</p>
          {% endif %}
        </div>

        {% if most_vert_up %}
          <div class="col-12 col-lg-6">
            <h5>Rope climbed</h5>
            <div class="table-responsive">
              <table class="table table-borderless table-hover table-sm">
                <thead>
                  <th scope="col">#</th>
                  <th scope="col">Trip</th>
                  <th scope="col">Date</th>
                  <th scope="col">Rope climbed</th>
                </thead>

                <tbody>
                  {% for trip in most_vert_up %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        <a href="{% url 'log:trip_detail' trip.pk %}">
                          {{ trip.cave_name }}
                        </a>
                      </td>
                      <td>{{ trip.start|date }}</td>
                      <td>{{ trip.vert_dist_up|distformat:dist_format }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}

        {% if most_vert_down %}
          <div class="col-12 col-lg-6">
            <h5>Rope descended</h5>
            <div class="table-responsive">
              <table class="table table-borderless table-hover table-sm">
                <thead>
                  <th scope="col">#</th>
                  <th scope="col">Trip</th>
                  <th scope="col">Date</th>
                  <th scope="col">Rope descended</th>
                </thead>

                <tbody>
                  {% for trip in most_vert_down %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        <a href="{% url 'log:trip_detail' trip.pk %}">
                          {{ trip.cave_name }}
                        </a>
                      </td>
                      <td>{{ trip.start|date }}</td>
                      <td>{{ trip.vert_dist_down|distformat:dist_format }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}

        {% if most_surveyed %}
          <div class="col-12 col-lg-6">
            <h5>Surveying</h5>
            <div class="table-responsive">
              <table class="table table-borderless table-hover table-sm">
                <thead>
                  <th scope="col">#</th>
                  <th scope="col">Trip</th>
                  <th scope="col">Date</th>
                  <th scope="col">Surveyed</th>
                </thead>

                <tbody>
                  {% for trip in most_surveyed %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        <a href="{% url 'log:trip_detail' trip.pk %}">
                          {{ trip.cave_name }}
                        </a>
                      </td>
                      <td>{{ trip.start|date }}</td>
                      <td>{{ trip.surveyed_dist|distformat:dist_format }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}

        {% if most_resurveyed %}
          <div class="col-12 col-lg-6">
            <h5>Resurveying</h5>
            <div class="table-responsive">
              <table class="table table-borderless table-hover table-sm">
                <thead>
                  <th scope="col">#</th>
                  <th scope="col">Trip</th>
                  <th scope="col">Date</th>
                  <th scope="col">Resurveyed</th>
                </thead>

                <tbody>
                  {% for trip in most_resurveyed %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        <a href="{% url 'log:trip_detail' trip.pk %}">
                          {{ trip.cave_name }}
                        </a>
                      </td>
                      <td>{{ trip.start|date }}</td>
                      <td>{{ trip.resurveyed_dist|distformat:dist_format }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}

        {% if most_aid %}
          <div class="col-12 col-lg-6">
            <h5>Aid climbing</h5>
            <div class="table-responsive">
              <table class="table table-borderless table-hover table-sm">
                <thead>
                  <th scope="col">#</th>
                  <th scope="col">Trip</th>
                  <th scope="col">Date</th>
                  <th scope="col">Aid climbed</th>
                </thead>

                <tbody>
                  {% for trip in most_aid %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        <a href="{% url 'log:trip_detail' trip.pk %}">
                          {{ trip.cave_name }}
                        </a>
                      </td>
                      <td>{{ trip.start|date }}</td>
                      <td>{{ trip.aid_dist|distformat:dist_format }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}

        {% if most_horizontal %}
          <div class="col-12 col-lg-6">
            <h5>Horizontal distance</h5>
            <div class="table-responsive">
              <table class="table table-borderless table-hover table-sm">
                <thead>
                  <th scope="col">#</th>
                  <th scope="col">Trip</th>
                  <th scope="col">Date</th>
                  <th scope="col">Horizontal distance</th>
                </thead>

                <tbody>
                  {% for trip in most_horizontal %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        <a href="{% url 'log:trip_detail' trip.pk %}">
                          {{ trip.cave_name }}
                        </a>
                      </td>
                      <td>{{ trip.start|date }}</td>
                      <td>{{ trip.horizontal_dist|distformat:dist_format }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      Statistics over time
    </div>

    <div class="card-body">
      <canvas id="stats-over-time" data-url="{% url 'log:charts:stats_over_time' %}"></canvas>
    </div>
  </div>
{% else %}

  <div class="card-body">
    <p class="m-0">
      You have not logged any trips yet! Why not <a href="{% url 'log:trip_create' %}">add one now?</a>
    </p>
  </div>
</div>

{% endif %}

{% endblock main %}

{% block footer_scripts %}
  <script>
    $(function () {
      var $statsTimeChart = $("#stats-over-time");
      $.ajax({
        url: $statsTimeChart.data("url"),
        success: function (data) {

          var ctx = $statsTimeChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Hours',
                borderColor: '#008CBA',
                backgroundColor: '#008CBA',
                data: data.duration,
              },
              {
                label: 'Rope climbed ({{ chart_units }})',
                borderColor: 'orange',
                backgroundColor: 'orange',
                data: data.vert_up,
              },
              {
                label: 'Rope descended ({{ chart_units }})',
                borderColor: 'red',
                backgroundColor: 'red',
                data: data.vert_down,
              },
              {
                label: 'Surveyed ({{ chart_units }})',
                borderColor: 'green',
                backgroundColor: 'green',
                data: data.surveyed,
              },
              {
                label: 'Resurveyed ({{ chart_units }})',
                borderColor: 'purple',
                backgroundColor: 'purple',
                data: data.resurveyed,
              }],
            },
            options: {
              responsive: true,
              elements: {
                point: {
                  pointStyle: false,
                },
                line: {
                  tension: 0.4,
                }
              },
            }
          });
        }
      });
    });
  </script>
{% endblock footer_scripts %}
