{% extends "base_sidebar.html" %}
{% load get %}
{% load distformat %}
{% load static %}
{% block title %}Your statistics{% endblock %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block header_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
  <script src="{% static "js/jquery-3.6.4.min.js" %}"></script>
{% endblock%}

{% block main %}

{% if trips %}
  {% if not gte_five_trips %}
    <div class="alert alert-warning" role="alert">
      Full featured statistics are not available as you have added less than five trips.
    </div>
  {% endif %}

  <div class="card">
    <div class="card-header text-center">
      Distance and time
    </div>

    <div class="card-body p-0">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-borderless text-center">
            <thead>
              <tr class="border-bottom">
                <th scope="col"></th>
                <th scope="col">{{ year0 }}</th>
                <th scope="col">{{ year1 }}</th>
                <th scope="col">{{ year2 }}</th>
                <th scope="col">Total</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Rope ascent</th>
                <td>{{ trip_stats_year0.vert_up|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.vert_up|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.vert_up|distformat:dist_format }}</td>
                <td>{{ trip_stats.vert_up|distformat:dist_format }}</td>
              </tr>

              <tr>
                <th scope="row">Rope descent</th>
                <td>{{ trip_stats_year0.vert_down|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.vert_down|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.vert_down|distformat:dist_format }}</td>
                <td>{{ trip_stats.vert_down|distformat:dist_format }}</td>
              </tr>

              <tr>
                <th scope="row">Surveyed</th>
                <td>{{ trip_stats_year0.surveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.surveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.surveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats.surveyed|distformat:dist_format }}</td>
              </tr>

              <tr>
                <th scope="row">Resurveyed</th>
                <td>{{ trip_stats_year0.resurveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.resurveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.resurveyed|distformat:dist_format }}</td>
                <td>{{ trip_stats.resurveyed|distformat:dist_format }}</td>
              </tr>

              <tr>
                <th scope="row">Horizontal</th>
                <td>{{ trip_stats_year0.horizontal|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.horizontal|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.horizontal|distformat:dist_format }}</td>
                <td>{{ trip_stats.horizontal|distformat:dist_format }}</td>
              </tr>

              <tr>
                <th scope="row">Aid climbed</th>
                <td>{{ trip_stats_year0.aided|distformat:dist_format }}</td>
                <td>{{ trip_stats_year1.aided|distformat:dist_format }}</td>
                <td>{{ trip_stats_year2.aided|distformat:dist_format }}</td>
                <td>{{ trip_stats.aided|distformat:dist_format }}</td>
              </tr>

              <tr class="border-top">
                <th scope="row">Total trips</th>
                <td>{{ trip_stats_year0.trips }}</td>
                <td>{{ trip_stats_year1.trips }}</td>
                <td>{{ trip_stats_year2.trips }}</td>
                <td>{{ trip_stats.trips }}</td>
              </tr>

              <tr>
                <th scope="row">
                  Time
                </th>
                <td>{{ trip_stats_year0.time }}</td>
                <td>{{ trip_stats_year1.time }}</td>
                <td>{{ trip_stats_year2.time }}</td>
                <td>{{ trip_stats.time }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% if gte_five_trips %}
    <div class="card mt-4">
      <div class="card-header text-center">
        Most common
      </div>

      <div class="card-body">
        {% if not common_cavers_by_time or not common_cavers or not common_caves %}
          {% comment %}Do not alert if there are no clubs, as many users may not want to store such data.{% endcomment %}
          <div class="alert alert-warning">
            Some statistics unavailable due to a lack of data.
          </div>
        {% endif %}

        <div class="row g-3">
          {% if common_cavers_by_time %}
            <div class="col-12 col-lg-6">
              <h5>Most common cavers (by time)</h5>
              <div class="table-responsive">
                <table class="table table-borderless table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Caver</th>
                      <th scope="col">Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for caver, time in common_cavers_by_time %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ caver }}</td>
                        <td>{{ time }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}

          {% if common_cavers %}
            <div class="col-12 col-lg-6">
              <h5>Most common cavers (by trips)</h5>
              <div class="table-responsive">
                <table class="table table-borderless table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Caver</th>
                      <th scope="col">Trips</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for caver, count in common_cavers %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ caver }}</td>
                        <td>{{ count }} trip{{ count|pluralize }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}

          {% if common_caves %}
            <div class="col-12 col-lg-6">
              <h5>Most common caves</h5>
              <div class="table-responsive">
                <table class="table table-borderless table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Cave</th>
                      <th scope="col">Trips</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for cave in common_caves %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ cave.cave_name }}</td>
                        <td>{{ cave.count }} trip{{ cave.count|pluralize }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}

          {% if common_clubs %}
            <div class="col-12 col-lg-6">
              <h5>Most common clubs</h5>
              <div class="table-responsive">
                <table class="table table-borderless table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Club</th>
                      <th scope="col">Trips</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for club, count in common_clubs %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ club }}</td>
                        <td>{{ count }} trip{{ count|pluralize }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if most_duration or most_vert_up or most_vert_down or most_surveyed or most_resurveyed or most_aid or most_horizontal %}
      <div class="card mt-4">
        <div class="card-header text-center">
          Biggest trips
        </div>

        <div class="card-body">
          <div class="row g-3">
            <div class="col-12">
              {% if most_duration %}
                <h5>Longest trips</h5>
                <div class="table-responsive">
                  <table class="table table-borderless table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Trip</th>
                        <th scope="col">Date</th>
                        <th scope="col">Duration</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for trip in most_duration %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>
                            <a href="{% url 'log:trip_detail' trip.pk %}">
                              {{ trip.cave_name }}
                            </a>
                          </td>
                          <td>{{ trip.start|date }}</td>
                          <td>{{ trip.duration_str }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
              {% endif %}
            </div>

            {% if most_vert_up %}
              <div class="col-12 col-lg-6">
                <h5>Rope climbed</h5>
                <div class="table-responsive">
                  <table class="table table-borderless table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Trip</th>
                        <th scope="col">Date</th>
                        <th scope="col">Rope climbed</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for trip in most_vert_up %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>
                            <a href="{% url 'log:trip_detail' trip.pk %}">
                              {{ trip.cave_name }}
                            </a>
                          </td>
                          <td>{{ trip.start|date }}</td>
                          <td>{{ trip.vert_dist_up|distformat:dist_format }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            {% endif %}

            {% if most_vert_down %}
              <div class="col-12 col-lg-6">
                <h5>Rope descended</h5>
                <div class="table-responsive">
                  <table class="table table-borderless table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Trip</th>
                        <th scope="col">Date</th>
                        <th scope="col">Rope descended</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for trip in most_vert_down %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>
                            <a href="{% url 'log:trip_detail' trip.pk %}">
                              {{ trip.cave_name }}
                            </a>
                          </td>
                          <td>{{ trip.start|date }}</td>
                          <td>{{ trip.vert_dist_down|distformat:dist_format }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            {% endif %}

            {% if most_surveyed %}
              <div class="col-12 col-lg-6">
                <h5>Surveying</h5>
                <div class="table-responsive">
                  <table class="table table-borderless table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Trip</th>
                        <th scope="col">Date</th>
                        <th scope="col">Surveyed</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for trip in most_surveyed %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>
                            <a href="{% url 'log:trip_detail' trip.pk %}">
                              {{ trip.cave_name }}
                            </a>
                          </td>
                          <td>{{ trip.start|date }}</td>
                          <td>{{ trip.surveyed_dist|distformat:dist_format }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            {% endif %}

            {% if most_resurveyed %}
              <div class="col-12 col-lg-6">
                <h5>Resurveying</h5>
                <div class="table-responsive">
                  <table class="table table-borderless table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Trip</th>
                        <th scope="col">Date</th>
                        <th scope="col">Resurveyed</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for trip in most_resurveyed %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>
                            <a href="{% url 'log:trip_detail' trip.pk %}">
                              {{ trip.cave_name }}
                            </a>
                          </td>
                          <td>{{ trip.start|date }}</td>
                          <td>{{ trip.resurveyed_dist|distformat:dist_format }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            {% endif %}

            {% if most_aid %}
              <div class="col-12 col-lg-6">
                <h5>Aid climbing</h5>
                <div class="table-responsive">
                  <table class="table table-borderless table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Trip</th>
                        <th scope="col">Date</th>
                        <th scope="col">Aid climbed</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for trip in most_aid %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>
                            <a href="{% url 'log:trip_detail' trip.pk %}">
                              {{ trip.cave_name }}
                            </a>
                          </td>
                          <td>{{ trip.start|date }}</td>
                          <td>{{ trip.aid_dist|distformat:dist_format }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            {% endif %}

            {% if most_horizontal %}
              <div class="col-12 col-lg-6">
                <h5>Horizontal distance</h5>
                <div class="table-responsive">
                  <table class="table table-borderless table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Trip</th>
                        <th scope="col">Date</th>
                        <th scope="col">Horizontal distance</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for trip in most_horizontal %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>
                            <a href="{% url 'log:trip_detail' trip.pk %}">
                              {{ trip.cave_name }}
                            </a>
                          </td>
                          <td>{{ trip.start|date }}</td>
                          <td>{{ trip.horizontal_dist|distformat:dist_format }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if averages %}
      <div class="card mt-4">
        <div class="card-header text-center">
          Averages
        </div>

        <div class="card-body">
          {% if averages|length < 8 %}
            <div class="alert alert-warning">
              Some averages unavailable due to a lack of data.
            </div>
          {% endif %}

          <div class="table-responsive">
            <table class="table table-borderless table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Statistic</th>
                  <th scope="col">Average value</th>
                </tr>
              </thead>

              <tbody>
                {% for key, value in averages %}
                  <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="text-muted">
            <small>
              <strong>*</strong> Horizontal only trips excluded.<br />
              <strong>**</strong> Combined survery and resurvey.<br />
              <strong>***</strong> Excluding trips with no surveying.
            </small>
          </div>
        </div>
      </div>
    {% endif %}

    {% if show_time_charts %}
      <div class="card mt-4">
        <div class="card-header text-center">
          Statistics over time
        </div>

        <div class="card-body">
          <canvas style="min-height: 350px;" id="stats-over-time" data-url="{% url 'log:charts:stats_over_time' %}"></canvas>
        </div>

        <small class="card-footer text-muted text-center">
          Click the legend to toggle data
        </small>
      </div>

      <div class="card mt-4">
        <div class="card-header text-center">
          Hours per month
        </div>

        <div class="card-body">
          <div class="row">
            <canvas style="min-height: 300px;" id="hours-per-month" data-url="{% url 'log:charts:hours_per_month' %}"></canvas>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="card mt-4">
      <div class="card-header text-center">
        Trip types
      </div>

      <div class="card-body">
        <div class="row g-5">
          {% if show_time_charts %}
            <div class="col-12 col-lg-6">
              <canvas style="min-height: 150px;" id="trip-types" data-url="{% url 'log:charts:trip_types' %}"></canvas>
            </div>

            <div class="col-12 col-lg-6">
              <canvas style="min-height: 150px;" id="trip-types-time" data-url="{% url 'log:charts:trip_types_time' %}"></canvas>
            </div>
          {% else %}
            <div class="col-12 text-center">
              <canvas style="min-height: 150px;" id="trip-types" data-url="{% url 'log:charts:trip_types' %}"></canvas>
            </div>
          {% endif %}
        </div>
      </div>

      <small class="card-footer text-muted text-center">
        Click the legend to toggle data
      </small>
    </div>
  {% endif %}

{% else %}

  <div class="card">
    <div class="card-header">Statistics</div>

    <div class="card-body">
      <p class="m-0">
        You have not logged any trips yet! Why not <a href="{% url 'log:trip_create' %}">add one now?</a>
      </p>
    </div>
  </div>

{% endif %}

{% endblock main %}

{% block footer_scripts %}
  {% if gte_five_trips %}
    <script>
      $(function () {
        var $tripTypeChart = $("#trip-types");
        $.ajax({
          url: $tripTypeChart.data("url"),
          success: function (data) {

            var ctx = $tripTypeChart[0].getContext("2d");

            new Chart(ctx, {
              type: 'pie',
              data: {
                labels: data.labels,
                datasets: [{
                  data: data.data,
                }],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  title: {
                    display: true,
                    text: 'Trip types (number of trips)'
                  }
                }
              }
            });
          }
        });
      });

      {% if show_time_charts %}
        $(function () {
          var $tripTypeTimeChart = $("#trip-types-time");
          $.ajax({
            url: $tripTypeTimeChart.data("url"),
            success: function (data) {

              var ctx = $tripTypeTimeChart[0].getContext("2d");

              new Chart(ctx, {
                type: 'pie',
                data: {
                  labels: data.labels,
                  datasets: [{
                    data: data.data,
                  }],
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  plugins: {
                    title: {
                      display: true,
                      text: 'Trip types (hours of trips)'
                    }
                  }
                }
              });
            }
          });
        });

        $(function () {
          var $hoursPerMonthChart = $("#hours-per-month");
          $.ajax({
            url: $hoursPerMonthChart.data("url"),
            success: function (data) {

              var ctx = $hoursPerMonthChart[0].getContext("2d");

              new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: data.labels,
                  datasets: [{
                    label: 'Hours per month',
                    data: data.data,
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.5)',
                      'rgba(255, 159, 64, 0.5)',
                      'rgba(255, 205, 86, 0.5)',
                      'rgba(75, 192, 192, 0.5)',
                      'rgba(54, 162, 235, 0.5)',
                      'rgba(153, 102, 255, 0.5)',
                      'rgba(201, 203, 207, 0.5)'
                    ],
                    borderColor: [
                      'rgb(255, 99, 132)',
                      'rgb(255, 159, 64)',
                      'rgb(255, 205, 86)',
                      'rgb(75, 192, 192)',
                      'rgb(54, 162, 235)',
                      'rgb(153, 102, 255)',
                      'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                  }],
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  plugins: {
                    legend: {
                      display: false,
                    }
                  }
                }
              });
            }
          });
        });

        $(function () {
          var $statsTimeChart = $("#stats-over-time");
          $.ajax({
            url: $statsTimeChart.data("url"),
            success: function (data) {

              var ctx = $statsTimeChart[0].getContext("2d");

              new Chart(ctx, {
                type: 'line',
                data: {
                  labels: data.labels,
                  datasets: [{
                    label: 'Hours',
                    borderColor: '#008CBA',
                    backgroundColor: '#008CBA',
                    data: data.duration,
                  },
                  {
                    label: 'Rope climbed ({{ chart_units }})',
                    borderColor: 'orange',
                    backgroundColor: 'orange',
                    data: data.vert_up,
                  },
                  {
                    label: 'Rope descended ({{ chart_units }})',
                    borderColor: 'red',
                    backgroundColor: 'red',
                    data: data.vert_down,
                  },
                  {
                    label: 'Surveyed ({{ chart_units }})',
                    borderColor: 'green',
                    backgroundColor: 'green',
                    data: data.surveyed,
                  },
                  {
                    label: 'Resurveyed ({{ chart_units }})',
                    borderColor: 'purple',
                    backgroundColor: 'purple',
                    data: data.resurveyed,
                  }],
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  elements: {
                    point: {
                      pointStyle: false,
                    },
                    line: {
                      tension: 0.4,
                    }
                  },
                }
              });
            }
          });
        });
      {% endif %}
    </script>
  {% endif %}
{% endblock footer_scripts %}
