<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Cave</th>
        <td>
          {{ trip.cave_name }}
          <span class="text-muted">
            {{ trip.cave_region }} / {{ trip.cave_country }}
          </span>
        </td>
      </tr>

      <tr>
        <th scope="row">Type</th>
        <td>
          {{ trip.type }}
          {% if trip.club %}
            trip with {{ trip.club }}
          {% endif %}
        </td>
      </tr>

      <tr>
        {% if trip.end %}
          <th scope="row">
            Entered
          </th>
        {% else %}
          <th scope="row">Date/Time</th>
        {% endif %}
        <td>
          {{ trip.start|time:"H:i" }}
          <span class="text-muted">{{ trip.start|date:"Y-m-d"}}</span>
        </td>
      </tr>

      {% if trip.end %}
        <tr>
          <th scope="row">
            Exited
          </th>
          <td>
            {{ trip.end|time:"H:i" }}
            <span class="text-muted">{{ trip.end|date:"Y-m-d"}}</span>
          </td>
        </tr>

        <tr>
          <th scope="row">Duration</th>
          <td>{{ trip.duration_str }}</td>
        </tr>
      {% endif %}

      {% if trip.expedition %}
        <tr>
          <th scope="row">Expedition</th>
          <td>{{ trip.expedition }}</td>
        </tr>
      {% endif %}

      {% if trip.cavers %}
        <tr>
          <th scope="row">Cavers</th>
          <td>{{ trip.cavers }}</td>
        </tr>
      {% endif %}

      {% if trip.notes %}
        <tr>
          <th scope="row">Notes</th>
          <td>{{ trip.notes|striptags|linebreaks }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
