<!-- Cave name -->
<div class="row">
  <div class="col">
    <span class="display-5 trip-header">
      {{ trip.cave_name }}
    </span>
  </div>
</div>

{% if trip.cave_region or trip.cave_country %}
  <!-- Region, Country -->
  <div class="row">
    <div class="col">
      <span class="fs-5 text-muted trip-header">
        {{ trip.cave_region }}{% if trip.cave_region and trip.cave_country %} &middot; {% endif %}{{ trip.cave_country }}
      </span>
    </div>
  </div>
{% endif %}

<!-- Badges: Type, Expedition, Clubs -->
<div class="row">
  <div class="col">
    <span class="badge rounded-pill text-bg-primary">{{ trip.type }} trip</span>
    {% if trip.clubs %}
      <span class="badge rounded-pill text-bg-success">Clubs: {{ trip.clubs }}</span>
    {% endif %}
    {% if trip.expedition %}
      <span class="badge rounded-pill text-bg-warning">Expedition: {{ trip.expedition }}</span>
    {% endif %}
  </div>
</div>

<!-- Data blocks -->
<div class="row g-2 mt-3">
  <!-- Start time-->
  <div class="col-6 col-lg-4">
    <small class="text-muted">Date/time entered</small><br />
    {{ trip.start|time:"H:i" }} on {{ trip.start|date:"d M Y" }}
  </div>

  {% if trip.end %}
    <!-- End time -->
    <div class="col-6 col-lg-4">
      <small class="text-muted">Date/time exited</small><br />
      {{ trip.end|time:"H:i" }} on {{ trip.end|date:"d M Y" }}
    </div>

    <!-- Duration -->
    <div class="col-6 col-lg-4">
      <small class="text-muted">Trip duration</small><br />
      {{ trip.duration_str }}
    </div>
  {% endif %}
</div>

{% if trip.has_distances %}
  <hr />

  <div class="row g-2">
    {% if trip.horizontal_dist %}
      <!-- Horizontal dist -->
      <div class="col-6 col-lg-4">
        <small class="text-muted">Horizontal distance</small><br />
        {{ trip.horizontal_dist }} metres
      </div>
    {% endif %}

    {% if trip.vert_dist_down %}
      <!-- Vertical distance descended -->
      <div class="col-6 col-lg-4">
        <small class="text-muted">Distance descended</small><br />
        {{ trip.vert_dist_down }} metres
      </div>
    {% endif %}

    {% if trip.vert_dist_up %}
      <!-- Vertical distance ascended -->
      <div class="col-6 col-lg-4">
        <small class="text-muted">Distance ascended</small><br />
        {{ trip.vert_dist_up }} metres
      </div>
    {% endif %}

    {% if trip.surveyed_dist %}
      <!-- Surveyed distance -->
      <div class="col-6 col-lg-4">
        <small class="text-muted">Surveyed distance</small><br />
        {{ trip.surveyed_dist }} metres
      </div>
    {% endif %}

    {% if trip.aid_dist %}
      <!-- Aid climbing distance -->
      <div class="col-6 col-lg-4">
        <small class="text-muted">Aid climbing distance</small><br />
        {{ trip.aid_dist }} metres
      </div>
    {% endif %}
  </div>
{% endif %}


{% if trip.cavers %}
  <hr />

  <!-- Cavers -->
  <div class="row g-2">
    <div class="col-12">
      <small class="text-muted">Cavers on trip</small><br />
      {{ trip.cavers }}
    </div>
  </div>
{% endif %}

{% if trip.notes %}
  <hr />

  <!-- Notes -->
  <div class="row g-2 mb-3">
    <div class="col-12 notes-display">
      <small class="text-muted">Notes</small><br />
      {{ trip.notes|linebreaks }}
    </div>
  </div>
{% endif %}

{% if trip.report_url or trip.cave_url %}
  <!-- External Resources -->
  <div class="row g-2">
    <div class="col-12">
      <small class="text-muted">External resources</small>
      <ol class="mb-0">
        {% if trip.report_url %}<li><a class="link-secondary" href="{{ trip.report_url }}" target="_blank">Trip report</a></li>{% endif %}
        {% if trip.cave_url %}<li><a class="link-secondary" href="{{ trip.cave_url }}" target="_blank">Website for {{ trip.cave_name }}</a></li>{% endif %}
      </ol>
    </div>
  </div>
{% endif %}
