<div class="card h-100">
  <div class="card-header">
    <small class="text-muted">
      <i class="bi bi-clock-history"></i> Trip {{ trip.start|timesince }} ago...
    </small>
  </div>

  <div class="card-body d-flex flex-column">
    <h5 class="card-title fs-4">
      {{ trip.cave_name }}
    </h5>
    <h6 class="card-subtitle mb-2 fs-5 text-muted">
      {{ trip.start|date:"Y-m-d" }}
    </h6>

    <p class="card-text">
      {% with max_chars=100 %}
        {% if trip.notes %}
          <span class="text-muted">Notes</span>
          {{ trip.notes|truncatechars:max_chars }}
        {% elif trip.cavers %}
          <span class="text-muted">Cavers</span>
          {{ trip.cavers|truncatechars:max_chars }}
        {% elif trip.html_tidbits %}
          {{ trip.html_tidbits|safe|truncatechars_html:max_chars }}
        {% else %}
          Why not <a href="{% url 'log:trip_update' trip.pk %}">edit this trip</a>
          and add some more information?
        {% endif %}
      {% endwith %}
    </p>

    <a class="btn btn-primary mt-auto" href="{% url 'log:trip_detail' trip.pk %}">View trip</a>
  </div>
</div>
