<div class="card mb-4">
  <div class="card-header text-muted">
    <div class="row">
      <div class="col-12 col-md-8">
        <i class="bi bi-person"></i>&nbsp;
        {% if trip.user == request.user %}
          You
        {% else %}
          {{ trip.user.profile.name }}
        {% endif %}
      </div>

      <div class="d-none d-md-block col-md-4 text-end">
        <i class="bi bi-clock-history"></i>&nbsp; {{ trip.start|timesince }} ago
      </div>
    </div>
  </div>

  <div class="card-body pt-2">
    {% include "trip_table.html" %}
  </div>

  <div class="card-footer d-md-none text-muted">
    <i class="bi bi-clock-history"></i>&nbsp; {{ trip.start|timesince }} ago
  </div>
</div>
