attrs
boto3
chardet
coverage
crispy-bootstrap5
Django==4.2
django-active-link
django-autocomplete-light
django-countries
django-crispy-forms
django-debug-toolbar
django-htmx
django-mailer
django-markdownify
django-ratelimit
django-rich
django-storages[s3]
django-timezone-field
django-tinymce
django-unfold
dj-database-url
ExifRead
factory-boy
googlemaps
gunicorn
hiredis
humanize
imgproxy
itsdangerous
Pillow
psycopg2
python-dateutil
python-magic
pytz
redis
sentry-sdk
tablib
tblib
tzdata
whitenoise
