<div class="card">
  <div class="card-header fs-4">
    About caves.app
  </div>

  <div class="card-body">
    <p class="lead">
      Using spreadsheets to maintain a record of caving activity is cumbersome and inconvenient. caves.app solves this problem.
      Initially developed for my own personal use, I have made the service available to all in the hope other cavers will find it useful.
    </p>

    <p>
      caves.app is easily used on any device with an internet connection, and has a minimalist interface that is designed to make
      storing your data quick and easy. This website <strong>is not</strong> supposed to be a database of caves - all of your
      added data is completely private (unless you opt to make it public), and other users cannot (by default) see what caves
      you have added.
    </p>

    <p>
      Your data is completely secure on caves.app. If you do not find the website useful then you can export your
      data to a CSV file at any time. I take being entrusted with your (potentially irreplaceable) data very
      seriously and hourly backups of all user data are performed.
    </p>

    <hr class="my-4" />

    <h5>Current and planned features</h5>
    <p>
      This website is in active development and not all features are currently implemented. Notably, <strong>distance
      unit handling</strong> is not implemented. All units of distance are measured in metres. <strong>Public profiles
      are also currently not implemented.</strong> Even though you may select a privacy setting
      for your trips and profile, it has no effect, as there is no public view for trips or profiles yet.
    </p>

    <p>
      Other features which will be implemented but are not yet include: the adding of photos to trips, a trash bin for deleted trips
      (all deletions are permanent!), a friends/social 'timeline' functionality, and a 'trip report' functionality which would show
      rich text trip reports in the style of a blog post.
    </p>


    <h5 class="mt-4">Contact and support</h5>
    <p>
      If you encounter any issues, however minor, with the website then please do send me an email and let me know. I am keen to get things
      fixed promptly and would really appreciate your feedback, even if it is negative. The same goes if you believe a particular user flow
      or feature could be changed or improved. To contact me, simply send an email to <code>admin@caves.app</code>.
    </p>

    <h5 class="mt-4">Statistics</h5>
    <p>
      caves.app currently has <strong>{{ user_count }}</strong> registered users, with a total of <strong>{{ trip_count }}</strong> trips
      stored in the database.
    </p>
  </div>
</div>
