<div class="card">
  <div class="card-header fs-4">
    About caves.app
  </div>

  <div class="card-body">
    <p class="lead">
      Using spreadsheets to maintain a record of caving activity is cumbersome and inconvenient &mdash; caves.app solves this problem.
    </p>

    <p>
      caves.app is easily used on any device with an internet connection, and has a minimalist interface that is designed to make
      recording data quick and easy. <strong>Your privacy and the protection of your data is my priority</strong> &mdash; all of your
      information is visible only to you (unless you opt to make it public), and other users cannot (by default) see what caves
      you have added.
    </p>

    <p>
      <strong>Your data is your property.</strong> If you do not find the website useful then you can <a href="{% url 'log:export'%}">
      export your data to a CSV file at any time</a>. I take being entrusted with your (potentially irreplaceable) data very seriously
      and best efforts are made, including regular off-site backups, to protect against any loss of recorded data.
    </p>

    <hr class="my-4" />

    <h5>Current and planned features</h5>
    <p>
      This website is in active development and not all features are currently implemented. Features which are planned include:
    </p>

    <ul>
      <li>The ability to add photos to trips.</li>
      <li>A friends/social 'timeline' functionality.</li>
      <li>Search functionality.</li>
      <li>An equipment tracker.</li>
    </ul>

    <h5 class="mt-4">Contact and support</h5>
    <p>
      If you encounter any issues, however minor, with the website then please do send me an email and let me know. I am keen to get things
      fixed promptly and would really appreciate your feedback, even if it is negative. The same goes if you believe a particular user flow
      or feature could be changed or improved. To contact me, simply send an email to <code>admin@caves.app</code>.
    </p>

    <h5 class="mt-4">Statistics</h5>
    <p>
      caves.app currently has <strong>{{ user_count }}</strong> registered users, with a total of <strong>{{ trip_count }}</strong> trips
      stored in the database.
    </p>
  </div>
</div>
