{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container">
  <div class="col-lg-8 mx-auto">
    <h1 class="display-4">Reset your password</h1>
    {% if validlink %}
      <br />
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="mt-3 w-100 btn btn-lg btn-primary" type="submit">Reset password</button>
      </form>
    {% else %}
      <p class="lead">
        I'm afraid the link you have followed is invalid or expired.
      </p>

      <p>
        Would you like to <a class="link-secondary" href="{% url 'users:password-reset' %}">start again?</a>
      </p>
    {% endif %}
  </div>
</div>
{% endblock content %}
