{% extends "base_sidebar.html" %}
{% load markdownify %}
{% block title %}{{ request.user.first_name }}'s profile{% endblock %}
{% block sidebar %}{% include "sidebar_users.html" %}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header fs-4">
    Your account
  </div>

  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row" class="ps-3 pt-3">Full name</th>
            <td class="pt-3">
              {{ user.first_name }} {{ user.last_name }}
            </td>
          </tr>

          <tr>
            <th scope="row" class="ps-3">Email address</th>
            <td>
              {{ user.email }}
            </td>
          </tr>

          <tr>
            <th scope="row" class="ps-3">Username</th>
            <td>
              {{ user.username }}
            </td>
          </tr>

          {% if user.is_public %}
            <tr>
              <th scope="row" class="ps-3">Public profile</th>
              <td>
                <a href="{% url 'public:user' user.username %}">https://caves.app{% url 'public:user' user.username %}</a>
              </td>
            </tr>
          {% endif %}

          <tr>
            <th scope="row" class="ps-3">Location</th>
            <td>
              {% if user.location %}{{ user.location }}{% else %}Not recorded{% endif %}
            </td>
          </tr>

          <tr>
            <th scope="row" class="ps-3">Country</th>
            <td>
              {% if user.country %}{{ user.country.name }}{% else %}Not recorded{% endif %}
            </td>
          </tr>

          <tr>
            <th scope="row" class="ps-3">Club(s)</th>
            <td>
              {% if user.clubs %}{{ user.clubs }}{% else %}Not recorded{% endif %}
            </td>
          </tr>

          <tr>
            <th scope="row" class="ps-3">Biography</th>
            <td class="notes-display">
              {% if user.bio %}
                {{ user.bio|markdownify }}<br />
              {% else %}
                Not recorded
                <br /><br /><br />
              {% endif %}
            </td>
          </tr>

          <tr class="fs-5 bg-secondary bg-gradient">
            <th class="ps-3 fw-normal" scope="col" colspan="2">Settings</th>
          </tr>

          <tr>
            <th scope="row" class="ps-3">Timezone</th>
            <td>{{ user.timezone }}</td>
          </tr>

          <tr>
            <th scope="row" class="ps-3">Units</th>
            <td>
              {{ user.units }}
            </td>
          </tr>

          <tr>
            <th scope="row" class="ps-3">Profile privacy</th>
            <td>
              {{ user.privacy }}
              <br /><br /><br />
            </td>
          </tr>

          <tr class="fs-5 bg-secondary bg-gradient">
            <th class="ps-3 fw-normal" scope="col" colspan="2">Account information</th>
          </tr>

          <tr>
            <th scope="row" class="ps-3">Account created</th>
            <td>{{ user.date_joined|time:"H:i" }} on {{ user.date_joined|date:"l, jS F Y (e)" }}</td>
          </tr>

          <tr>
            <th class="no-bottom-border ps-3" scope="row">Last login</th>
            <td class="no-bottom-border">{{ user.last_login|time:"H:i" }} on {{ user.last_login|date:"l, jS F Y (e)" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock main %}
