{% extends "base.html" %}
{% block title %}Caving Log - Profile{% endblock %}
{% block content %}

<div class="container">
  <div class="col-lg-8 mx-auto">
    <h1 class="display-4">Your account</h1>
    <br />

    <table class="table">
      <tbody>
        <tr class="text-center table-light">
          <th scope="col" colspan="2">Personal Information</th>
        </tr>

        <tr>
          <th scope="row">Full name</th>
          <td>
            {{ user.first_name }} {{ user.last_name }}
          </td>
        </tr>

        <tr>
          <th scope="row">Email address</th>
          <td>
            {{ user.email }}
          </td>
        </tr>

        <tr>
          <th scope="row">Username</th>
          <td>
            {{ user.username }}
          </td>
        </tr>

        <tr>
          <th scope="row">Location</th>
          <td>
            {% if user.location %}{{ user.location }}{% else %}Not recorded{% endif %}
          </td>
        </tr>

        <tr>
          <th scope="row">Biography</th>
          <td>
            {% if user.bio %}{{ user.bio }}{% else %}Not recorded{% endif %}
          </td>
        </tr>

        <tr class="text-center table-light">
          <th scope="col" colspan="2">Settings</th>
        </tr>

        <tr>
          <th scope="row">Timezone</th>
          <td>{{ user.timezone }}</td>
        </tr>

        <tr>
          <th scope="row">Units</th>
          <td>{{ user.units }}</td>
        </tr>

        <tr class="text-center table-light">
          <th scope="col" colspan="2">Account Information</th>
        </tr>

        <tr>
          <th scope="row">Account created</th>
          <td>{{ user.date_joined|time:"H:i" }} on {{ user.date_joined|date:"l, jS F Y (e)" }}</td>
        </tr>

        <tr>
          <th scope="row">Last login</th>
          <td>{{ user.last_login|time:"H:i" }} on {{ user.last_login|date:"l, jS F Y (e)" }}</td>
        </tr>
      </tbody>
    </table>
    <br />

    <h4>Options</h4>
    <ul>
      <li><a class="link-secondary" href="{% url 'users:update' %}">Change personal information and settings</a></li>
      <li><a class="link-secondary" href="{% url 'users:password' %}">Change your password</a></li>
    </ul>

  </div>
</div>

{% endblock %}
