{% extends "base.html" %}
{% block title %}Caving Log - Verify Email{% endblock %}
{% block content %}

<div class="container">
  <div class="col-lg-8 mx-auto">
    <h1 class="display-4">Registration complete</h1>
    <p class="lead">
      You're almost there! Just one more thing - you need to verify your
      email address before you can sign in. You have 24 hours to confirm
      your account.
    </p>
    <p>
      Please check your
      email for a unique code which has been sent to you. You can then click
      the link in the email, or enter the code into the box below. If you
      did not receive the code, and it isn't in your email spam folder, please
      <a class="link-secondary" href="mailto:andrew@northall.me.uk">contact
      me</a> via email (<code>andrew@northall.me.uk</code>) and I will do my
      best to help.
    </p>

    <br />
    <form method="get">
      {{ form }}
      <button class="mt-3 w-100 btn btn-lg btn-primary" type="submit">Verify</button>
    </form>
  </div>
</div>

{% endblock %}
