{% extends "base_full_width.html" %}
{% load humanize %}
{% load static %}
{% load markdownify %}

{% block title %}caves.app - help{% endblock %}
{% block display_title %}Help{% endblock %}
{% block description %}Frequently asked questions about caves.app, and how to get help with the site.{% endblock %}

{% block content %}
  <div class="row g-4">
    <div class="col-12 col-lg-6">
      <p>
        If you need any help with anything, or if you've encountered a problem with the site, then please do not hesitate to
        <a href="mailto:admin@caves.app">send me an email</a> and I will get back to you as soon as possible. Equally, any
        feedback &mdash; positive or negative &mdash; is very welcome.
      </p>

      <p class="mb-0">
        The support email address is: <code>admin@caves.app</code>.
      </p>
    </div>
  </div>

  {% if faqs %}
    <div class="row row-cols-1 row-cols-lg-2 g-4 mt-4">
      {% for faq in faqs %}
        <div class="col">
          <h4 class="subtitle mb-2">
            {{ faq.question }}
          </h4>
          {{ faq.answer|markdownify }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
