{% extends "base_trips.html" %}

{% block title %}Welcome to caves.app!{% endblock %}
{% load markdownify %}

{% block main %}
  <div class="mw-45">
    <p class="lead mb-4">
      Thanks for signing up to caves.app, {{ user.name }}!
    </p>

    <p class="mb-4">
      I thought I'd give you a few hints on how to best use
      the site. Follow the steps below to get started:
    </p>

    <ol class="mb-4">
      <li class="mb-2">
        <a href="{% url 'users:profile_update' %}">Fill out your user profile!</a> Let people know who you are and where you are from.
      </li>

      <li class="mb-2">
        <a href="{% url 'users:account_settings' %}">Check your account settings!</a> Some settings are important for the functionality
        of the site &mdash; such as the timezone that will be used to enter/display trips and which distance units to use.
      </li>

      <li class="mb-2">
        <a href="{% url 'log:trip_create' %}">Add your first trips!</a> The form should be straightforward enough
        and the only required data to create a trip is the cave name and trip start time. Alternatively, you can
        <a href="{% url 'import:index' %}">import your trips</a> from a CSV file.
      </li>

      <li class="mb-2">
        <a href="{% url 'users:friends' %}">Add some friends!</a> If you know the username or email address of your
        friends, you can add them and view their trips in your timeline.
      </li>

      <li>
        Enjoy the website! If you have any issues at all, or any feedback, please do
        <a href="mailto:admin@caves.app">let me know</a> immediately by sending an email to
        <code>admin@caves.app</code> and I will do my best to help.
      </li>
    </ol>

    <div class="text-muted">
      <small>
        This notice will disappear once there are trips to display in your feed.
      </small>
    </div>
  </div>
{% endblock %}
