{% extends "logger/_base.html" %}
{% load humanize %}
{% load users_tags %}
{% load markdownify %}

{% block title %}{{ news.title }}{% endblock %}
{% block description %}Information about the latest updates to caves.app.{% endblock %}

{% block main %}
  {% include "core/_news_item.html" %}

  <h5 class="mb-3 mt-5">Comments</h5>
  {% include "comments/_comments.html" with comment_obj=news comment_obj_type="news" %}

  <a href="{% url 'core:news' %}" class="btn btn-outline-primary mt-3"><i class="bi bi-arrow-left"></i>&nbsp; Back to all news</a>
{% endblock %}
