{% load humanize %}
{% load users_tags %}
{% load core_tags %}
{% load markdownify %}

{% for trip in trips %}
  <div class="trip-feed-item mb-5 shadow">
    {% if not trip.featured_photo %}
      <div class="d-flex flex-row justify-content-start align-items-center trip-feed-header">
        <a class="trip-feed-avatar" href="{{ trip.user.get_absolute_url }}">{% include "users/_profile_picture.html" with photo_user=trip.user %}</a>
        <div class="ms-3">
          {% include "logger/_feed_trip_header.html" %}
        </div>
      </div>
    {% else %}
      <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center">
        <div class="featured-photo-container featured-photo-small border-0 border-bottom" data-bs-theme="dark">
          <a href="{{ trip.get_absolute_url }}">
            <img src="{{ trip.featured_photo.photo.url }}" class="trip-featured-photo"
                 alt="{% if trip.featured_photo.caption %}{{ featured_photo.caption }}{% else %}Featured photo for this trip.{% endif %}">
          </a>
          <div class="featured-photo-overlay">
            <a href="{{ trip.user.get_absolute_url }}" class="mt-auto mb-auto trip-feed-avatar">
              {% if trip.user.avatar %}
                <img class="align-self-center justify-self-center rounded-circle border shadow"
                     src="{{ trip.user.avatar|imgproxy:"preset:avatar" }}"
                     alt="{{ trip.user.name }}'s profile picture">
              {% endif %}
            </a>
            <div class="ms-3">
              {% include "logger/_feed_trip_header.html" %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="trip-feed-content">
      {% include "logger/_trip_data_blocks.html" %}

      {% if trip.trip_report %}
        <div class="row row-cols-1 mt-3">
          <div class="col">
            <small class="trip-field">Trip report</small>
            <div class="no-paragraph-mb d-none d-sm-block">
              {{ trip.trip_report|markdownify:"plain"|truncatechars_html:800 }}
            </div>
            <div class="no-paragraph-mb d-sm-none">
              {{ trip.trip_report|markdownify:"plain"|truncatechars_html:300 }}
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    {% if trip.has_photos and not trip.private_photos %}
      <div class="p-2">
        <div id="gallery-{{ trip.uuid }}-big" class="trip-feed-gallery d-none d-sm-block">
          {% for photo in trip.feed_photos %}
            {% include "logger/_feed_gallery_item.html" %}
          {% endfor %}
        </div>

        <div id="gallery-{{ trip.uuid }}-small" class="trip-feed-gallery d-sm-none">
          {% for photo in trip.feed_photos %}
            {% if forloop.counter <= 5 %}
              {% include "logger/_feed_gallery_item.html" %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <script type="text/javascript">
        $("#gallery-{{ trip.uuid }}-big").justifiedGallery({
          rowHeight: 160,
          maxRowsCount: 2,
          captions: false,
          margins: 5,
          border: 0,
          lastRow: 'hide',
          waitThumbnailsLoad: true,
        });

        $("#gallery-{{ trip.uuid }}-small").justifiedGallery({
          rowHeight: 140,
          maxRowsCount: 2,
          captions: false,
          margins: 5,
          border: 0,
          lastRow: 'hide',
          waitThumbnailsLoad: true,
        });
      </script>
    {% endif %}

    <div class="trip-feed-footer">
      <div class="d-flex flex-row align-items-center justify-content-between">
        {% with trip.likes_count as likes_count %}
          {% include "logger/_htmx_trip_like.html" %}
        {% endwith %}

        {% if trip.user.allow_comments %}
          <span hx-get="{% url 'comments:htmx_comments' trip.uuid %}" hx-target="#comment{{ trip.uuid }}" class="float-end text-muted">
            {% if trip.comments_count > 0 %}
              <span><i class="bi bi-chat-fill"></i></span>&nbsp; {{ trip.comments_count }}</span>
            {% else %}
              <span><i class="bi bi-chat"></i></span>
            {% endif %}
          </span>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="comment{{ trip.uuid }}"></div>
{% endfor %}

{% if trips.has_next %}
  <div id="loadMoreTrips" class="text-center"
       hx-get="{% url 'log:feed_htmx_view' %}?page={{ trips.next_page_number }}"
       hx-target="#loadMoreTrips"
       hx-swap="outerHTML"
       hx-trigger="intersect once">
  </div>
{% endif %}
