{% load humanize %}
{% load users_tags %}
{% load core_tags %}

{% for trip in trips %}
  <div class="card shadow mb-4 mb-lg-5">
    <div class="card-header">
      <div data-href="{{ trip.get_absolute_url }}"
           class="d-none d-lg-flex flex-row align-items-center justify-content-between">
        <div class="d-flex flex-column align-items-start justify-content-center">
          <div class="d-flex flex-row align-items-center">
            <div class="pe-3 me-3 border-end h-100">
              {% include "users/_profile_picture_header.html" with photo_user=trip.user %}
            </div>

            <div>
              <div>
                <small class="text-primary">{% user trip.user %}</small>
                <small class="text-muted">{{ trip.added|naturaltime }}</small>
              </div>

              <a class="text-body text-decoration-none" href="{{ trip.get_absolute_url }}">
                <h1 class="cave-name fs-4 my-1">{{ trip.cave_name }}</h1>
              </a>
              {% if trip.cave_entrance or trip.cave_exit %}
                <small class="text-primary">
                  via {{ trip.cave_entrance }}{% if trip.cave_entrance and trip.cave_exit %} and {% endif %}{{ trip.cave_exit }}
                </small>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="d-flex flex-column align-items-end justify-content-center">
          <div class="d-flex flex-column align-items-center justify-content-center text-primary">
            <span><small>{{ trip.cave_region }}</small></span>
            <span><small>{{ trip.cave_country }}</small></span>
          </div>
        </div>
      </div>

      <div data-href="{{ trip.get_absolute_url }}" class="d-flex d-lg-none">
        <div class="d-flex flex-row align-items-start justify-content-center">
          <div class="d-flex align-items-center">
            <div class="pe-3 me-3 border-end">
              {% include "users/_profile_picture_header.html" with photo_user=trip.user %}
            </div>

            <div class="d-flex flex-column">
              <span class="text-primary">
                <i class="bi bi-person-fill me-1"></i> {% user trip.user %}
              </span>
              <span class="text-muted">
                <i class="bi bi-clock-history me-1"></i> {{ trip.added|naturaltime|capfirst }}
              </span>
            </div>
          </div>
        </div>
      </div>
     </div>

    <div class="card-body">
      <div class="d-lg-none border-bottom pb-3 pt-1 mb-3">
        <a href="{{ trip.get_absolute_url }}" class="text-decoration-none">
          <h1 class="cave-name fs-3 text-primary">{{ trip.cave_name }}</h1>
          {% if trip.cave_entrance or trip.cave_exit %}
            <span class="text-dark">
              via {{ trip.cave_entrance }}{% if trip.cave_entrance and trip.cave_exit %} and {% endif %}{{ trip.cave_exit }}
            </span>
          {% endif %}
        </a>
        <div>
          <small class="text-muted">
            {{ trip.cave_region }}{% if trip.cave_region and trip.cave_country %} &middot; {% endif %}{{ trip.cave_country }}
          </small>
        </div>
      </div>

      {% include "logger/_trip_data_blocks.html" %}

      {% if trip.has_photos and not trip.private_photos %}
        <div class="d-flex flex-row align-items-center justify-content-center mt-4
                    border-top pt-3">
          {% for photo in trip.feed_photos %}
            <a href="{{ photo.url }}" class="p-2" data-title="{{ photo.caption }}"
               data-lightbox="{{ trip.uuid }}" id="{{ photo.uuid }}">
              <img src="{{ photo|imgproxy:"preset:tripphoto_thumb" }}" class="img-fluid tripphoto-thumb shadow-sm rounded"
                   alt="{{ photo.caption }}">
            </a>
          {% endfor %}
        </div>
        {% if trip.more_than_five_photos %}
          <div class="trip-field text-center mt-2 mx-2">
            <a class="btn btn-sm btn-outline-secondary w-100" href=
                "{{ trip.get_absolute_url }}">view photos</a>
          </div>
        {% endif %}
      {% endif %}
    </div>

    <div class="card-footer">
      <span class="float-start">
        {% with trip.likes_count as likes_count %}
          {% include "logger/_htmx_trip_like.html" %}
        {% endwith %}
      </span>

      {% if trip.user.allow_comments %}
        <span hx-get="{% url 'comments:htmx_comments' trip.uuid %}" hx-target="#comment{{ trip.uuid }}" class="float-end text-muted">
          {% if trip.comments_count > 0 %}
            <span><i class="bi bi-chat-fill"></i></span>&nbsp; {{ trip.comments_count }}</span>
          {% else %}
            <span><i class="bi bi-chat"></i></span>
          {% endif %}
        </span>
      {% endif %}
    </div>
  </div>

  <div class="shadow mb-4 mb-lg-5" id="comment{{ trip.uuid }}"></div>
{% endfor %}

{% if trips.has_next %}
  <div id="loadMoreTrips" class="text-center">
    <button class="btn btn-primary w-100"
            hx-get="{% url 'log:feed_htmx_view' %}?page={{ trips.next_page_number }}"
            hx-target="#loadMoreTrips"
            hx-swap="outerHTML">
      Load more trips
    </button>
  </div>
{% endif %}
{% include "_clickable_elements.html" %}
