{% load humanize %}
{% load users_tags %}
{% load core_tags %}
{% load markdownify %}

{% for trip in trips %}
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column border border-bottom-0 rounded-top-pill px-5 py-1 text-muted feed-card-byline">
      <small>
        {% user trip.user link_class="text-body" %}
        {% if ordering == "-added" %}
          &middot; {{ trip.added|naturaltime }}
        {% elif ordering == "-start" %}
          &middot; {{ trip.start|naturaltime }}
        {% endif %}
      </small>
      <small class="feed-card-byline trip-location">
        {% if trip.cave_region %}{{ trip.cave_region }} &middot; {% endif %}{{ trip.cave_country }}
      </small>
    </div>
  </div>

  <div class="card feed-card feed-card mb-5 w-100">
    <div class="card-header" style="transform: rotate(0);">
      <a href="{{ trip.get_absolute_url }}" class="stretched-link"></a>
      <div class="d-flex flex-row align-items-center justify-content-between">
        <div class="d-flex flex-column align-items-start justify-content-center">
          <div class="d-flex flex-row align-items-center">
            <div class="me-3 h-100">
              {% include "users/_profile_picture_header.html" with photo_user=trip.user %}
            </div>

            <div class="d-flex flex-column justify-content-center">
              <h1 class="cave-name fs-4 my-1">{{ trip.cave_name }}</h1>

              {% if trip.cave_entrance or trip.cave_exit %}
                <small class="text-body">
                  via {{ trip.cave_entrance }}{% if trip.cave_entrance and trip.cave_exit %} and {% endif %}{{ trip.cave_exit }}
                </small>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="d-flex flex-column align-items-end justify-content-center flex-grow-0">
          <div class="d-flex flex-column align-items-center justify-content-center text-muted trip-location">
            <small>{{ trip.cave_region }}</small>
            <small>{{ trip.cave_country }}</small>
          </div>
        </div>
      </div>
   </div>

    <div class="card-body">
      {% include "logger/_trip_data_blocks.html" %}

      {% if trip.trip_report %}
        <div class="row row-cols-1 mt-4 border-top pt-3">
          <div class="col">
            <small class="trip-field">Trip report</small>
            {{ trip.trip_report|markdownify:"plain"|truncatechars:800 }}
          </div>
        </div>
      {% endif %}

      {% if trip.has_photos and not trip.private_photos %}
        <div class="d-flex flex-row align-items-center justify-content-center mt-4
                    border-top pt-3">
          {% for photo in trip.feed_photos %}
            <a href="{{ photo.url }}" class="p-2" data-title="{{ photo.caption }}"
               data-lightbox="{{ trip.uuid }}" id="{{ photo.uuid }}">
              <img src="{{ photo|imgproxy:"preset:tripphoto_thumb" }}" class="img-fluid tripphoto-thumb rounded"
                   alt="{{ photo.caption }}">
            </a>
          {% endfor %}
        </div>
        {% if trip.more_than_five_photos %}
          <div class="trip-field text-center mt-2 mx-2">
            <a class="btn btn-sm btn-outline-secondary w-100" href=
                "{{ trip.get_absolute_url }}">view photos</a>
          </div>
        {% endif %}
      {% endif %}
    </div>

    <div class="card-footer">
      <span class="float-start">
        {% with trip.likes_count as likes_count %}
          {% include "logger/_htmx_trip_like.html" %}
        {% endwith %}
      </span>

      {% if trip.user.allow_comments %}
        <span hx-get="{% url 'comments:htmx_comments' trip.uuid %}" hx-target="#comment{{ trip.uuid }}" class="float-end text-muted">
          {% if trip.comments_count > 0 %}
            <span><i class="bi bi-chat-fill"></i></span>&nbsp; {{ trip.comments_count }}</span>
          {% else %}
            <span><i class="bi bi-chat"></i></span>
          {% endif %}
        </span>
      {% endif %}
    </div>
  </div>

  <div id="comment{{ trip.uuid }}"></div>
{% endfor %}

{% if trips.has_next %}
  <div id="loadMoreTrips" class="text-center"
       hx-get="{% url 'log:feed_htmx_view' %}?page={{ trips.next_page_number }}"
       hx-target="#loadMoreTrips"
       hx-swap="outerHTML"
       hx-trigger="intersect once">
  </div>
{% endif %}
