{% load users_tags %}
{% load logger_tags %}
<span id="like-button{{ trip.uuid }}">
  <a class="text-decoration-none"
     hx-post="{% url 'log:trip_like_htmx_view' trip.uuid %}"
     hx-target="#like-button{{ trip.uuid }}"
     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
     hx-swap="outerHTML"
     href="#">
    {% if trip.user_liked %}
      <span class="text-primary">
        <i class="bi bi-hand-thumbs-up-fill"></i>
      </span>
    {% else %}
      <span class="text-dark">
        <i class="bi bi-hand-thumbs-up"></i>
      </span>
    {% endif %}
    <span class="text-dark d-none d-md-inline-block">
      &nbsp;{{ liked_str|get:trip.pk }}
    </span>
    <span class="text-dark d-md-none">
      &nbsp;{{ likes_count }}
    </span>
  </a>
</span>
