<div id="tripListSearch"
     class="{% if query %}border-primary border-bottom mb-3{% endif %}">
  {% if query %}
    <div class="card text-bg-primary mb-4">
      <div class="card-header">
        Trips
      </div>
      <ul class="list-group list-group-flush">
        {% if trips %}
          {% for trip in trips %}
            <li class="list-group-item" data-href="{{ trip.get_absolute_url }}">
              <a class="link-primary fw-bold text-decoration-none"
                 href="{{ trip.get_absolute_url }}">{{ trip.cave_name }}</a>
              <span class="text-muted">{{ trip.start|date }}</span>
              {{ trip.cavers }}
            </li>
          {% endfor %}
        {% else %}
          <li class="list-group-item">
            No trips found matching <span class="text-muted">{{ query }}</span>.
          </li>
        {% endif %}
      </ul>
    </div>
    {% include "_clickable_elements.html" %}
  {% endif %}
</div>
