{% load users_tags %}
{% load core_tags %}
{% load static %}

<div class="d-flex my-3 my-lg-0 flex-column align-items-center text-center">
  <div class="mb-4">
    {% if profile_user.avatar %}
      {% include "users/_profile_picture.html" with photo_user=profile_user %}
    {% else %}
      {% include "users/_profile_picture.html" %}
    {% endif %}
  </div>

  <strong>{{ profile_user.name }}</strong>
  <span class="text-muted mb-2">@{{ profile_user.username }}</span>

  {% if profile_user.clubs %}
    <span class="mb-2 fst-italic">{{ profile_user.clubs }}</span>
  {% endif %}

  <span class="text-primary">{{ profile_user.location }}</span>
  <span class="text-primary">{{ profile_user.country.name }}</span>

  {% if can_add_friend and user.is_authenticated and user != profile_user %}
    <a href="{% url 'users:friends' %}?u={{ object_owner.username }}" class="btn btn-sm btn-outline-primary mt-4">Add as friend <i class="ms-2 bi bi-person-plus-fill"></i></a>
  {% endif %}

  {% if mutual_friends %}
    <div class="d-none d-lg-block mt-4 border-top pt-4">
      <div class="sidebar-header mb-2">
        {% if not user == profile_user %}Mutual {% endif %}Friends
      </div>

      {% for friend in mutual_friends %}
        <div class="d-flex flex-row align-items-center justify-content-start mb-3">
          {% if friend.avatar %}
            <img src="{{ friend.avatar|imgproxy:"preset:avatar_navbar" }}"
                 class="rounded-circle shadow-sm me-3"
                 alt="{{ friend.name }}'s profile picture"
                 width="30" height="30">
          {% else %}
            <img src="{% static 'images/blank_profile_picture.svg' %}"
                 class="rounded-circle shadow-sm me-3"
                 alt="Blank profile picture"
                 width="30" height="30">
          {% endif %}
          <span class="friend-link">{% user friend %}</span>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
