{% load users_tags %}
{% load core_tags %}
{% load static %}

<div class="d-flex flex-column align-items-center">

  {% if can_add_friend and user.is_authenticated and user != profile_user %}
    <a href="{% url 'users:friends' %}?u={{ object_owner.username }}" class="btn btn-sm btn-outline-primary mt-4">Add as friend <i class="ms-2 bi bi-person-plus-fill"></i></a>
  {% endif %}

  {% if not private_profile %}
    {% if profile_user.clubs %}
      <div class="card w-100 rounded-0">
        <div class="card-body">
          {{ profile_user.clubs }}
        </div>
      </div>
    {% endif %}

    {% if mutual_friends %}
      <div class="card w-100 rounded-0 mt-5">
        <div class="card-body d-flex flex-column align-items-start justify-content-center">
            {% for friend in mutual_friends %}
              <div class="d-flex flex-row align-items-center justify-content-start mb-3">
                {% if friend.avatar %}
                  <img src="{{ friend.avatar|imgproxy:"preset:avatar_navbar" }}"
                       class="rounded-circle me-3"
                       alt="{{ friend.name }}'s profile picture"
                       width="30" height="30">
                {% else %}
                  <img src="{% static 'images/blank_profile_picture.svg' %}"
                       class="rounded-circle me-3"
                       alt="Blank profile picture"
                       width="30" height="30">
                {% endif %}
                <span class="friend-link">{% user friend %}</span>
              </div>
            {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
