{% load users_tags %}
{% load logger_tags %}

{% if trip.cavers.all %}
  <div class="row mb-3">
    <div class="col">
      <small class="text-muted trip-field">Cavers</small><br />
      {% if user == trip.user %}
        {% for caver in trip.cavers.all %}
          <a class="text-body text-decoration-none" href="{{ caver.get_absolute_url }}">{{ caver.name }}</a>{% if forloop.counter < trip.cavers.all|length %},{% endif %}
        {% endfor %}
      {% else %}
        {{ trip.cavers.all|join:", " }}
      {% endif %}
    </div>
  </div>
{% endif %}

<!-- Data blocks -->
<div class="row row-cols-2 row-cols-lg-3 g-3">
  <!-- Start time-->
  <div class="col">
    <small class="text-muted trip-field">Date/time entered</small><br />
    {{ trip.start|time:"H:i" }} on {{ trip.start|date:"d M Y" }}
  </div>

  {% if trip.end %}
    <!-- Duration -->
    <div class="col">
      <small class="text-muted trip-field">Trip duration</small><br />
      {{ trip.duration_str }}
    </div>

    <!-- End time -->
    <div class="col">
      <small class="text-muted trip-field">Date/time exited</small><br />
      {{ trip.end|time:"H:i" }} on {{ trip.end|date:"d M Y" }}
    </div>
  {% endif %}

  <!-- Type -->
  <div class="col">
    <small class="text-muted trip-field">Trip type</small><br />
    {{ trip.type }}
  </div>

  {% if trip.cave_coordinates and user == trip.user %}
    <div class="col">
      <small class="text-muted trip-field">Cave location <i class="bi bi-lock-fill" title="Visible only to you"></i></small><br />
      <a target="_blank" class="link-secondary"
         href="https://www.google.com/maps/search/?api=1&query={{ trip.latitude|urlencode }},{{ trip.longitude|urlencode }}">
        {{ trip.latitude|floatformat:5 }}, {{ trip.longitude|floatformat:5 }}
      </a>
    </div>
  {% endif %}

  {% if trip.clubs %}
  <!-- Clubs -->
    <div class="col-6 col-xl-4">
      <small class="text-muted trip-field">Clubs</small><br />
      {{ trip.clubs }}
    </div>
  {% endif %}

  {% if trip.expedition %}
  <!-- Expedition -->
    <div class="col">
      <small class="text-muted trip-field">Expedition</small><br />
      {{ trip.expedition }}
    </div>
  {% endif %}

  {% for label, value in trip.custom_fields %}
    <div class="col-6 col-xl-4">
      <small class="text-muted trip-field">{{ label }}</small><br />
      {{ value }}
    </div>
  {% endfor %}

  {% if trip.has_distances %}
    {% for name, dist in trip.distances.items %}
      <div class="col">
        <small class="text-muted trip-field">{{ name|capfirst }}</small><br />
        {% if user.is_authenticated %}
          {{ dist|distformat:request.units }}
        {% else %}
          {{ dist }}
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>
