<div class="d-none d-md-flex flex-row align-items-center justify-content-between">
  <div class="d-flex flex-column align-items-start justify-content-center">
    {% if is_report %}
      <h1 class="cave-name cave-name-lg">{{ trip.report.title }}</h1>
    {% else %}
      <h1 class="cave-name cave-name-lg">{{ trip.cave_name }}</h1>
    {% endif %}
  </div>

  <div class="d-flex flex-column align-items-end justify-content-center">
    {% if trip.cave_region %}{{ trip.cave_region }}{% endif %}
    {% if trip.cave_region and trip.cave_country %}&middot;{% endif %}
    {% if trip.cave_country %}{{ trip.cave_country }}{% endif %}
    <small class="text-muted">
      {{ trip.start|timesince }} ago
    </small>
  </div>
</div>

<div class="d-flex d-md-none">
  <div class="d-flex flex-column align-items-start justify-content-center">
    {% if is_report %}
      <h1 class="cave-name cave-name-lg">{{ trip.report.title }}</h1>
    {% else %}
      <h1 class="cave-name cave-name-lg">{{ trip.cave_name }}</h1>
    {% endif %}
    <span class="text-muted">
      {% if trip.cave_region %}{{ trip.cave_region }}{% endif %}
      {% if trip.cave_region and trip.cave_country %}&middot;{% endif %}
      {% if trip.cave_country %}{{ trip.cave_country }}{% endif %}
    </span>
    <small class="text-muted">
      {{ trip.start|timesince }} ago
    </small>
  </div>
</div>
