{% extends "logger/_base.html" %}
{% load logger_tags %}
{% load humanize %}

{% block title %}Caver list{% endblock %}
{% block description %}A list of cavers that you've been on trips with{% endblock %}

{% block main %}
  <header class="subtitle">
    <h3 class="mb-0" style="font-size: inherit;">Caver list</h3>
  </header>

  {% if cavers %}
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Trips</th>
            <th class="d-none d-md-table-cell">Last trip</th>
            <th class="d-none d-lg-table-cell">Total duration</th>
          </tr>
        </thead>

        <tbody class="align-middle">
          {% for caver in cavers %}
            <tr style="transform: rotate(0);">
              <td><a href="{{ caver.get_absolute_url }}" class="stretched-link"></a>{{ caver.name }}</td>
              <td>{{ caver.trip_count }}</td>
              <td class="d-none d-md-table-cell">{{ caver.last_trip_date|date }}</td>
              <td class="d-none d-lg-table-cell">{{ caver.total_trip_duration_str|default_if_none:"" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include "_paginate_bootstrap.html" with page=cavers %}
    </div>
  {% else %}
    <p class="lead">You've not added any cavers yet!</p>
  {% endif %}
{% endblock %}
