{% load logger_tags %}

<div id="userTrips">
  {% if trips or query %}
    <div class="table-responsive">
      <table class="table mb-0" id="tripsTable">
        <thead class="text-nowrap">
          <tr>
            <th scope="col">
              Date
              {% if allow_sort %}
                <small>
                  <a hx-get="{{ htmx_url }}?sort=start" hx-target="#userTrips" class="{% if ordering == "start" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                    <i class="bi bi-sort-up"></i>
                  </a>
                  <a hx-get="{{ htmx_url }}?sort=-start" hx-target="#userTrips" class="{% if ordering == "-start" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                    <i class="bi bi-sort-down"></i>
                  </a>
                </small>
              {% endif %}
            </th>

            <th scope="col">
              Cave
              {% if allow_sort %}
                <small>
                  <a hx-get="{{ htmx_url }}?sort=cave_name" hx-target="#userTrips" class="{% if ordering == "cave_name" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                    <i class="bi bi-sort-alpha-up"></i>
                  </a>
                  <a hx-get="{{ htmx_url }}?sort=-cave_name" hx-target="#userTrips" class="{% if ordering == "-cave_name" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                    <i class="bi bi-sort-alpha-down"></i>
                  </a>
                </small>
              {% endif %}
            </th>

            <th class="d-none d-xl-table-cell" scope="col">
              Duration
              {% if allow_sort %}
                <small>
                  <a hx-get="{{ htmx_url }}?sort=duration" hx-target="#userTrips" class="{% if ordering == "duration" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                    <i class="bi bi-sort-up"></i>
                  </a>
                  <a hx-get="{{ htmx_url }}?sort=-duration" hx-target="#userTrips" class="{% if ordering == "-duration" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                    <i class="bi bi-sort-down"></i>
                  </a>
                </small>
              {% endif %}
            </th>

            {% if not profile_user.disable_distance_statistics %}
              <th class="d-none d-lg-table-cell" scope="col">
                Up
                {% if allow_sort %}
                  <small>
                    <a hx-get="{{ htmx_url }}?sort=vert_dist_up" hx-target="#userTrips" class="{% if ordering == "vert_dist_up" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                      <i class="bi bi-sort-up"></i>
                    </a>
                    <a hx-get="{{ htmx_url }}?sort=-vert_dist_up" hx-target="#userTrips" class="{% if ordering == "-vert_dist_up" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                      <i class="bi bi-sort-down"></i>
                    </a>
                  </small>
                {% endif %}
              </th>

              <th class="d-none d-xxl-table-cell" scope="col">
                Down
                {% if allow_sort %}
                  <small>
                    <a hx-get="{{ htmx_url }}?sort=vert_dist_down" hx-target="#userTrips" class="{% if ordering == "vert_dist_down" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                      <i class="bi bi-sort-up"></i>
                    </a>
                    <a hx-get="{{ htmx_url }}?sort=-vert_dist_down" hx-target="#userTrips" class="{% if ordering == "-vert_dist_down" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                      <i class="bi bi-sort-down"></i>
                    </a>
                  </small>
                {% endif %}
              </th>
            {% endif %}

            <th class="d-none d-lg-table-cell" scope="col">
              Trip type
              {% if allow_sort %}
                <small>
                  <a hx-get="{{ htmx_url }}?sort=type" hx-target="#userTrips" class="{% if ordering == "type" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                    <i class="bi bi-sort-alpha-up"></i>
                  </a>
                  <a hx-get="{{ htmx_url }}?sort=-type" hx-target="#userTrips" class="{% if ordering == "-type" %}text-primary{% else %}text-secondary{% endif %} text-decoration-none">
                    <i class="bi bi-sort-alpha-down"></i>
                  </a>
                </small>
              {% endif %}
            </th>
          </tr>
        </thead>

        {% for trip in trips %}
          <tbody style="transform: rotate(0);">
            <tr>
              <td {% if trip.cavers.all and show_cavers %}class="align-middle text-nowrap" rowspan="2"{% else %}class="text-nowrap"{% endif %}>
                <a href="{{ trip.get_absolute_url }}" class="stretched-link"></a>
                {{ trip.start|date:"j M y" }}
              </td>

              <td class="fw-bold">
                {{ trip.cave_name }}
              </td>

              <td class="d-none d-xl-table-cell">
                {% if trip.duration %}
                  {{ trip.duration|shortdelta }}
                {% endif %}
              </td>

              {% if not profile_user.disable_distance_statistics %}
                <td class="d-none d-lg-table-cell">{{ trip.vert_dist_up|distformat:request.units }}</td>
                <td class="d-none d-xxl-table-cell">{{ trip.vert_dist_down|distformat:request.units }}</td>
              {% endif %}

              <td class="d-none d-lg-table-cell">
                {{ trip.type }}
              </td>
            </tr>

            {% if trip.cavers.all and show_cavers %}
              <tr>
                <td colspan="{% if profile_user.disable_distance_statistics %}4{% else %}6{% endif %}"
                    class="text-secondary">
                  <span class="d-none d-sm-inline">{{ trip.cavers.all|join:", "|truncatechars:110 }}</span>
                  <span class="d-sm-none">{{ trip.cavers.all|join:", "|truncatechars:50 }}</span>
                </td>
              </tr>
            {% endif %}
          </tbody>
        {% endfor %}
        {% if not trips %}
          <tbody>
            <tr>
              <td colspan="{% if profile_user.disable_distance_statistics %}5{% else %}7{% endif %}" class="text-center">
                {% if query %}
                  No trips found matching <em>{{ query }}</em>. Try searching for cave names, cavers, clubs or expeditions.
                {% else %}
                  No trips found. Try searching for cave names, cavers, clubs or expeditions.
                {% endif %}
              </td>
            </tr>
          </tbody>
        {% endif %}
      </table>

      {% if page_obj.has_other_pages %}
        <nav class="my-4">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" hx-get="{{ htmx_url }}?page=1&{{ get_parameters }}" hx-target="#userTrips">
                  <i class="bi bi-skip-start-fill"></i>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" hx-get="{{ htmx_url }}?page={{ page_obj.previous_page_number }}&{{ get_parameters }}" hx-target="#userTrips">
                  <i class="bi bi-arrow-left"></i>
                </a>
              </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
              {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                {% if page_obj.number == page_number %}
                  <li class="page-item active">
                    <a class="page-link" hx-get="{{ htmx_url }}?page={{ page_number }}&{{ get_parameters }}" hx-target="#userTrips">
                      {{ page_number }}
                    </a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" hx-get="{{ htmx_url }}?page={{ page_number }}&{{ get_parameters }}" hx-target="#userTrips">
                      {{ page_number }}
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" hx-get="{{ htmx_url }}?page={{ page_obj.next_page_number }}&{{ get_parameters }}" hx-target="#userTrips">
                  <i class="bi bi-arrow-right"></i>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" hx-get="{{ htmx_url }}?page={{ page_obj.paginator.num_pages }}&{{ get_parameters }}" hx-target="#userTrips">
                  <i class="bi bi-skip-end-fill"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  {% endif %}
</div>
