{% extends "base_sidebar.html" %}
{% load static %}
{% load logger_tags %}
{% load markdownify %}

{% block title %}{{ page_title }}{% endblock %}
{% block display_title %}{{ page_title }}{% endblock %}
{% block display_title_right %}@{{ profile_user.username }}{% endblock %}
{% block description %}{{ profile_user.name }}'s trips on caves.app.{% endblock %}

{% block stylesheets %}
  <link href="{% static 'css/trips.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar %}{% include "logger/_sidebar_profile.html" %}{% endblock %}
{% block mobile_menu %}{% include "logger/_sidebar_profile.html" %}{% endblock %}

{% block main %}
  {% if profile_user.bio %}
    <div class="mb-4">
      {{ profile_user.bio|markdownify }}
    </div>
  {% elif not profile_user.bio and not trips %}
    <p class="lead mb-4">
      There is nothing here &mdash; yet.
      {% if user == profile_user %}
        Why not <a href="{% url 'log:trip_create' %}">add a trip</a> or
        <a href="{% url 'users:profile_update' %}">update your profile</a>?
      {% endif %}
    </p>
  {% endif %}

  {% if trips %}
    <div class="table-responsive">
      <table class="table table-hover table-striped mb-0">
        <thead class="border-top">
          <tr>
            <th scope="col">
              Date
              <small>
                <a href="?sort=start" class="text-decoration-none">
                  <i class="bi bi-sort-up"></i>
                </a>
                <a href="?sort=-start" class="text-decoration-none">
                  <i class="bi bi-sort-down"></i>
                </a>
              </small>
            </th>

            <th scope="col">
              Cave
              <small>
                <a href="?sort=cave_name" class="text-decoration-none">
                  <i class="bi bi-sort-alpha-up"></i>
                </a>
                <a href="?sort=-cave_name" class="text-decoration-none">
                  <i class="bi bi-sort-alpha-down"></i>
                </a>
              </small>
            </th>

            <th class="d-none d-md-table-cell" scope="col">
              Duration
              <small>
                <a href="?sort=duration" class="text-decoration-none">
                  <i class="bi bi-sort-up"></i>
                </a>
                <a href="?sort=-duration" class="text-decoration-none">
                  <i class="bi bi-sort-down"></i>
                </a>
              </small>
            </th>

            <th class="d-none d-lg-table-cell" scope="col">
              Up
              <small>
                <a href="?sort=vert_dist_up" class="text-decoration-none">
                  <i class="bi bi-sort-up"></i>
                </a>
                <a href="?sort=-vert_dist_up" class="text-decoration-none">
                  <i class="bi bi-sort-down"></i>
                </a>
              </small>
            </th>

            <th class="d-none d-lg-table-cell" scope="col">
              Down
              <small>
                <a href="?sort=vert_dist_down" class="text-decoration-none">
                  <i class="bi bi-sort-up"></i>
                </a>
                <a href="?sort=-vert_dist_down" class="text-decoration-none">
                  <i class="bi bi-sort-down"></i>
                </a>
              </small>
            </th>

            <th class="d-none d-lg-table-cell" scope="col">
              Trip type
              <small>
                <a href="?sort=type" class="text-decoration-none">
                  <i class="bi bi-sort-alpha-up"></i>
                </a>
                <a href="?sort=-type" class="text-decoration-none">
                  <i class="bi bi-sort-alpha-down"></i>
                </a>
              </small>
            </th>

            <th></th>
          </tr>
        </thead>

        <tbody>
          {% for trip in trips %}
            <tr data-href="{% url 'log:trip_detail' pk=trip.pk %}">
              <td>{{ trip.start|date:"j M y" }}</td>

              <td>
                {{ trip.cave_name }}

                {% if trip.cave_url %}
                  <a class="d-none d-md-inline" href="{{ trip.cave_url }}"><i class="bi bi-link-45deg"></i></a>
                {% endif %}
              </td>

              <td class="d-none d-md-table-cell">
                {% if trip.duration_str %}
                  {{ trip.duration_str }}
                {% endif %}
              </td>

              <td class="d-none d-lg-table-cell">{{ trip.vert_dist_up|distformat:dist_format }}</td>

              <td class="d-none d-lg-table-cell">{{ trip.vert_dist_down|distformat:dist_format }}</td>

              <td class="d-none d-lg-table-cell">
                {{ trip.type }}
              </td>

              <td class="text-end">
                {% if trip.report %}
                  <a class="text-warning" href="{% url 'log:report_detail' pk=trip.report.pk %}"><i class="bi bi-card-text"></i></a>&nbsp;
                {% endif %}
                {% if user == profile_user %}
                  <a href="{% url 'log:trip_update' pk=trip.pk %}"><i class="bi bi-pencil"></i></a>&nbsp;
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include "_paginate_bootstrap.html" %}
    </div>
  {% endif %}

{% endblock %}
