{% extends "base_trips.html" %}
{% load logger_tags %}
{% load users_tags %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}Search caves.app{% endblock %}

{% block main %}
  <form method="post" action="{% url 'log:search' %}">
    {% crispy form %}
    <button type="submit" class="btn btn-primary w-100 mt-3">Search</button>
  </form>

  {% if trips %}
    <hr class="my-4">

    <h2 class="fs-4 ms-3 mb-4">
      Results
      <small class="text-muted">
        {{ trips.paginator.count|intcomma }} total
      </small>
    </h2>

    {% for trip in trips %}
      <div class="card border-primary-subtle mb-3 mb-lg-4">
        <div class="card-body bg-light" data-href="{{ trip.get_absolute_url }}">
          <h4 class="card-title">
            <a class="link-body-emphasis text-decoration-none" href="{{ trip.get_absolute_url }}">
              {{ trip.cave_name }}
            </a>
          </h4>
          <div class="card-subtitle text-muted">
            by {% user trip.user %} &middot; {{ trip.start|date }}
          </div>
        </div>
        <ul class="list-group list-group-flush">
          {% if trip.cave_entrance or trip.cave_exit %}
            <li class="list-group-item">
              <span class="search-field-title">via</span>
              {{ trip.cave_entrance }}
              {% if trip.cave_entrance and trip.cave_exit %}and{% endif %}
              {{ trip.cave_exit }}
            </li>
          {% endif %}
          {% if trip.cave_region or trip.cave_country %}
            <li class="list-group-item">
              {{ trip.cave_region }}
              {% if trip.cave_region and trip.cave_country %}&middot;{% endif %}
              {{ trip.cave_country }}
            </li>
          {% endif %}
          {% if trip.clubs or trip.expedition %}
            <li class="list-group-item">
              {{ trip.clubs }}
              {% if trip.clubs and trip.expedition %}and{% endif %}
              {{ trip.expedition }}
            </li>
          {% endif %}
          {% if trip.cavers.all %}
            <li class="list-group-item">
              {{ trip.cavers.all|join:", " }}
            </li>
          {% endif %}
          {% if trip.notes %}
            <li class="list-group-item">
              {{ trip.notes|linebreaks }}
            </li>
          {% endif %}
        </ul>
      </div>
    {% endfor %}
  {% endif %}

  {% include "_paginate_bootstrap.html" with page_obj=trips %}
{% endblock %}
