{% extends "_base_three_col.html" %}
{% load markdownify %}
{% load static %}

{% block title %}caves.app{% endblock %}

{% block header_scripts %}
  <script src="{% static 'js/jquery.justifiedGallery.min.js' %}"></script>
  {% include "logger/_lightbox.html" %}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/justifiedGallery.min.css' %}">
{% endblock %}

{% block hamburger_menu_right_container %}{% endblock %}
{% block right_sidebar %}{% include "sidebars/_feed.html" %}{% endblock %}

{% block main %}
  <div id="socialFeedContainer">
    <div class="d-flex flex-row justify-content-between mb-4">
      <h3 class="fs-5 ms-3 mb-0 align-self-center">
        <span id="socialFeedHeader">You &amp; your friends &nbsp;<i class="bi bi-arrow-down"></i></span>
      </h3>

      <div class="d-flex flex-row text-muted">
        <form method="post" action="{% url 'log:feed_set_ordering' %}" class="me-1">
          {% csrf_token %}
          <input type="hidden" name="sort" value="-added">
          <input type="submit" value="Added" class="btn btn-sm {% if ordering == "-added" %}btn-secondary{% else %}btn-outline-secondary{% endif %}">
        </form>
        <form method="post" action="{% url 'log:feed_set_ordering' %}">
          {% csrf_token %}
          <input type="hidden" name="sort" value="-start">
          <input type="submit" value="Start" class="btn btn-sm {% if ordering == "-start" %}btn-secondary{% else %}btn-outline-secondary{% endif %}">
        </form>
      </div>
    </div>

    {% include "logger/_feed.html" %}
  </div>
{% endblock %}
