{% extends "base_trips.html" %}
{% load logger_tags %}
{% load users_tags %}

{% block title %}Trip to {{ trip.cave_name }}{% endblock %}
{% block display_title %}Trip to {{ trip.cave_name }}{% endblock %}
{% block display_title_right %}@{{ trip.user.username }}{% endblock %}

{% block main %}
  <div class="mb-2">
    {% include "logger/_trip_header.html" %}
  </div>

  {% include "logger/_trip_data_blocks.html" %}

  {% if trip.notes or trip.cave_url %}
    <hr class="my-4">
  {% endif %}

  {% if trip.notes %}
    <!-- Notes -->
    <div class="row g-3{% if trip.cave_url %} mb-3{% endif %}">
      <div class="col notes-display">
        <small class="text-muted trip-field">Notes</small><br />
        {{ trip.notes|linebreaks }}
      </div>
    </div>
  {% endif %}

  {% if trip.cave_url %}
    <!-- External Resources -->
    <div class="row g-3">
      <div class="col">
        <small class="text-muted trip-field">External resources</small>
        <ol class="mb-0">
          {% if trip.cave_url %}<li><a href="{{ trip.cave_url }}">Website for {{ trip.cave_name }}</a></li>{% endif %}
        </ol>
      </div>
    </div>
  {% endif %}

  <hr class="my-4">
  <span class="float-start">
    {% if user.is_authenticated %}
      {% include "logger/_htmx_trip_like.html" %}
      {% if trip.likes_count > 0 %}
        <span class="ms-1" data-bs-toggle="modal" data-bs-target="#usersThatLikedTrip{{ trip.uuid }}"><i class="bi bi-info-circle"></i></span>
        <div class="modal fade" id="usersThatLikedTrip{{ trip.uuid }}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">Users that liked this trip</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                This trip was liked by
                {% for user in trip.likes.all %}
                  {% user user %}{% if forloop.revcounter == 2 %} and {% elif forloop.revcounter > 2 %}, {% endif %}{% if forloop.revcounter == 1 %}.{% endif %}
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% else %}
      <i class="bi bi-hand-thumbs-up-fill"></i>
      {{ trip.likes_count }} like{{ trip.likes_count|pluralize }}
    {% endif %}
  </span>
{% endblock %}
