{% extends "logger/_base.html" %}
{% load logger_tags %}
{% load users_tags %}
{% load core_tags %}
{% load humanize %}
{% load static %}
{% load markdownify %}

{% block title %}Trip to {{ trip.cave_name }}{% endblock %}
{% block meta_tags %}<meta name="author" content="{{ trip.user.name }}">{% endblock %}
{% block description %}Details of a trip to {{ trip.cave_name }} that took place on {{ trip.start|date }}.{% endblock %}

{% block stylesheets %}
  {% if photos %}
    {% if user == object_owner %}
      <link href="{% static "css/cropper.min.css" %}" rel="stylesheet">
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/justifiedGallery.min.css' %}">
  {% endif %}
{% endblock %}

{% block footer_scripts %}
  {% include "_bs_tooltips.html" %}
{% endblock %}

{% block header_scripts %}
  <script type="text/javascript">
    function updateEditModal(photoUUID) {
      const photo = document.getElementById(photoUUID);
      document.getElementById("photoEditUUID").value = photoUUID;
      document.getElementById("photoEditImage").src = photo.href;
      document.getElementById("photoCaption").value = photo.dataset.caption;
    }

    function updateDeleteModal(photoUUID) {
      const photo = document.getElementById(photoUUID);
      document.getElementById("photoDeleteUUID").value = photoUUID;
      document.getElementById("photoDeleteImage").src = photo.href;
    }
  </script>

  {% if photos %}
    {% if user == object_owner %}
      <script src="{% static "js/cropper.min.js" %}"></script>
    {% endif %}

    <script src="{% static 'js/jquery.justifiedGallery.min.js' %}"></script>

    {% include "logger/_lightbox.html" %}
  {% endif %}
{% endblock %}

{% block main %}
  <div class="trip-feed-item mb-4 mb-md-5 shadow">
    {% if not trip.featured_photo %}
      <div class="d-flex flex-row justify-content-start align-items-center trip-feed-header">
        <a class="trip-detail-avatar" href="{{ trip.user.get_absolute_url }}">{% include "users/_profile_picture.html" with photo_user=trip.user %}</a>
        <div class="ms-3">
          {% include "logger/_trip_detail_header.html" %}
        </div>
      </div>
    {% else %}
      <div class="d-flex flex-column flex-md-row justify-content-start align-items-center">
        <div class="featured-photo-container featured-photo-trip-detail border-0 border-bottom" data-bs-theme="dark">
          <img src="{{ trip.featured_photo.photo.url }}" class="trip-featured-photo"
               alt="{% if trip.featured_photo.caption %}{{ featured_photo.caption }}{% else %}Featured photo for this trip.{% endif %}">
          <div class="featured-photo-overlay">
            <a href="{{ trip.user.get_absolute_url }}" class="mt-auto mb-auto">
              {% if trip.user.avatar %}
                <img class="align-self-center justify-self-center rounded-circle border shadow"
                     src="{{ trip.user.avatar|imgproxy:"preset:avatar" }}"
                     alt="{{ trip.user.name }}'s profile picture">
              {% endif %}
            </a>
            <div class="ms-3">
              {% include "logger/_trip_detail_header.html" %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="trip-feed-content">
      {% include "logger/_trip_data_blocks.html" %}

      {% if trip.notes and user == object_owner %}
        <div class="row mt-3">
          <div class="col no-paragraph-mb">
            <small class="text-muted trip-field">
              Private notes <i class="bi bi-lock-fill ms-1" data-bs-toggle="tooltip" title="Visible only to you"></i>
            </small>
            <div class="mt-2 text-limit-length">{{ trip.notes|markdownify }}</div>
          </div>
        </div>
      {% endif %}

      {% if trip.public_notes %}
        <div class="row mt-3 pt-3 border-top">
          <div class="col">
            <small class="d-block text-muted trip-field">
              {% if user == object_owner %}
                Public notes
                <i class="bi bi-globe ms-1" title="Visible to anyone who can view the trip." data-bs-toggle="tooltip"></i>
              {% else %}
                Notes
              {% endif %}
            </small>
            <div class="mt-2 no-paragraph-mb text-limit-length" style="overflow-wrap: break-word; overflow: hidden;">{{ trip.public_notes|markdownify }}</div>
          </div>
        </div>
      {% endif %}
    </div>

    {% if photos %}
      <div id="imageGalleryBig" class="d-none d-sm-block">
        {% for photo in photos %}
          {% include "logger/_trip_detail_gallery_item.html" with gallery_name="galleryBig"%}
        {% endfor %}
      </div>

      <div id="imageGallerySmall" class="d-sm-none">
        {% for photo in photos %}
          {% include "logger/_trip_detail_gallery_item.html" with gallery_name="gallerySmall" %}
        {% endfor %}
      </div>

      <script type="text/javascript">
        $("#imageGalleryBig").justifiedGallery({
          rowHeight: 250,
          margins: 5,
          lastRow: 'justify',
          captions: true,
          waitThumbnailsLoad: false,
        });
        $("#imageGallerySmall").justifiedGallery({
          rowHeight: 125,
          margins: 5,
          lastRow: 'justify',
          captions: true,
          waitThumbnailsLoad: false,
        });
      </script>

      {% if user == object_owner %}
        <div class="modal" tabindex="-1" id="photoEditModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <form method="post" action="{% url 'log:trip_photos_update' %}"
              id="photoEditForm">
                {% csrf_token %}
                <input type="hidden" name="photoUUID" id="photoEditUUID" value="">
                <div class="modal-body">
                  <img class="img-fluid rounded pb-4 border-bottom mb-3" src=""
                       alt="Image to edit"
                  id="photoEditImage">
                  <div class="mb-3">
                    <label for="photoCaption" class="form-label">Caption</label>
                    <textarea class="form-control" id="photoCaption" name="caption"
                              rows="3" maxlength="200"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input type="submit" value="Save changes" class="btn btn-success">
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal" tabindex="-1" id="photoDeleteModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <img class="img-fluid rounded mb-3" src="" alt="Image
                 to delete" id="photoDeleteImage">
                <p class="text-center mb-0">
                  Are you sure you want to delete this photo? This action is permanent and
                  cannot be undone.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post" action="{% url 'log:trip_photos_delete' %}"
                      id="photoDeleteForm">
                  {% csrf_token %}
                  <input type="hidden" name="photoUUID" id="photoDeleteUUID" value="">
                  <input type="submit" value="Delete photo" class="btn btn-danger">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="cropModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cropModalLabel">Crop featured image</h5>
              </div>
              <div class="modal-body w-100">
                <div id="imageBox d-flex justify-content-center align-items-center">
                  <img alt="Crop this image to feature it" id="cropImage" style="width: 100%; height: 100%;">
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                <form method="post" action="{% url 'log:trip_photos_feature' trip.uuid %}">
                  {% csrf_token %}
                  <input type="hidden" name="photoUUID" id="photoFeatureUUID" value="">
                  <input type="hidden" name="cropX" id="cropX" value="">
                  <input type="hidden" name="cropY" id="cropY" value="">
                  <input type="hidden" name="cropWidth" id="cropWidth" value="">
                  <input type="hidden" name="cropHeight" id="cropHeight" value="">
                  <input type="hidden" name="cropRotate" id="cropRotate" value="">
                  <input type="hidden" name="cropScaleX" id="cropScaleX" value="">
                  <input type="hidden" name="cropScaleY" id="cropScaleY" value="">
                  <input type="submit" class="btn btn-success" value="Crop">
                </form>
              </div>
            </div>
          </div>
        </div>

        <script>
          // Cropping JS for featured image
          const image_box = document.getElementById('imageBox')
          const crop_btn = document.getElementById('cropButton')
          const crop_image = document.getElementById('cropImage')
          const modal_id = document.getElementById('cropModal')
          const form = document.getElementById('cropForm')

          const cropX = document.getElementById("cropX");
          const cropY = document.getElementById("cropY");
          const cropWidth = document.getElementById("cropWidth");
          const cropHeight = document.getElementById("cropHeight");
          const cropRotate = document.getElementById("cropRotate");
          const cropScaleX = document.getElementById("cropScaleX");
          const cropScaleY = document.getElementById("cropScaleY");
          const photoFeatureUUID = document.getElementById("photoFeatureUUID");

          // When user uploads the image this event will get triggered
          document.querySelectorAll("span.featured-image-link").forEach(item => {
            item.addEventListener('click', ()=>{
              crop_image.src = item.dataset.imageSrc
              photoFeatureUUID.value = item.dataset.photoUuid

              $(modal_id).modal('show')

              new Cropper(crop_image, {
                aspectRatio: 9 / 4,
                initialAspectRatio: 9 / 4,
                viewMode: 3,
                dragMode: 'none',
                center: true,
                crop(event) {
                  cropX.value = event.detail.x;
                  cropY.value = event.detail.y;
                  cropWidth.value = event.detail.width;
                  cropHeight.value = event.detail.height;
                  cropRotate.value = event.detail.rotate;
                  cropScaleX.value = event.detail.scaleX;
                  cropScaleY.value = event.detail.scaleY;
                },
              })
            });
          });
        </script>
      {% endif %}
    {% endif %}

    <div class="trip-feed-footer">
      <div class="d-flex flex-row align-items-center justify-content-between">
        {% with trip.likes_count as likes_count %}
          {% include "logger/_htmx_trip_like.html" %}
        {% endwith %}

        {% if trip.user.allow_comments %}
          <span class="float-end text-muted">
            {% if trip.comments_count > 0 %}
              <span><i class="bi bi-chat-fill me-1"></i></span> {{ trip.comments_count }}</span>
            {% else %}
              <span><i class="bi bi-chat"></i></span>
            {% endif %}
          </span>
        {% endif %}
      </div>
    </div>
  </div>

  {% if object_owner.allow_comments %}
    {% if user.is_authenticated or trip.comments.all %}
      <div class="d-flex flex-row justify-content-between align-items-center mb-3 mt-5">
        <h2 class="m-0">Comments</h2>
        {% include "logger/_htmx_trip_follow.html" %}
      </div>
      {% include "comments/_comments.html" with comment_obj=trip %}
    {% endif %}
  {% endif %}
{% endblock %}
