{% extends "logger/_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Photos for {{ trip.cave_name }}{% endblock %}

{% block header_scripts %}
  <script type="text/javascript">
    // Get the CSRF token from the cookie
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

    // Define variables to be used by Uppy to make the presigned URL request
    const csrftoken = getCookie('csrftoken');
    const trip_uuid = "{{ trip.uuid }}";
    const upload_url = "{% url 'log:trip_photos_upload' %}";
    const upload_success_url = "{% url 'log:trip_photos_upload_success' %}";

  </script>
  <script type="module" src="{% static 'js/uppy.js/bundle.js' %}"></script>
{% endblock %}

{% block main %}
  <h1 class="title-underline mb-3">
    Upload photos
  </h1>

  <p class="text-muted mb-5">
    Once you have successfully uploaded your photos below, go back to the <a href="{{ trip.get_absolute_url }}">
    trip page</a> to view them.
  </p>

  <div id="uppy"></div>

  <h3 class="title-underline mt-5 mb-3">
    Photo privacy
  </h3>

  {% crispy form %}

  {% if trip.featured_photo is not None %}
    <h3 class="title-underline mt-5 mb-3">
      Remove featured photo
    </h3>

    <p class="mb-3">
      If you'd like to remove the featured photo for this trip and display the default
      header instead, click the button below.
    </p>

    <button hx-post="{% url 'log:trip_photos_unfeature' trip.uuid %}"
            hx-swap="innerHTML show:top" hx-push-url="true" hx-target="body"
            class="btn btn-secondary">
      Remove featured photo
    </button>
  {% endif %}

  <h3 class="title-underline mt-5 mb-3">
    Remove photos
  </h3>

  <p class="mb-3">
    If you'd like to delete all photos that you've uploaded for this trip, click the button below.
    This will remove <strong>all the photos</strong> for the trip to
    {{ trip.cave_name }} on {{ trip.start|date }} and is <strong>permanent and
    cannot be undone</strong>.
  </p>

  <button data-bs-toggle="modal" data-bs-target="#photoDeleteModal" class="btn btn-danger">Delete all photos</button>

  <div class="modal" tabindex="-1" id="photoDeleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete all photos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete <strong>all of the photos</strong>
            uploaded to the trip to {{ trip.cave_name }} on {{ trip.start|date }}?
          </p>
          <p>
            This is <strong>permanent and cannot be undone</strong>.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{{ trip.get_absolute_url }}" class="btn btn-info">View trip</a>
          <form action="{% url 'log:trip_photos_delete_all' trip.uuid %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete all photos</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
