{% extends "base_trips.html" %}
{% load crispy_forms_tags %}

{% block title %}Add a trip report{% endblock %}
{% block display_title %}Add a trip report{% endblock %}
{% block header_scripts %}{{ form.media }}{% endblock %}

{% block main %}
  <div class="alert alert-secondary mb-4">
    You are adding a trip report for the trip to <strong>{{ trip.cave_name }}</strong> on <strong>{{ trip.start|date }}</strong>. Would you
    like to <a target="_blank" href="{% url 'log:trip_detail' trip.id %}">view the trip</a>?
  </div>

  {% crispy form %}
{% endblock %}
