{% extends "base_trips.html" %}

{% block title %}Trip to {{ trip.cave_name }}{% endblock %}
{% block meta_tags %}<meta name="author" content="{{ trip.user.name }}">{% endblock %}
{% block description %}Details of a trip to {{ trip.cave_name }} that took place on {{ trip.start|date }}.{% endblock %}
{% block display_title %}Trip to {{ trip.cave_name }}{% endblock %}
{% block display_title_right %}@{{ trip.user.username }}{% endblock %}

{% block main %}
  {{ trip.trip_report|safe }}
{% endblock %}
