{% extends "base_sidebar.html" %}
{% load get %}
{% block title %}List of trips{% endblock %}
{% block description %}A list of your caving trips.{% endblock %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header">
    <span class="fs-4">Your trips</span>
  </div>

  {% if object_list %}
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover table-striped table-borderless mb-0">
          <thead>
            <tr>
              <th class="d-none d-sm-block ps-1 text-center" scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Cave</th>
              <th class="d-none d-xl-table-cell" scope="col">Duration</th>
              <th class="d-none d-lg-table-cell" scope="col">Trip type</th>
              <th class="d-none d-sm-table-cell" scope="col"></th>
            </tr>
          </thead>

          <tbody>
            {% for trip in object_list %}
              <tr data-href="{% url 'log:trip_detail' pk=trip.pk %}">
                <th class="d-none d-sm-block ps-1 text-center" scope="row">{{ trip_index|get:trip.pk }}</th>

                <td>{{ trip.start|date:"j M y" }}</td>


                <td>
                  {{ trip.cave_name }}

                  {% if trip.cave_url %}
                    <a class="d-none d-md-inline" href="{{ trip.cave_url }}"><i class="bi bi-link-45deg"></i></a>
                  {% endif %}
                </td>

                <td class="d-none d-xl-table-cell">{{ trip.duration_str }}</td>

                <td class="d-none d-lg-table-cell">{{ trip.type }}</td>

                <td class="text-end pe-2 d-none d-sm-table-cell">
                  <a href="{% url 'log:trip_update' pk=trip.pk %}"><i class="bi bi-pencil"></i></a>
                  &nbsp;
                  <a class="text-danger" href="{% url 'log:trip_delete' pk=trip.pk %}"><i class="bi bi-x-lg"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% include "paginate_bootstrap.html" %}
    </div>
  {% else %}
    <div class="card-body">
      <p class="lead mb-0">
        You have not logged any trips yet! Why not <a href="{% url 'log:trip_create' %}">add one now?</a>
      </p>
    </div>
  {% endif %}
</div>

{% endblock main %}

{% block footer_scripts %}
<!-- Clickable table rows -->
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
<script>
  jQuery(document).ready(function($) {
    $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
    });
  });
</script>
{% endblock footer_scripts %}
