{% extends "base_sidebar.html" %}
{% block title %}View trip{% endblock %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header">
    <div class="row text-muted">
      <div class="col-12 col-lg-9">
        <!-- Large title -->
        <span class="d-none d-lg-block">
          <i class="bi bi-clock-history"></i> &nbsp; Trip at {{ trip.start|time:"H:i" }} on {{ trip.start|date:"l, jS M Y" }}
        </span>

        <!-- Small title -->
        <span class="d-lg-none">
          <small>
            <i class="bi bi-clock-history"></i> &nbsp; {{ trip.start|time:"H:i" }} on {{ trip.start|date:"l, jS M Y" }}
          </small>
        </span>
      </div>

      <!-- Trip number only displayed above -lg -->
      <div class="col text-end d-none d-lg-block">
        Trip 	&#35;{{ trip.number }}
      </div>
    </div>
  </div>

  <div class="card-body pt-2">
    {% include "trip_table.html" %}

    {% if trip.next_trip or trip.prev_trip %}
      <div class="row mt-5">
        <div class="col-6">
          {% if trip.prev_trip %}
          <a class="btn btn-sm btn-secondary" href="{% url 'log:trip_detail' trip.prev_trip.pk %}">Previous trip</a>
          {% endif %}
        </div>
        <div class="col-6">
          {% if trip.next_trip %}
            <a class="btn btn-sm btn-secondary float-end" href="{% url 'log:trip_detail' trip.next_trip.pk %}">Next trip</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>


  <div class="card-footer">
    <div class="row text-muted">
      <div class="col-12 col-lg-6 text-start">
        <small>
          Created: {{ trip.added|date:"jS M Y" }}
        </small>
      </div>
      <div class="col text-end d-none d-lg-block">
        <small>
          Updated: {{ trip.updated|date:"jS M Y" }}
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
