{% extends "base_sidebar.html" %}
{% block title %}List of trips{% endblock %}
{% block description %}A list of your caving trips.{% endblock %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header">
    <span class="fs-4">Your trips</span>
  </div>

  <div class="card-body">
    {% if object_list %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="d-none d-md-block" scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Cave</th>
              <th class="d-none d-lg-block" scope="col">Trip type</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for trip in object_list %}
              <tr>
                <th class="d-none d-md-block" scope="row">{{ trip.number }}</th>

                <td>{{ trip.start|date:"Y-m-d" }}</td>

                <td>
                  {{ trip.cave_name }}

                  {% if trip.cave_url %}
                    <a class="link-secondary" href="{{ trip.cave_url }}"><i class="bi bi-link-45deg"></i></a>
                  {% endif %}
                </td>

                <td class="d-none d-lg-block">{{ trip.type }}</td>

                <td class="text-end">
                  <a class="link-secondary" href="{% url 'log:trip_detail' pk=trip.pk %}"><i class="bi bi-info-circle"></i></a>
                  &nbsp;
                  <a class="link-secondary" href="{% url 'log:trip_update' pk=trip.pk %}"><i class="bi bi-pencil"></i></a>
                  &nbsp;
                  <a class="link-secondary" href="{% url 'log:trip_delete' pk=trip.pk %}"><i class="bi bi-x-lg"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="mt-2">{% include "paginate_bootstrap.html" %}</div>

    {% else %}

      <p class="lead mb-0">
        You have not logged any trips yet! Why not <a href="{% url 'log:trip_create' %}">add one now?</a>
      </p>
    {% endif %}
  </div>
</div>
{% endblock main %}
