{% extends "base_sidebar.html" %}
{% load get %}
{% load static %}
{% block title %}List of trips{% endblock %}
{% block description %}A list of your caving trips.{% endblock %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header">
    <span class="fs-4">Your trips</span>
  </div>

  {% if object_list %}
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover table-striped table-borderless mb-0">
          <thead>
            <tr>
              <th class="d-none d-sm-block ps-1 text-center" scope="col">#</th>

              <th scope="col">
                Date
                <small>
                  <a href="?sort=start" class="text-decoration-none">
                    <i class="bi bi-sort-up"></i>
                  </a>
                  <a href="?sort=-start" class="text-decoration-none">
                    <i class="bi bi-sort-down"></i>
                  </a>
                </small>
              </th>

              <th scope="col">
                Cave
                <small>
                  <a href="?sort=cave_name" class="text-decoration-none">
                    <i class="bi bi-sort-alpha-up"></i>
                  </a>
                  <a href="?sort=-cave_name" class="text-decoration-none">
                    <i class="bi bi-sort-alpha-down"></i>
                  </a>
                </small>
              </th>

              <th class="d-none d-xl-table-cell" scope="col">
                Duration
                <small>
                  <a href="?sort=duration" class="text-decoration-none">
                    <i class="bi bi-sort-up"></i>
                  </a>
                  <a href="?sort=-duration" class="text-decoration-none">
                    <i class="bi bi-sort-down"></i>
                  </a>
                </small>
              </th>

              <th class="d-none d-lg-table-cell" scope="col">
                Trip type
                <small>
                  <a href="?sort=type" class="text-decoration-none">
                    <i class="bi bi-sort-alpha-up"></i>
                  </a>
                  <a href="?sort=-type" class="text-decoration-none">
                    <i class="bi bi-sort-alpha-down"></i>
                  </a>
                </small>
              </th>

              <th class="d-none d-sm-table-cell" scope="col"></th>
            </tr>
          </thead>

          <tbody>
            {% for trip in object_list %}
              <tr data-href="{% url 'log:trip_detail' pk=trip.pk %}">
                <th class="d-none d-sm-block ps-1 text-center" scope="row">{{ trip_index|get:trip.pk }}</th>

                <td>{{ trip.start|date:"j M y" }}</td>


                <td>
                  {{ trip.cave_name }}

                  {% if trip.cave_url %}
                    <a class="d-none d-md-inline" href="{{ trip.cave_url }}"><i class="bi bi-link-45deg"></i></a>
                  {% endif %}
                </td>

                <td class="d-none d-xl-table-cell">{{ trip.duration_str }}</td>

                <td class="d-none d-lg-table-cell">{{ trip.type }}</td>

                <td class="text-end pe-2 d-none d-sm-table-cell">
                  {% if trip.report %}
                    <a class="text-warning" href="{% url 'log:report_detail' pk=trip.report.pk %}"><i class="bi bi-card-text"></i></a>
                    &nbsp;
                  {% endif %}
                  <a href="{% url 'log:trip_update' pk=trip.pk %}"><i class="bi bi-pencil"></i></a>
                  &nbsp;
                  <a class="text-danger" href="{% url 'log:trip_delete' pk=trip.pk %}"><i class="bi bi-x-lg"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% include "paginate_bootstrap.html" %}
    </div>
  {% else %}
    <div class="card-body">
      <p class="m-0">
        You have not logged any trips yet! Why not <a href="{% url 'log:trip_create' %}">add one now?</a>
      </p>
    </div>
  {% endif %}
</div>

{% endblock main %}

{% block footer_scripts %}
<!-- Clickable table rows -->
<script src="{% static "js/jquery-3.6.4.min.js" %}"></script>
<script>
  jQuery(document).ready(function($) {
    $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
    });
  });
</script>
{% endblock footer_scripts %}
