{% extends "base_sidebar.html" %}
{% block title %}View trip{% endblock %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-12 col-lg-8 fs-4">
        <span class="text-muted">Trip to</span> {{ trip.cave_name }}
      </div>
      <div class="col text-end my-auto d-none d-lg-block">
        <small class="text-muted">
          {{ trip.trip_start|date:"l jS M Y" }}
        </small>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Cave</th>
            <td>
              {{ trip.cave_name }}
              <span class="text-muted">
                {{ trip.cave_region }} / {{ trip.cave_country }}
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row">Type</th>
            <td>
              {{ trip.trip_type }}
              {% if trip.club %}
                trip with {{ trip.club }}
              {% endif %}
            </td>
          </tr>

          <tr>
            {% if trip.trip_end %}
              <th scope="row">
                Entered
              </th>
            {% else %}
              <th scope="row">Date/Time</th>
            {% endif %}
            <td>
              {{ trip.trip_start|time:"H:i" }}
              <span class="text-muted">{{ trip.trip_start|date:"Y-m-d"}}</span>
            </td>
          </tr>

          {% if trip.trip_end %}
            <tr>
              <th scope="row">
                Exited
              </th>
              <td>
                {{ trip.trip_end|time:"H:i" }}
                <span class="text-muted">{{ trip.trip_end|date:"Y-m-d"}}</span>
              </td>
            </tr>

            <tr>
              <th scope="row">Duration</th>
              <td>{{ trip.duration }}</td>
            </tr>
          {% endif %}

          {% if trip.expedition %}
            <tr>
              <th scope="row">Expedition</th>
              <td>{{ trip.expedition }}</td>
            </tr>
          {% endif %}

          {% if trip.cavers %}
            <tr>
              <th scope="row">Cavers</th>
              <td>{{ trip.cavers }}</td>
            </tr>
          {% endif %}

          {% if trip.notes %}
            <tr>
              <th scope="row">Notes</th>
              <td>{{ trip.notes|striptags|linebreaks }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>


  <div class="card-footer">
    <div class="row text-muted">
      <div class="col-12 col-lg-6 text-start">
        <small>
          Created: {{ trip.trip_added|date:"jS M Y" }}
        </small>
      </div>
      <div class="col text-end d-none d-lg-block">
        <small>
          Updated: {{ trip.trip_updated|date:"jS M Y" }}
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
