{% extends "base_sidebar.html" %}
{% block title %}{{ tripreport.title }}{% endblock %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header fs-4">
    {{ tripreport.title }}
  </div>

  <div class="card-body">
    {{ tripreport.content|safe }}
  </div>


  <div class="card-footer">
    <div class="row text-muted">
      <div class="col-12 col-lg-6 text-start">
        <small>
          Created: {{ tripreport.added|date:"jS M Y" }}
        </small>
      </div>
      <div class="col text-end d-none d-lg-block">
        <small>
          Updated: {{ tripreport.updated|date:"jS M Y" }}
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
