{% extends "base_sidebar.html" %}
{% block title %}Add a trip report{% endblock %}
{% block sidebar %}{% include "sidebar_trips.html" %}{% endblock %}
{% block header_scripts %}{{ form.media }}{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header">
    Add a trip report
  </div>

  <div class="card-body">
    {% include "tripreport_help_text.html" %}

    <form method="post">
      {% csrf_token %}

      {{ form }}

      <button class="mt-3 w-100 btn btn-lg btn-success" type="submit" name="save" value="save">Save</button>
    </form>
  </div>
</div>
{% endblock main %}
