#
# Production environment for caves.app
#

DJANGO_SETTINGS_MODULE=config.django.settings.production

SECRET_KEY=insecure-production-secret-key
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] 0.0.0.0
CSRF_TRUSTED_ORIGINS=http://127.0.0.1 https://127.0.0.1

DATABASE=postgres
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db
SQL_PORT=5432

STATIC_ROOT=/opt/caves/staticfiles

EMAIL_BACKEND=mailer.backend.DbBackend
MAILER_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
RUN_MAILER=yes  # Whether to run python manage.py runmailer
MAILER_EMPTY_QUEUE_SLEEP=30
DEFAULT_FROM_EMAIL=admin@caves.app
#EMAIL_HOST=
#EMAIL_PORT=465
#EMAIL_USE_SSL=1
#EMAIL_HOST_USER=
#EMAIL_HOST_PASSWORD=

# Set to yes to collect static files on launch
COLLECT_STATIC=yes

# Site root URL with protocol
SITE_ROOT=https://caves.app

# Enable to call to Sentry
# SENTRY_KEY=https://something@something.ingest.sentry.io/something

# Run migrations on start?
RUN_MIGRATIONS=yes
