{% extends "stats/_base.html" %}
{% load logger_tags %}
{% load stats_tags %}
{% load static %}
{% load markdownify %}

{% block header_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
{% endblock %}

{% block main %}
  {% if stats_yearly %}
    <h1 class="title-underline mt-2">
      {{ user.name }}'s statistics
    </h1>

    <div id="yearly-statistics-table">
      {% include "stats/_yearly_stats.html" with table_class="table-striped" stats=stats_yearly disable_dist=user.disable_distance_statistics disable_survey=user.disable_survey_statistics %}
    </div>

    {% if not user.disable_stats_over_time %}
      <div class="text-center mt-4 mt-lg-5">
        <canvas id="stats-over-time-chart" data-url="{% url 'stats:chart_stats_over_time' user.username %}"></canvas>

        <div class="text-muted mt-2">
          <small>Click the legend to toggle data</small>
        </div>
      </div>
    {% endif %}
  {% else %}
    <p class="lead">
      You haven't added any trips, so no statistics are available.
      Why not <a href="{% url 'log:trip_create' %}">add a trip</a> now?
    </p>

    <p>
      As you add trips, more statistics will be added to this page. The statistics
      shown will vary based on what data is available. To ensure the most interesting
      statistics, fill out as many fields as possible when adding trips.
    </p>
  {% endif %}

  {% if stats_averages or stats_metrics %}
    <h3 class="title-underline mt-5">
      Metrics
    </h3>

    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Metric</th>
            <th>Value</th>
          </tr>
        </thead>

        <tbody>
          {% for stat in stats_metrics %}
            <tr>
              <td>{{ stat.metric }}</td>
              <td>{{ stat.value }}</td>
            </tr>
          {% endfor %}

          {% for stat in stats_averages %}
            <tr>
              <td>Average {{ stat.metric|lower }}</td>
              <td>
                {% if stat.is_dist %}
                  {{ stat.value|distformat:request.units }}
                {% elif stat.is_time %}
                  {{ stat.value|naturaldelta:"minutes" }}
                {% else %}
                  {{ stat.value|floatformat:2 }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="text-center mt-4 mt-lg-5">
      <canvas id="hours-per-month-chart" data-url="{% url 'stats:chart_hours_per_month' user.username %}"></canvas>

      <div class="text-muted mt-2">
        <small>Click the legend to toggle data</small>
      </div>
    </div>
  {% endif %}

  {% if stats_most_common or stats_biggest_trips %}
    <h3 class="title-underline mt-5">
      Rankings
    </h3>

    <div class="row row-cols-1 row-cols-lg-2 g-5">
      {% for stat in stats_most_common %}
        <div class="col">
          <h5 class="mb-3">{{ stat.title }}</h5>
          <div class="table-responsive">
            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{ stat.metric_name }}</th>
                  <th>{{ stat.value_name }}</th>
                </tr>
              </thead>

              <tbody>
                {% for row in stat.rows %}
                  <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>
                      {% if row.url %}
                        <a href="{{ row.url }}">{{ row.metric }}</a>
                      {% else %}
                        {{ row.metric }}
                      {% endif %}
                    </td>
                    <td>{{ row.value }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}

      {% for stat in stats_biggest_trips %}
        <div class="col">
          <h5 class="mb-3">{{ stat.title }}</h5>
          <div class="table-responsive">
            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Trip</th>
                  <th>Date</th>
                  <th>{{ stat.metric }}</th>
                </tr>
              </thead>

              <tbody>
                {% for row in stat.rows %}
                  <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>
                      <a href="{{ row.trip.get_absolute_url }}">
                        {{ row.trip.cave_name }}
                      </a>
                    </td>
                    <td>{{ row.trip.start|date }}</td>
                    <td>
                      {% if row.is_time %}
                        {{ row.value|naturaldelta }}
                      {% else %}
                        {{ row.value|distformat:request.units }}
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if excluded_trip_count and excluded_trip_count > 0 %}
    <div class="alert alert-secondary mt-3">
      <span class="message-title"><i class="bi bi-exclamation-triangle-fill"></i></span>
      {{ excluded_trip_count }} surface trip{{ excluded_trip_count|pluralize }} have been excluded from the statistics on this page.
    </div>
  {% endif %}
{% endblock %}

{% block footer_scripts %}
  <script>
    {% if not user.disable_stats_over_time %}
      $(function () {
        const $statsTimeChart = $("#stats-over-time-chart");
        $.ajax({
          url: $statsTimeChart.data("url"),
          success: function (data) {

            const ctx = $statsTimeChart[0].getContext("2d");

            new Chart(ctx, {
              type: 'line',
              data: {
                labels: data.labels,
                datasets: [{
                  label: 'Hours',
                  borderColor: '#008CBA',
                  backgroundColor: '#008CBA',
                  data: data.duration,
                },
                  {
                    label: 'Rope climbed ({% if user.units == "Imperial" %}ft{% else %}m{% endif %})',
                    borderColor: 'orange',
                    backgroundColor: 'orange',
                    data: data.vert_up,
                  },
                  {
                    label: 'Rope descended ({% if user.units == "Imperial" %}ft{% else %}m{% endif %})',
                    borderColor: 'red',
                    backgroundColor: 'red',
                    data: data.vert_down,
                  },
                  {
                    label: 'Surveyed ({% if user.units == "Imperial" %}ft{% else %}m{% endif %})',
                    borderColor: 'green',
                    backgroundColor: 'green',
                    data: data.surveyed,
                  },
                  {
                    label: 'Resurveyed ({% if user.units == "Imperial" %}ft{% else %}m{% endif %})',
                    borderColor: 'purple',
                    backgroundColor: 'purple',
                    data: data.resurveyed,
                  }],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                  point: {
                    pointStyle: false,
                  },
                  line: {
                    tension: 0.4,
                  }
                },
                plugins: {
                  title: {
                    display: true,
                    text: 'Statistics over time',
                    font: {
                      size: 20,
                      weight: "normal",
                    }
                  }
                }
              }
            });
          }
        });
      });
    {% endif %}

    $(function () {
      const $hoursPerMonthChart = $("#hours-per-month-chart");
      $.ajax({
        url: $hoursPerMonthChart.data("url"),
        success: function (data) {

          const ctx = $hoursPerMonthChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Hours per month',
                data: data.data,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.5)',
                  'rgba(255, 159, 64, 0.5)',
                  'rgba(255, 205, 86, 0.5)',
                  'rgba(75, 192, 192, 0.5)',
                  'rgba(54, 162, 235, 0.5)',
                  'rgba(153, 102, 255, 0.5)',
                  'rgba(201, 203, 207, 0.5)'
                ],
                borderColor: [
                  'rgb(255, 99, 132)',
                  'rgb(255, 159, 64)',
                  'rgb(255, 205, 86)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(153, 102, 255)',
                  'rgb(201, 203, 207)'
                ],
                borderWidth: 1
              }],
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                legend: {
                  display: false,
                },
                title: {
                  display: true,
                  text: 'Hours per month',
                  padding: {
                    bottom: 20,
                  },
                  font: {
                    size: 20,
                    weight: "normal",
                  }
                }
              }
            }
          });
        }
      });
    });

    {% comment %}
    $(function () {
      var $tripTypeChart = $("#trip-types-chart");
      $.ajax({
        url: $tripTypeChart.data("url"),
        success: function (data) {

          var ctx = $tripTypeChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'pie',
            data: {
              labels: data.labels,
              datasets: [{
                data: data.data,
              }],
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                title: {
                  display: true,
                  text: 'Trip types (number of trips)'
                }
              }
            }
          });
        }
      });
    });


    $(function () {
      var $tripTypeTimeChart = $("#trip-types-time-chart");
      $.ajax({
        url: $tripTypeTimeChart.data("url"),
        success: function (data) {

          var ctx = $tripTypeTimeChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'pie',
            data: {
              labels: data.labels,
              datasets: [{
                data: data.data,
              }],
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                title: {
                  display: true,
                  text: 'Trip types (hours of trips)'
                }
              }
            }
          });
        }
      });
    });
    {% endcomment %}
  </script>
{% endblock footer_scripts %}
