{% load logger_tags %}

<div x-data="{ open: false }">
  <div class="input-group px-3 py-4">
    <input type="text" class="form-control" placeholder="Cave name, cavers, etc."
           id="tripsSearch" x-bind:disabled="open">
      <span class="input-group-text fake-link" data-bs-toggle="tooltip"
          data-bs-title="Advanced search" id="advancedSearchToggle"
          @click="open = ! open; resetSearch();">
      <i class="bi bi-caret-down-fill"></i>
    </span>
  </div>

  <div class="px-3 mb-2 py-4 border-top" x-show="open" x-transition x-cloak>
    <h4>
      Advanced search
      <span class="ms-1 badge bg-secondary fw-normal fake-link" @click="resetSearch()">
        Reset
      </span>
    </h4>

    <p class="form-text">
      Enter a search term to filter by a specific field. You may search more than one field at a time.
    </p>

    <div class="row row-cols-1 row-cols-xl-2 g-3">
      <div class="col">
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-tag-fill"></i></span>
          <input type="text" class="form-control" placeholder="Cave or entrance name" id="caveNameSearch">
        </div>
      </div>

      <div class="col">
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
          <input type="text" class="form-control" placeholder="Cavers" id="caverNameSearch">
        </div>
      </div>

      <div class="col">
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-people-fill"></i></span>
          <input type="text" class="form-control" placeholder="Clubs" id="clubsSearch">
        </div>
      </div>

      <div class="col">
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-airplane-fill"></i></span>
          <input type="text" class="form-control" placeholder="Expedition" id="expeditionSearch">
        </div>
      </div>

      <div class="col">
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-geo-fill"></i></span>
          <input type="text" class="form-control" placeholder="Region" id="regionSearch">
        </div>
      </div>

      <div class="col">
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-globe"></i></span>
          <input type="text" class="form-control" placeholder="Country" id="countrySearch">
        </div>
      </div>

      <div class="col">
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-newspaper"></i></span>
          <input type="text" class="form-control" placeholder="Notes" id="notesSearch">
        </div>
      </div>

      <div class="col">
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-list-ul"></i></span>
          <select class="form-select" id="tripTypeSearch">
            <option value="">All trip types</option>
            {% for trip_type in trip_types %}
              <option value="{{ trip_type }}">{{ trip_type }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="userTripsTable"></div>

{% for trip in trips %}
  {% include "logger/profile/_trip_modal.html" with trip=trip %}
{% endfor %}

<script type="text/javascript">
  const trips = [
    {% for trip in trips %}
      {
        id: {{ forloop.revcounter }},
        url: "{{ trip.get_absolute_url }}",
        date: "{{ trip.start|date:"M j, Y" }}",
        cave: "{{ trip.cave_name }}",
        caveCombined: "{{ trip.cave_entrance }} | {{ trip.cave_exit }} | {{ trip.cave_name }}",
        region: "{{ trip.cave_region }}",
        country: "{{ trip.cave_country }}",
        duration: "{{ trip.duration|shortdelta }}",
        {% if not profile_user.disable_distance_statistics %}
          climbed: "{{ trip.vert_dist_up|distformat:request.units }}",
          descended: "{{ trip.vert_dist_down|distformat:request.units }}",
        {% endif %}
        {% if not profile_user.disable_survey_statistics %}
          {% if profile_user.disable_distance_statistics %}
            surveyed: "{{ trip.surveyed_dist|distformat:request.units }}",
            resurveyed: "{{ trip.resurveyed_dist|distformat:request.units }}",
          {% else %}
            surveyed: "{{ trip.total_surveyed_dist|distformat:request.units }}",
          {% endif %}
        {% endif %}
        type: "{{ trip.get_type_display }}",
        cavers: "{% for caver in trip.cavers.all %}{{ caver.name }}{% if not forloop.last %}, {% endif %}{% endfor %}",
        clubs: "{{ trip.clubs }}",
        expedition: "{{ trip.expedition }}",
        uuid: "{{ trip.uuid }}",
        notes: `{{ trip.public_notes }}{% if user == trip.user %} | {{ trip.notes }}{% endif %}`
      }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];

  const tripTable = new Tabulator("#userTripsTable", {
    data: trips,
    layout: "fitDataFill",
    height: '60vh',
    responsiveLayout: "hide",
    columns: [
      {title: "Date", field: "date", widthGrow: 1, minWidth: 100, sorter: "date", sorterParams: {format: "DD"}},
      {title: "Cave", field: "cave", widthGrow: 2, minWidth: 200},
      {% if profile_user.disable_distance_statistics %}
        {title: "Region", field: "region", widthGrow: 1, minWidth: 100},
      {% endif %}
      {title: "Duration", field: "duration", widthGrow: 2, minWidth: 125, sorter:function(a, b, {}, {}, {}, {}, {}){
        const get_total_minutes = function(time) {
          if (time === "") {
            return 0;
          }

          let hours = time.split("h")[0];
          let minutes = time.split("h")[1].split("m")[0];
          return parseInt(hours) * 60 + parseInt(minutes);
        };

        return get_total_minutes(a) - get_total_minutes(b);
      }},
      {% if profile_user.disable_survey_statistics %}
        {title: "Type", field: "type", widthGrow: 1, minWidth: 100},
      {% endif %}
      {% if not profile_user.disable_distance_statistics %}
        {title: "Up", field: "climbed", widthGrow: 1, minWidth: 80},
        {title: "Down", field: "descended", widthGrow: 1, minWidth: 100},
      {% endif %}
      {% if not profile_user.disable_survey_statistics %}
        {title: "Survey", field: "surveyed", widthGrow: 1, minWidth: 100},
        {% if profile_user.disable_distance_statistics %}
          {title: "Resurvey", field: "resurveyed", widthGrow: 1, minWidth: 100},
        {% endif %}
      {% endif %}
      {title: "Type", field: "type", visible: false},
      {title: "Cave combined", field: "caveCombined", visible: false},
      {title: "Clubs", field: "clubs", visible: false},
      {title: "Expedition", field: "expedition", visible: false},
      {title: "Region", field: "region", visible: false},
      {title: "Country", field: "country", visible: false},
      {title: "Cavers", field: "cavers", visible: false},
      {title: "Notes", field: "notes", visible: false},
      {title: "UUID", field: "uuid", visible: false},
    ],
  })

  document.addEventListener("DOMContentLoaded", function() {
    tripTable.redraw();
  });

  tripTable.on("rowClick", function (e, row) {
    let modalId = "#tripModal" + row.getData().uuid;
    $(modalId).modal("show");
  });

  /* Quick search */
  const tripsSearch = document.getElementById("tripsSearch");
  const searchFields = ["caveCombined", "cavers", "region", "country"];
  tripsSearch.addEventListener("keyup", (event) => {
    let query = event.target.value.trim();
    tripTable.setFilter([
      searchFields.map((field) => {
        return {field: field, type: "like", value: query};
      })]
    );
  });

  /* Advanced search */
  const caveNameSearch = document.getElementById("caveNameSearch");
  const caverNameSearch = document.getElementById("caverNameSearch");
  const clubsSearch = document.getElementById("clubsSearch");
  const expeditionSearch = document.getElementById("expeditionSearch");
  const regionSearch = document.getElementById("regionSearch");
  const countrySearch = document.getElementById("countrySearch");
  const notesSearch = document.getElementById("notesSearch");
  const tripTypeSearch = document.getElementById("tripTypeSearch");

  const advancedSearchFields = [
      caveNameSearch,
      caverNameSearch,
      clubsSearch,
      expeditionSearch,
      regionSearch,
      countrySearch,
      notesSearch,
      tripTypeSearch
  ];

  advancedSearchFields.forEach(field => {
    field.addEventListener("input", () => { runAdvancedSearch() })
  })

  function runAdvancedSearch() {
    tripTable.setFilter([
      {field: "caveCombined", type: "like", value: caveNameSearch.value},
      {field: "cavers", type: "like", value: caverNameSearch.value},
      {field: "clubs", type: "like", value: clubsSearch.value},
      {field: "expedition", type: "like", value: expeditionSearch.value},
      {field: "region", type: "like", value: regionSearch.value},
      {field: "country", type: "like", value: countrySearch.value},
      {field: "notes", type: "like", value: notesSearch.value},
      {field: "type", type: "like", value: tripTypeSearch.value},
    ])
  }

  function resetSearch() {
    advancedSearchFields.forEach(field => { field.value = ""; })
    tripsSearch.value = "";
    tripTable.clearFilter();
  }
</script>
