{% load widget_tweaks %}

<!-- Hidden fields -->
{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

<!-- Account details title -->
<div class="bg-light border rounded fs-5 p-2 mb-3">
  Account details
</div>

<!-- Email -->
<div class="row mb-3 px-2 g-3">
  <div class="col">
    <label class="form-label" for="{{ form.email.auto_id }}">
      Email
    </label>
    {% if form.is_bound %}
      {% if form.email.errors %}
        {% render_field form.email class="form-control is-invalid" %}
        {% for e in form.email.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.email class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.email class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.email.help_text }}
    </div>
  </div>
</div>

<!-- Username -->
<div class="row mb-3 px-2 g-3">
  <div class="col">
    <label class="form-label" for="{{ form.username.auto_id }}">
      Username
    </label>
    {% if form.is_bound %}
      {% if form.username.errors %}
        {% render_field form.username class="form-control is-invalid" %}
        {% for e in form.username.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.username class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.username class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.username.help_text }}
    </div>
  </div>
</div>


<!-- Personal information title -->
<div class="bg-light border rounded fs-5 p-2 mb-3 mt-4">
  Personal information
</div>

<div class="row mb-3 px-2 g-3">
  <div class="col-xl-6">
    <!-- Name -->
    <label class="form-label" for="{{ form.name.auto_id }}">
      Name
    </label>
    {% if form.is_bound %}
      {% if form.name.errors %}
        {% render_field form.name class="form-control is-invalid" %}
        {% for e in form.name.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.name class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.name class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.name.help_text }}
    </div>
  </div>

  <div class="col-xl-6">
    <!-- Location -->
    <label class="form-label" for="{{ form.location.auto_id }}">
      Location
    </label>
    {% if form.is_bound %}
      {% if form.location.errors %}
        {% render_field form.location class="form-control is-invalid" %}
        {% for e in form.location.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.location class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.location class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.location.help_text }}
    </div>
  </div>
</div>

<div class="row mb-3 px-2 g-3">
  <div class="col-xl-6">
    <!-- Country -->
    <label class="form-label" for="{{ form.country.auto_id }}">
      Country
    </label>
    {% if form.is_bound %}
      {% if form.country.errors %}
        {% render_field form.country class="form-select is-invalid" %}
        {% for e in form.country.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.country class="form-select is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.country class="form-select" %}
    {% endif %}
    <div class="form-text">
      {{ form.country.help_text }}
    </div>
  </div>

  <div class="col-xl-6">
    <!-- Caving clubs -->
    <label class="form-label" for="{{ form.clubs.auto_id }}">
      Club(s)
    </label>
    {% if form.is_bound %}
      {% if form.clubs.errors %}
        {% render_field form.clubs class="form-control is-invalid" %}
        {% for e in form.clubs.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.clubs class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.clubs class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.clubs.help_text }}
    </div>
  </div>
</div>


<!-- Profile settings -->
<div class="bg-light border rounded fs-5 p-2 mb-3 mt-4">
  Profile settings
</div>

<!-- Profile page title -->
<div class="row mb-3 px-2 g-3">
  <div class="col">
    <label class="form-label" for="{{ form.profile_page_title.auto_id }}">
      Profile page title
    </label>
    {% if form.is_bound %}
      {% if form.profile_page_title.errors %}
        {% render_field form.profile_page_title class="form-control is-invalid" %}
        {% for e in form.profile_page_title.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.profile_page_title class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.profile_page_title class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.profile_page_title.help_text }}
    </div>
  </div>
</div>

<!-- Biography -->
<div class="row mb-3 px-2 g-3">
  <div class="col">
    <label class="form-label" for="{{ form.bio.auto_id }}">
      Biography
    </label>
    {% if form.is_bound %}
      {% if form.bio.errors %}
        {% render_field form.bio class="form-control is-invalid" %}
        {% for e in form.bio.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.bio class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.bio class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.bio.help_text }}
      You can use <a target="_blank" href="https://www.markdownguide.org/basic-syntax/">Markdown</a> to apply styling.
    </div>
  </div>
</div>

<!-- Privacy -->
<div class="row mb-3 px-2 g-3">
  <div class="col">
    <label class="form-label" for="{{ form.privacy.auto_id }}">
      Privacy
    </label>
    {% if form.is_bound %}
      {% if form.privacy.errors %}
        {% render_field form.privacy class="form-select is-invalid" %}
        {% for e in form.privacy.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.privacy class="form-select is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.privacy class="form-select" %}
    {% endif %}
    <div class="form-text">
      {{ form.privacy.help_text }}
    </div>
  </div>
</div>

<!-- Statistics/private notes block -->
<div class="row mb-3 px-2 g-3">
  <!-- Statistics checkbox -->
  <div class="col-lg-6">
    <div class="form-check">
      {% if form.is_bound %}
        {% if form.show_statistics.errors %}
          {% render_field form.show_statistics class="form-check-input is-invalid" %}
          {% for e in form.show_statistics.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
        {% else %}
          {% render_field form.show_statistics class="form-check-input is-valid" %}
        {% endif %}
      {% else %}
        {% render_field form.show_statistics class="form-check-input" %}
      {% endif %}
      <label class="form-check-label" for="{{ form.show_statistics.auto_id }}">
        Show statistics on profile
      </label>
    </div>
    <div class="form-text">
      {{ form.show_statistics.help_text }}
    </div>
  </div>

  <!-- Private notes checkbox -->
  <div class="col-lg-6">
    <div class="form-check">
      {% if form.is_bound %}
        {% if form.private_notes.errors %}
          {% render_field form.private_notes class="form-check-input is-invalid" %}
          {% for e in form.private_notes.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
        {% else %}
          {% render_field form.private_notes class="form-check-input is-valid" %}
        {% endif %}
      {% else %}
        {% render_field form.private_notes class="form-check-input" %}
      {% endif %}
      <label class="form-check-label" for="{{ form.private_notes.auto_id }}">
        Keep notes private
      </label>
    </div>
    <div class="form-text">
      {{ form.private_notes.help_text }}
    </div>
  </div>
</div>


<!-- Settings title -->
<div class="bg-light border rounded fs-5 p-2 mb-3 mt-4">
  Settings
</div>

<!-- Units/timezone block -->
<div class="row mb-3 px-2 g-3">
  <div class="col">
    <!-- Units -->
    <label class="form-label" for="{{ form.units.auto_id }}">
      Units
    </label>
    {% if form.is_bound %}
      {% if form.units.errors %}
        {% render_field form.units class="form-select is-invalid" %}
        {% for e in form.units.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.units class="form-select is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.units class="form-select" %}
    {% endif %}
    <div class="form-text">
      {{ form.units.help_text }}
    </div>
  </div>

  <!-- Timezone -->
  <div class="col-xl-6">
    <label class="form-label" for="{{ form.timezone.auto_id }}">
      Timezone
    </label>
    {% if form.is_bound %}
      {% if form.timezone.errors %}
        {% render_field form.timezone class="form-select is-invalid" %}
        {% for e in form.timezone.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.timezone class="form-select is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.timezone class="form-select" %}
    {% endif %}
    <div class="form-text">
      {{ form.timezone.help_text }}
    </div>
  </div>
</div>

<div class="mb-3"></div>
