{% load widget_tweaks %}

<!-- Hidden fields -->
{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

<div class="row row-cols-1 row-cols-lg-2 mb-3 px-2 g-3">
  <div class="col">
    <label class="form-label" for="{{ form.location.auto_id }}">
      Location
    </label>
    {% if form.is_bound %}
      {% if form.location.errors %}
        {% render_field form.location class="form-control is-invalid" %}
        {% for e in form.location.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.location class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.location class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.location.help_text }}
    </div>
  </div>

  <div class="col">
    <label class="form-label" for="{{ form.country.auto_id }}">
      Country
    </label>
    {% if form.is_bound %}
      {% if form.country.errors %}
        {% render_field form.country class="form-select is-invalid" %}
        {% for e in form.country.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.country class="form-select is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.country class="form-select" %}
    {% endif %}
    <div class="form-text">
      {{ form.country.help_text }}
    </div>
  </div>
</div>

<div class="row mb-3 px-2 g-3">
  <div class="col">
    <!-- Caving clubs -->
    <label class="form-label" for="{{ form.clubs.auto_id }}">
      Club(s)
    </label>
    {% if form.is_bound %}
      {% if form.clubs.errors %}
        {% render_field form.clubs class="form-control is-invalid" %}
        {% for e in form.clubs.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.clubs class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.clubs class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.clubs.help_text }}
    </div>
  </div>
</div>

<hr class="my-4" />

<!-- Profile page title -->
<div class="row mb-3 px-2 g-3">
  <div class="col">
    <label class="form-label" for="{{ form.page_title.auto_id }}">
      Profile page title
    </label>
    {% if form.is_bound %}
      {% if form.page_title.errors %}
        {% render_field form.page_title class="form-control is-invalid" %}
        {% for e in form.page_title.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.page_title class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.page_title class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.page_title.help_text }}
    </div>
  </div>
</div>

<!-- Biography -->
<div class="row mb-3 px-2 g-3">
  <div class="col">
    <label class="form-label" for="{{ form.bio.auto_id }}">
      Biography
    </label>
    {% if form.is_bound %}
      {% if form.bio.errors %}
        {% render_field form.bio class="form-control is-invalid" %}
        {% for e in form.bio.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.bio class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.bio class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.bio.help_text }}
      You can use <a target="_blank" href="https://www.markdownguide.org/basic-syntax/">Markdown</a> to apply styling.
    </div>
  </div>
</div>
