{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

<div class="row mb-3 px-2 g-3">
  <div class="col">
    <label class="form-label" for="{{ form.name.auto_id }}">
      Name
    </label>
    {% if form.is_bound %}
      {% if form.name.errors %}
        {% render_field form.name class="form-control is-invalid" %}
        {% for e in form.name.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.name class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.name class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.name.help_text }}
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-lg-2 mb-3 px-2 g-3">
  <div class="col">
    <label class="form-label" for="{{ form.email.auto_id }}">
      Email
    </label>
    {% if form.is_bound %}
      {% if form.email.errors %}
        {% render_field form.email class="form-control is-invalid" %}
        {% for e in form.email.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.email class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.email class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.email.help_text }}
    </div>
  </div>

  <div class="col">
    <label class="form-label" for="{{ form.username.auto_id }}">
      Username
    </label>
    {% if form.is_bound %}
      {% if form.username.errors %}
        {% render_field form.username class="form-control is-invalid" %}
        {% for e in form.username.errors %}<div class="invalid-feedback">{{ e }}</div>{% endfor %}
      {% else %}
        {% render_field form.username class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field form.username class="form-control" %}
    {% endif %}
    <div class="form-text">
      {{ form.username.help_text }}
    </div>
  </div>
</div>
