{% load humanize %}
{% load users_tags %}
{% load logger_tags %}

{% for trip in trips %}
  <div class="card shadow mb-4">
    <div class="card-header">
      {% include "includes/trip_header_small.html" %}
    </div>

    <div class="card-body">
      <div class="row row-cols-2 g-3">
        <div class="col">
          <small class="text-muted trip-field">Start</small><br />
          {{ trip.start|naturalday:"D, jS M y"|capfirst }}, {{ trip.start|time:"g:i a" }}
        </div>

        <div class="col">
          <small class="text-muted trip-field">Type</small><br />
          {{ trip.type }}<br />
        </div>

        {% if trip.end %}
          <div class="col">
            <small class="text-muted trip-field">End</small><br />
            {{ trip.end|naturalday:"D, jS M y"|capfirst }}, {{ trip.end|time:"g:i a" }}
          </div>

          <div class="col">
            <small class="text-muted trip-field">Duration</small><br />
            {{ trip.duration_str }}<br />
          </div>
        {% endif %}
      </div>

      {% if trip.cavers or trip.clubs or trip.expedition %}
        <hr>

        <div class="row row-cols-2 g-3">
          {% if trip.cavers %}
            <div class="col">
              <small class="text-muted trip-field">Cavers</small><br />
              {{ trip.cavers }}
            </div>
          {% endif %}

          {% if trip.clubs or trip.expedition %}
            <div class="col">
              {% if trip.clubs and trip.expedition %}
                <small class="text-muted trip-field">Organisations</small><br />
                {{ trip.expedition }}</span>, {{ trip.clubs }}<br />
              {% elif trip.clubs %}
                <small class="text-muted trip-field">Clubs</small><br />
                {{ trip.clubs }}
              {% elif trip.expedition %}
                <small class="text-muted trip-field">Expedition</small><br />
                {{ trip.expedition }}
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if trip.has_distances %}
        <hr>

        <div class="row row-cols-2 g-3">
          {% for name, distance in trip.distances.items %}
            <div class="col">
              <small class="text-muted trip-field">{{ name|capfirst }}</small><br />
              {{ distance|distformat:user.units }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="card-footer">
      <span class="float-start">
        {% with trip.likes_count as likes_count %}
          {% include "includes/htmx_trip_like.html" %}
        {% endwith %}
      </span>

      {% comment %}
        TODO: Refactor comments
        {% if trip.user.allow_comments %}
          <span hx-get="{% url 'log:htmx_trip_comment' trip.pk %}" hx-target="#comment{{ trip.pk }}" class="float-end">
            <span class="text-primary"><i class="bi bi-chat-fill"></i></span>&nbsp; {{ trip.comments_count }}<span class="d-none d-md-inline"> comment{{ trip.comments_count|pluralize }}</span>
          </span>
        {% endif %}
      {% endcomment %}
    </div>
  </div>

  {% comment %} TODO: Refactor comments  <div class="shadow mb-4" id="comment{{ trip.pk }}"></div> {% endcomment %}
{% endfor %}

{% if trips.has_next %}
  <div id="loadMoreTrips" class="text-center">
    <button class="btn btn-primary w-100"
            hx-get="{% url 'log:feed_htmx_view' %}?page={{ trips.next_page_number }}"
            hx-target="#loadMoreTrips"
            hx-swap="outerHTML"
            hx-indicator="#loading">
      Load more trips
    </button>
  </div>
{% endif %}
