{% load users_tags %}
{% load logger_tags %}
<span id="like-button{{ trip.pk }}">
  <a class="text-decoration-none"
     hx-post="{% url 'log:trip_like' trip.pk %}"
     hx-target="#like-button{{ trip.pk }}"
     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
     hx-swap="outerHTML"
     href="#">
    {% if trip.user_liked %}
      <span class="text-primary">
        <i class="bi bi-hand-thumbs-up-fill"></i>
      </span>
    {% else %}
      <span class="text-dark">
        <i class="bi bi-hand-thumbs-up"></i>
      </span>
    {% endif %}
    <span class="text-dark">
      &nbsp;{{ liked_str|get:trip.pk }}
    </span>
  </a>
</span>
