{% load markdownify %}
{% if news %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-muted">
          caves.app news
        </div>

        <div class="card-body">
          {% for item in news %}
            <div class="mb-3">
              <div class="d-flex flex-column border-bottom border-secondary mb-2">
                <strong class="fs-5">{{ item.title }}</strong>
                <small class="text-muted">
                  <i class="bi bi-person"></i> {{ item.author.name }}
                  &middot; {{ item.posted_at|timesince }} ago
                </small>
              </div>
              <p>{{ item.content|markdownify }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
