{% load active_link_tags %}
{% if trip %}
  {% if request.user == trip.user %}
    <div class="card">
      <div class="card-header text-muted">
        Your trip
      </div>

      <nav class="nav nav-pills flex-column m-2">
        <a class="nav-link {% active_link 'log:user' username=request.user.username %}" href="{% url 'log:user' username=request.user.username %}">
          <i class="bi bi-card-list"></i>&nbsp; Trip list
        </a>

        <hr class="m-2">

        <a class="nav-link {% active_link 'log:trip_detail' pk=trip.pk %}" href="{% url 'log:trip_detail' pk=trip.pk %}">
          <i class="bi bi-info-circle"></i>&nbsp; View trip
        </a>

        <a class="nav-link {% active_link 'log:trip_update' pk=trip.pk %}" href="{% url 'log:trip_update' pk=trip.pk %}">
          <i class="bi bi-pencil"></i>&nbsp; Edit trip
        </a>

        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#deleteTripModal">
          <i class="bi bi-x-lg"></i>&nbsp; Delete trip
        </a>

        {% if trip.report %}
          <hr class="m-2">
          <a class="nav-link {% active_link 'log:report_detail' pk=trip.report.pk %}" href="{% url 'log:report_detail' pk=trip.report.pk %}">
            <i class="bi bi-card-text"></i>&nbsp; View trip report
          </a>

          <a class="nav-link {% active_link 'log:report_update' pk=trip.report.pk %}" href="{% url 'log:report_update' pk=trip.report.pk %}">
            <i class="bi bi-pencil"></i>&nbsp; Edit trip report
          </a>

          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#deleteTripReportModal">
            <i class="bi bi-x-lg"></i>&nbsp; Delete trip report
          </a>
        {% else %}
          <hr class="m-2">
          <a class="nav-link {% active_link 'log:report_create' pk=trip.pk %}" href="{% url 'log:report_create' pk=trip.pk %}">
            <i class="bi bi-card-text"></i>&nbsp; Add trip report
          </a>
        {% endif %}
      </nav>
    </div>
  {% else %}
    <div class="card">
      <div class="card-header text-muted">
        Trip by {{ user.name }}
      </div>

      <nav class="nav nav-pills flex-column m-2">
        {% if can_view_profile %}
          <a class="nav-link {% active_link 'log:user' username=user.username %}" href="{% url 'log:user' username=user.username %}">
            <i class="bi bi-card-list"></i>&nbsp; View profile
          </a>
        {% endif %}

        <a class="nav-link {% active_link 'log:trip_detail' pk=trip.pk %}" href="{% url 'log:trip_detail' pk=trip.pk %}">
          <i class="bi bi-info-circle"></i>&nbsp; View this trip
        </a>

        {% if can_add_friend %}
          <a class="nav-link" href="{% url 'users:friends' %}?u={{ user.username }}">
            <i class="bi bi-plus-lg"></i>&nbsp; Add as friend
          </a>
        {% endif %}

        {% if can_view_report %}
          <a class="nav-link {% active_link 'log:report_detail' pk=trip.report.pk %}" href="{% url 'log:report_detail' pk=trip.report.pk %}">
            <i class="bi bi-card-text"></i>&nbsp; View trip report
          </a>
        {% endif %}
      </nav>
    </div>
  {% endif %}

  {% if request.user == trip.user %}
    <div class="modal fade" id="deleteTripModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Delete trip</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the trip to {{ trip.cave_name }} on
            {{ trip.start|date }}? This action is permanent and cannot be undone.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{% url 'log:trip_delete' pk=trip.pk %}">
              <button type="button" class="btn btn-danger">Delete trip</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% if trip.report %}
      <div class="modal fade" id="deleteTripReportModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Delete trip report</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete the trip report for the trip to {{ trip.cave_name }} on
              {{ trip.start|date }}? This action is permanent and cannot be undone.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="{% url 'log:report_delete' pk=trip.report.pk %}">
                <button type="button" class="btn btn-danger">Delete trip report</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endif %}
