{% extends "base.html" %}
{% block title %}caves.app - bad request{% endblock %}
{% block description %}Oops! Something went wrong.{% endblock %}
{% block content %}
<div class="container">
  <div class="col text-center">
    <h1 class="display-4">Oops</h1>
    <p class="fs-4">Something went wrong!</p>
    <p>Please report this via email to <code>admin@caves.app</code>.</p>
    <button class="btn btn-primary btn-lg mt-5" onclick="window.history.back()">Go back</button>
  </div>
</div>
{% endblock %}
