{% extends "_base_http_error.html" %}

{% block title %}caves.app - page not found{% endblock %}
{% block description %}Unfortunately, this page does not seem to exist.{% endblock %}
{% block error_title %}Page not found.{% endblock %}
{% block error_subtitle %}Unfortunately, this page does not seem to exist.{% endblock %}
{% block error_description %}
  If you think it is necessary, you can submit a bug report on
  <a href="https://github.com/anorthall/caves.app/issues/new">GitHub</a>.
{% endblock %}
