{% extends "_base_http_error.html" %}

{% block title %}caves.app - internal server error{% endblock %}
{% block description %}Oops! Something went wrong.{% endblock %}
{% block error_title %}Internal server error.{% endblock %}
{% block error_subtitle %}Something is broken.{% endblock %}
{% block error_description %}
  I've received a report of what caused the error and I will try to fix it as soon as possible.
  If you like, you can submit a bug report on
  <a href="https://github.com/anorthall/caves.app/issues/new/choose">GitHub</a>. Sorry about that!
{% endblock %}
