<span class="float-start">
  {% block footer_left %}
    <span class="d-none d-md-block">
      Copyright &copy; 2023 <a class="text-decoration-none text-white" href="https://northall.me.uk/">Andrew Northall</a>
    </span>

    <span class="d-md-none">
      &copy; 2023 <a class="text-decoration-none text-white" href="https://northall.me.uk/">Andrew Northall</a>
    </span>
  {% endblock %}
</span>
<span class="float-end">
  {% block footer_right %}
    <a href="{% url 'core:news' %}" class="text-decoration-none text-white">News</a>
    <span class="mx-1">&middot;</span>
    <a href="{% url 'core:help' %}" class="text-decoration-none text-white">Help</a>
  {% endblock %}
</span>
