{% load static %}
{% load django_htmx %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}An online caving trip logger. Log your trips, track caving statistics, share your activities with friends, upload your caving photos and more.{% endblock %}">
    <meta name="theme-color" content="{% block theme_color %}#2c3e50{% endblock %}">
    {% block meta_tags %}{% endblock %}

    <title>{% block title %}caves.app{% endblock %}</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">

    <!-- Local styles -->
    <link href="{% static 'css/caves.app.css' %}" rel="stylesheet">

    <!-- Bootstrap v5.3.2 CSS from https://bootswatch.com/ -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Bootstrap Icons v1.11.1 -->
    <link rel="stylesheet" href="{% static "bootstrap-icons/bootstrap-icons.min.css" %}">

    {% block stylesheets %}{% endblock %}

    <!-- HTMX v1.9.7 JS -->
    <script src="{% static "js/htmx.min.js" %}"></script>
    <script src="{% static "js/htmx-alpine-morph.js" %}"></script>
    {% django_htmx_script %}

    <!-- Bootstrap v5.3.2 JS -->
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

    <!-- Alpine 3.13.2 JS -->
    <script defer src="{% static "js/alpine-focus-plugin.min.js" %}"></script>
    <script defer src="{% static "js/alpine-morph-plugin.min.js" %}"></script>
    <script defer src="{% static "js/alpine.min.js" %}"></script>

    {% if google_analytics_id %}
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ google_analytics_id }}');
      </script>
    {% endif %}

    {% block header_scripts %}{% endblock %}
  </head>

  <body class="d-flex flex-column h-100" hx-boost="true" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div id="blurContainer"></div>

    {% block body %}{% endblock body %}

    {% block modals %}{% endblock %}
    {% block footer_scripts %}{% endblock %}
  </body>
</html>
