{% load active_link_tags %}
<button class="navbar-toggler order-1" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="mainNavbar">
  <ul class="navbar-nav w-100 d-lg-flex {% if user.is_authenticated %}justify-content-center{% else %}justify-content-end{% endif %} mx-lg-5 w-100">
    {% if user.is_authenticated %}
      {% comment %}  Authenticated user links  {% endcomment %}
      <li class="nav-item">
        <a class="nav-link {% active_link 'log:trip_create' %}" href="{% url 'log:trip_create' %}">
          <i class="bi bi-plus-circle"></i> Add
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% active_link 'log:index' %}" href="{% url 'log:index' %}">
          <i class="bi bi-people-fill"></i> Recent
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% active_link 'log:user' username=user.username %}" href="{% url 'log:user' username=user.username %}">
          <i class="bi bi-card-list"></i> Trips
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% active_link 'log:statistics' %}" href="{% url 'log:statistics' %}">
          <i class="bi bi-bar-chart"></i> Statistics
        </a>
      </li>
    {% else %}
      {% comment %}  Unregistered/Unauthenticated user links  {% endcomment %}
      <li class="nav-item">
        <a class="nav-link {% active_link 'users:login' %}" href="{% url 'users:login' %}">
          <i class="bi bi-person-circle"></i> Login
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% active_link 'users:register' %}" href="{% url 'users:register' %}">
          <i class="bi bi-house"></i> Register
        </a>
      </li>
    {% endif %}
  </ul>
</div>

{% if user.is_authenticated %}
  <div class="d-flex flex-row justify-content-center align-items-center order-0 ms-auto me-2">
    {% if user.is_staff %}
      <div class="me-3">
        <a href="{% url 'admin:index' %}" class="nav-link text-white">
          <i class="bi bi-gear-fill"></i>
        </a>
      </div>
    {% endif %}

    <div>
      <a href="{% url 'users:account_detail' %}" class="nav-link text-white">
        {% if user.avatar %}
          <img src="{{ user.avatar_navbar.url }}" class="rounded-circle border border-dark" alt="User avatar">
        {% else %}
          <i class="bi bi-person-circle"></i>
        {% endif %}
      </a>
    </div>

    {% if notifications.list %}
      <div class="dropdown ms-3">
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown">
          <span class="icon-badge-container text-white">
            {% if notifications.unread %}
              <i class="bi bi-bell-fill icon-badge-icon"></i>
              <span class="icon-badge">{{ notifications.unread }}</span>
            {% else %}
              <i class="bi bi-bell"></i>
            {% endif %}
          </span>
        </a>

        <ul class="dropdown-menu dropdown-menu-end navbar-dropdown border border-2 bg-light py-2">
          <li>
            <div class="dropdown-item dropdown-title my-0">
              Notifications
            </div>
          </li>

          {% for notification in notifications.list %}
            <hr class="dropdown-divider">

            <li>
              <div data-href="{% url 'users:notification' pk=notification.pk %}" class="dropdown-item text-primary my-0">
                <span{% if not notification.read %} class="fw-bold"{% endif %}>{{ notification.message }}</span>
                <br />
                <small class="text-muted">
                  {{ notification.added|timesince }} ago
                </small>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </ul>
{% endif %}
