{% load active_link_tags %}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="mainNavbar">
  <ul class="navbar-nav w-100 d-lg-flex {% if user.is_authenticated %}justify-content-center{% else %}justify-content-end{% endif %} mx-lg-5 w-100">
    {% if user.is_authenticated %}
      {% comment %}  Authenticated user links  {% endcomment %}
      <li class="nav-item">
        <a class="nav-link {% active_link 'log:trip_create' %}" href="{% url 'log:trip_create' %}">
          <i class="bi bi-plus-circle"></i> Add
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% active_link 'log:index' %}" href="{% url 'log:index' %}">
          <i class="bi bi-people-fill"></i> Recent
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% active_link 'log:user' username=user.username %}" href="{% url 'log:user' username=user.username %}">
          <i class="bi bi-card-list"></i> Trips
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% active_link 'log:statistics' %}" href="{% url 'log:statistics' %}">
          <i class="bi bi-bar-chart"></i> Statistics
        </a>
      </li>

      <li class="nav-item d-lg-none">
        <a class="nav-link {% active_link 'users:account_detail' %}" href="{% url 'users:account_detail' %}">
          <i class="bi bi-person-circle"></i> Account
        </a>
      </li>
    {% else %}
      {% comment %}  Unregistered/Unauthenticated user links  {% endcomment %}
      <li class="nav-item">
        <a class="nav-link {% active_link 'users:login' %}" href="{% url 'users:login' %}">
          <i class="bi bi-person-circle"></i> Login
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% active_link 'users:register' %}" href="{% url 'users:register' %}">
          <i class="bi bi-house"></i> Register
        </a>
      </li>
    {% endif %}
  </ul>

  <ul class="navbar-nav d-flex flex-row">
    {% include "_notifications.html" %}
    {% if user.is_authenticated %}
      {% if user.avatar %}
        <li class="p-0 nav-item align-self-center justify-self-center d-none d-lg-block">
          <a href="{% url 'users:account_detail' %}" class="nav-link">
            <img src="{{ user.avatar_navbar.url }}" class="rounded-circle border border-dark" alt="User avatar">
          </a>
        </li>
      {% else %}
        <li class="nav-item p-0">
          <a href="{% url 'users:account_detail' %}" class="nav-link d-none d-lg-block">
            <i class="bi bi-person-circle"></i>
          </a>
        </li>
      {% endif %}
    {% endif %}

  </ul>
</div>
