{% load active_link_tags %}
{% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link {% active_link 'log:user' username=user.username %}" href="{% url 'log:user' username=user.username %}">
      <i class="bi bi-person-fill"></i> Profile
    </a>
  </li>

    <li class="nav-item">
    <a class="nav-link {% active_link 'log:index' %}" href="{% url 'log:index' %}">
      <i class="bi bi-card-list"></i> Feed
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link {% active_link 'stats:index' %}" href="{% url 'stats:index' %}">
      <i class="bi bi-bar-chart"></i> Statistics
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link {% active_link 'log:trip_create' %}" href="{% url 'log:trip_create' %}">
      <i class="bi bi-plus-circle"></i> Add
    </a>
  </li>
{% else %}
  <li class="nav-item">
    <a class="nav-link {% active_link 'users:login' %}" href="{% url 'users:login' %}">
      <i class="bi bi-person-circle"></i> Login
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link {% active_link 'users:register' %}" href="{% url 'users:register' %}">
      <i class="bi bi-house"></i> Register
    </a>
  </li>
{% endif %}
