{% load active_link_tags %}
{% if user.is_authenticated %}
  <a class="nav-link {% active_link 'log:index' %}" href="{% url 'log:index' %}">
    <i class="bi bi-house-fill"></i><span class="nav-link-text"> Feed</span>
  </a>

  <a class="nav-link {% active_link 'log:user' user.username %}" href="{% url 'log:user' user.username %}">
    <i class="bi bi-person-circle"></i><span class="nav-link-text"> Profile</span>
  </a>

  <a class="nav-link {% active_link 'stats:index' %}" href="{% url 'stats:index' %}" hx-boost="false">
    <i class="bi bi-bar-chart-fill"></i><span class="nav-link-text"> Statistics</span>
  </a>

  <a class="nav-link {% active_link 'log:trip_create' %}" href="{% url 'log:trip_create' %}">
    <i class="bi bi-plus-circle-fill"></i><span class="nav-link-text"> Add trip</span>
  </a>
{% else %}
  <a class="nav-link {% active_link 'users:login' %}" href="{% url 'users:login' %}">
    <i class="bi bi-person-circle"></i><span class="nav-link-text"> Login</span>
  </a>

  <a class="nav-link {% active_link 'users:register' %}" href="{% url 'users:register' %}">
    <i class="bi bi-house-fill"></i><span class="nav-link-text"> Register</span>
  </a>
{% endif %}
