{% if notifications.list %}
  <li class="nav-item dropdown pe-1">
    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown">
      <span class="d-none d-lg-block icon-badge-container">
        {% if notifications.unread %}
          <i class="bi bi-bell-fill icon-badge-icon"></i>
          <span class="icon-badge d-none d-lg-block">{{ notifications.unread }}</span>
        {% else %}
          <i class="bi bi-bell"></i>
        {% endif %}
      </span>

      <span class="d-lg-none">
        <i class="bi bi-bell"></i> Notifications
        {% if notifications.unread %}
          ({{ notifications.unread }})
        {% endif %}
      </span>

    </a>
    <ul class="dropdown-menu dropdown-menu-end navbar-dropdown bg-light p-0">
      {% for notification in notifications.list %}
        {% if forloop.counter > 1 %}
          <hr class="dropdown-divider">
        {% endif %}
        <li>
          <div data-href="{% url 'users:notification' pk=notification.pk %}" class="dropdown-item text-dark my-0">
            <span{% if not notification.read %} class="fw-bold"{% endif %}>{{ notification.message }}</span>
            <br />
            <small class="text-muted">
              {{ notification.added|timesince }} ago
            </small>
          </div>
        </li>
      {% endfor %}
    </ul>
  </li>
{% endif %}
