{% load active_link_tags %}

{% if user.is_authenticated %}
  <span class="nav-item sidebar-header">Trips</span>

  <a class="nav-link {% active_link 'log:caver_list' %}" href="{% url 'log:caver_list' %}">
    <i class="bi bi-people-fill"></i> Cavers
  </a>

  <a class="nav-link {% active_link 'log:search' %} {% active_link 'log:search_results' %}" href="{% url 'log:search' %}">
    <i class="bi bi-search"></i> Search
  </a>

  <a class="nav-link {% active_link 'maps:index' %}" href="{% url 'maps:index' %}">
    <i class="bi bi-map"></i> Map
  </a>
{% endif %}

<span class="nav-item sidebar-header mt-4">caves.app</span>
{% if not user.is_authenticated %}
  <a class="nav-link" href="{% url 'users:login' %}">
    <i class="bi bi-person-circle"></i> Sign in
  </a>

  <a class="nav-link" href="{% url 'users:register' %}">
    <i class="bi bi-house"></i> Register
  </a>
{% endif %}

<a class="nav-link{% if trip %} d-none d-lg-block{% endif %} {% active_link 'core:news' %}" href="{% url 'core:news' %}">
  <i class="bi bi-newspaper"></i> News
</a>

<a class="nav-link{% if trip %} d-none d-lg-block{% endif %} {% active_link 'core:help' %}" href="{% url 'core:help' %}">
  <i class="bi bi-question-circle"></i> Help
</a>
