{% extends "_minimal.html" %}
{% load static %}

{% block data-bs-theme %}light{% endblock %}
{% block data-bs-theme-js %}{% endblock %}

{% block body %}
  <main hx-boost="false" class="home">
    <div id="homepage-banner">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 mx-auto">
            <h1 class="display-1 fs-1 fw-bold">
              {% block banner_title %}<a href="/" class="text-light text-decoration-none">caves.app</a>{% endblock %}
            </h1>
            <h2 class="fs-3 display-3">
              {% block banner_subtitle %}{% endblock %}
            </h2>
          </div>
          {% block banner_buttons %}{% endblock %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row {% if not form.errors and not messages %}my-5{% endif %}">
        <div class="col-12 col-md-8 mx-auto">
          <div class="{% block content_class %}text-limit-length{% endblock %}">
            {% if form.errors or messages %}
              <div class="mt-5 mb-4">
                {% include "_messages.html" %}
              </div>
            {% endif %}

            {% block content %}{% endblock %}

            <footer class="text-muted mt-5">
              {% block footer %}
                Created by <a class="text-muted" href="https://buymeacoffee.com/anorthall">Andrew Northall</a>
                <span class="mx-1">&middot;</span>
                <a class="text-muted" href="{% url 'core:help' %}">Need help?</a>
              {% endblock %}
            </footer>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
