{% extends "_minimal.html" %}
{% load core_tags %}

{% block body %}
  <header>
    {% if user.is_authenticated %}
      <!-- Navbar -->
      <div id="navbarContainer" class="fixed-top">
        <nav class="navbar navbar-expand navbar-dark" id="navbarContentContainer">
          <div class="site-title fs-3">
            <a href="/">{{ site_title }}</a>
          </div>

          <div class="navbar-nav justify-content-center align-items-center flex-grow-1" id="navbarLinks">
            {% include "_navbar_links.html" %}
          </div>

          <div class="d-flex flex-row justify-content-center align-items-center ms-auto me-2">
            <div class="ms-3">
              <a href="{% url 'log:user' user.username %}" class="nav-link">
                {% if user.avatar %}
                  <img src="{{ user.avatar|imgproxy:"preset:avatar_navbar" }}" width="40" height="40" class="border border-primary rounded-circle" alt="Your avatar">
                {% else %}
                  <i class="bi bi-person-circle"></i>
                {% endif %}
              </a>
            </div>

            <div x-data="{ open: false }">
              <a id="hamburgerMenuIcon" class="text-white" href="#" role="button" x-on:click="open = !open" x-trap.noscroll="open"
                @resize.window="width = (window.innerWidth > 0) ? window.innerWidth : screen.width; if (width > 992) { open = false }">
                <i class="bi bi-list"></i>
              </a>

              <div class="hamburger-menu-container" x-show="open" @click.outside="open = false" x-cloak x-transition.scale.20.origin.top.right>
                <nav class="hamburger-menu left">
                  <span class="nav-item sidebar-header">Navigation</span>

                  {% include "_navbar_links.html" %}
                  {% include "_sidebar.html" %}
                </nav>

                {% block hamburger_menu_right_container %}
                  <nav class="hamburger-menu right">
                    {% block hamburger_menu_right %}{% endblock %}
                  </nav>
                {% endblock %}
              </div>
            </div>
          </div>
        </nav>
      </div>

    {% else %}
      <nav class="navbar navbar-expand-sm navbar-light py-2" id="navbarContainer">
        <div class="container d-flex justify-content-between">
          <a class="site-title fs-3" href="/">{% if debug %}devel.app{% else %}caves.app{% endif %}</a>
          <a class="nav-link text-white text-decoration-none" href="{% url 'users:login' %}">Login</a>
        </div>
      </nav>
    {% endif %}

    <!-- Messages -->
    {% include "_messages.html" %}
  </header>

  <main id="mainContainer">
    {% block content %}{% endblock %}
  </main>

  <div id="footerContainer">
    {% include "_footer.html" %}
  </div>
{% endblock body %}
