{% extends "minimal.html" %}

{% block body %}
  <header class="mb-auto">
    <div class="bg-primary">
      <nav class="navbar navbar-expand-lg navbar-dark center-container mx-auto py-3">
        {% include "navbar_items.html" %}
      </nav>
    </div>
  </header>

  <main class="flex-shrink-0 my-4">
    <div class="center-container d-flex flex-column h-100 w-100 mx-auto p-3">
      <h1 class="fs-3 mb-3 border-bottom pb-2 text-center">
        {% block display_title %}caves.app{% endblock %}
      </h1>

      <div class="w-100">
        {% include "messages.html" %}
      </div>

      <div class="my-3">
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <footer class="footer mt-auto py-3 border-top bg-primary text-white">
    <div class="center-container mx-auto">
      <span class="float-start">
        {% block footer_left %}
          <span class="d-none d-md-block">
            Copyright &copy; 2023 <a class="text-decoration-none text-white" href="https://northall.me.uk/">Andrew Northall</a>
          </span>

          <span class="d-md-none">
            &copy; 2023 <a class="text-decoration-none text-white" href="https://northall.me.uk/">Andrew Northall</a>
          </span>
        {% endblock %}
      </span>
      <span class="float-end">
        {% block footer_right %}
          <a href="{% url 'core:help' %}" class="text-decoration-none text-white">Help</a>{% if user.is_authenticated %}<span class="mx-2">&middot;</span><a href="{% url 'core:about' %}" class="text-decoration-none text-white">About</a>{% endif %}
        {% endblock %}
      </span>
    </div>
  </footer>
{% endblock body %}
