{% extends "minimal.html" %}
{% load static %}
{% block body %}

{% include "navbar.html" %}

<main class="flex-shrink-0 my-4">
  {% include "messages.html" %}

  <!-- Content start -->
  {% block content %}
  {% endblock %}
  <!-- Content end -->

</main>

<!-- Footer start-->
<footer class="footer mt-auto py-3 border-top bg-primary text-white">
  <div class="container">
    <span class="float-start">
      {% block footer_left %}
        <span class="d-none d-md-block">
          Copyright &copy; 2023 <a class="text-decoration-none text-white" href="https://northall.me.uk/">Andrew Northall</a>
        </span>

        <span class="d-md-none">
          &copy; 2023 <a class="text-decoration-none text-white" href="https://northall.me.uk/">Andrew Northall</a>
        </span>
      {% endblock %}
    </span>
    <span class="float-end">
      {% block footer_right %}
        <a href="{% url 'core:help' %}" class="text-decoration-none text-white">Help</a>{% if request.user.is_authenticated %}<span class="mx-2">&middot;</span><a href="{% url 'core:about' %}" class="text-decoration-none text-white">About</a>{% endif %}
      {% endblock %}
    </span>
  </div>
</footer>
<!-- Footer end -->
{% endblock body %}
