{% extends "minimal.html" %}

{% block body %}
  <header class="mb-auto">
    <div class="bg-primary">
      <nav class="navbar navbar-expand-lg navbar-dark center-container mx-auto py-3">
        {% include "includes/navbar_brand.html" %}
        {% include "includes/navbar_items.html" %}
      </nav>
    </div>
  </header>

  <main class="flex-shrink-0 my-4">
    <div class="center-container d-flex flex-column h-100 w-100 mx-auto p-3">
      <h1 class="fs-3 mb-3 border-bottom pb-2 text-center">
        {% block display_title %}caves.app{% endblock %}
      </h1>

      <div class="w-100">
        {% include "includes/messages.html" %}
      </div>

      <div class="my-3">
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <footer class="footer mt-auto py-3 border-top bg-primary text-white">
    <div class="center-container mx-auto">
      {% include "includes/footer.html" %}
    </div>
  </footer>
{% endblock body %}
