{% extends "base.html" %}
{% load active_link_tags %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="base-col col-lg-9">
      {% block main %}{% endblock %}
    </div>

    <div class="base-col col-lg-3 mb-4 order-last order-lg-last">
      <div class="container p-0">
        {% include "sidebar_core.html" %}
        {% block sidebar %}{% endblock %}

        {% if request.user.is_staff %}
          {% include "sidebar_admin.html" %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
