{% extends "base.html" %}

{% block content %}
  <div class="d-flex flex-row h-100 mt-3">
    <!-- Sidebar -->
    <div class="d-none d-md-block" id="sidebarContainer">
      <div class="pe-4 border-end border-2 h-100">
        <nav id="sidebar" class="nav nav-light nav-pills d-flex flex-column">
          {% block sidebar %}{% endblock %}
        </nav>
      </div>
    </div>

    <!-- Main content -->
    <div class="ps-0 ps-md-4 d-block h-100 w-100" id="mainContent">
      {% block main %}{% endblock %}
    </div>
  </div>
{% endblock %}
