{% load active_link_tags %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container d-flex">
      <a class="navbar-brand fs-3 fw-bolder align-self-middle" href="/">{% if debug %}dev-{% endif %}caves.app</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ms-auto">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% active_link 'log:trip_create' %}" href="{% url 'log:trip_create' %}">
                <i class="bi bi-plus-circle"></i>&nbsp; Add
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link {% active_link 'log:user' username=request.user.username %}" href="{% url 'log:user' username=request.user.username %}">
                <i class="bi bi-card-list"></i>&nbsp; Trips
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link {% active_link 'log:statistics' %}" href="{% url 'log:statistics' %}">
                <i class="bi bi-bar-chart"></i>&nbsp; Statistics
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link {% active_link 'users:friends' %}" href="{% url 'users:friends' %}">
                <i class="bi bi-people"></i>&nbsp; Friends
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link {% active_link 'users:account' %}" href="{% url 'users:account' %}">
                <i class="bi bi-person-circle"></i>&nbsp; Account
              </a>
            </li>
          {% else %}
            {% include "navbar_unregistered.html" %}
          {% endif %}

          {% if request.user.is_superuser %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% active_link 'log:admin_tools' %}" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-gear"></i>&nbsp; Admin
              </a>
              <ul class="dropdown-menu dropdown-menu-end navbar-dropdown bg-light p-0">
                <li>
                  <a class="dropdown-item fw-normal text-dark" href="{% url 'admin:index' %}">
                    <i class="bi bi-gear"></i>&nbsp; Admin
                  </a>
                </li>

                <li>
                  <a class="dropdown-item fw-normal text-dark {% active_link 'log:admin_tools' %}" href="{% url 'log:admin_tools' %}">
                    <i class="bi bi-tools"></i>&nbsp; Tools
                  </a>
                </li>

                <li>
                  <a class="dropdown-item fw-normal text-dark" href="https://github.com/anorthall/caves.app">
                    <i class="bi bi-github"></i>&nbsp; GitHub
                  </a>
                </li>

                <li>
                  <a class="dropdown-item fw-normal text-dark" href="https://stats.caver.dev/caves.app">
                    <i class="bi bi-graph-up"></i>&nbsp; Analytics
                  </a>
                </li>
              </ul>
            </li>
          {% endif %}

          {% include "notifications.html" %}
        </ul>
      </div>
    </div>
  </nav>
</header>
