{% load active_link_tags %}
<li class="nav-item">
  <a class="nav-link {% active_link 'users:login' %}" href="{% url 'users:login' %}">
    <i class="bi bi-person-circle"></i>&nbsp; Login
  </a>
</li>

<li class="nav-item">
  <a class="nav-link {% active_link 'users:register' %}" href="{% url 'users:register' %}">
    <i class="bi bi-house"></i>&nbsp; Register
  </a>
</li>

<li class="nav-item">
  <a class="nav-link {% active_link 'core:about' %}" href="{% url 'core:about' %}">
    <i class="bi bi-info-circle"></i>&nbsp; About
  </a>
</li>
