{% load active_link_tags %}
<div class="card mt-lg-0">
  <div class="card-header text-center">
    Navigation
  </div>

  <nav class="nav nav-pills flex-column m-2">
    <a class="nav-link {% active_link 'log:index' %}" href="{% url 'log:index' %}">
      <i class="bi bi-house"></i>&nbsp; Home
    </a>

    <a class="nav-link {% active_link 'log:about' %}" href="{% url 'log:about' %}">
      <i class="bi bi-info-lg"></i>&nbsp; About
    </a>

    <a class="nav-link {% active_link 'log:trip_list' %}" href="{% url 'log:trip_list' %}">
      <i class="bi bi-list"></i>&nbsp; Trips
    </a>

    <a class="nav-link {% active_link 'users:profile' %}" href="{% url 'users:profile' %}">
      <i class="bi bi-person-circle"></i>&nbsp; Account
    </a>

    {% if request.user.is_public %}
      <a class="nav-link" target="_blank" href="{% url 'public:user' request.user.username %}">
        <i class="bi bi-globe"></i>&nbsp; Public profile
      </a>
    {% endif %}

    <a class="nav-link {% active_link 'users:logout' %}" href="{% url 'users:logout' %}">
      <i class="bi bi-pencil-square"></i>&nbsp; Sign out
    </a>
  </nav>
</div>
