{% load active_link_tags %}
<div class="card mt-4">
  <div class="card-header text-center">
    Administration
  </div>

  <nav class="nav nav-pills flex-column m-2">
    <a class="nav-link" href="{% url 'admin:index' %}">
      <i class="bi bi-gear"></i>&nbsp; Admin
    </a>

    <a class="nav-link {% active_link 'log:admin_tools' %}" href="{% url 'log:admin_tools' %}">
      <i class="bi bi-tools"></i>&nbsp; Tools
    </a>

    <a class="nav-link" href="https://github.com/anorthall/caves.app">
      <i class="bi bi-github"></i>&nbsp; GitHub
    </a>

    <a class="nav-link" href="https://stats.caver.dev/caves.app">
      <i class="bi bi-graph-up"></i>&nbsp; Analytics
    </a>
  </nav>
</div>
