{% load active_link_tags %}
<div class="card mt-4">
  <div class="card-header text-center">
    Logger
  </div>

  <nav class="nav nav-pills flex-column m-2">
    {% if trip %}
      <a class="nav-link {% active_link 'log:trip_detail' pk=trip.pk %}" href="{% url 'log:trip_detail' pk=trip.pk %}">
        <i class="bi bi-info-circle"></i>&nbsp; View this trip
      </a>

      <a class="nav-link {% active_link 'log:trip_update' pk=trip.pk %}" href="{% url 'log:trip_update' pk=trip.pk %}">
        <i class="bi bi-pencil"></i>&nbsp; Edit this trip
      </a>

      <a class="nav-link {% active_link 'log:trip_delete' pk=trip.pk %}" href="{% url 'log:trip_delete' pk=trip.pk %}">
        <i class="bi bi-x-lg"></i>&nbsp; Delete this trip
      </a>

      <hr class="m-2">
    {% endif %}

    <a class="nav-link {% active_link 'log:trip_create' %}" href="{% url 'log:trip_create' %}">
      <i class="bi bi-plus-lg"></i>&nbsp; Add a trip
    </a>

    <a class="nav-link {% active_link 'log:export' %}" href="{% url 'log:export' %}">
      <i class="bi bi-download"></i>&nbsp; Export trips
    </a>
  </nav>
</div>
